<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/xadmin/css/font.css}">
    <link rel="stylesheet" th:href="@{/xadmin/css/xadmin.css}">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 15px;">
                    <form class="layui-form" lay-filter="unaBaseForm" enctype="multipart/form-data">

                        <input th:if="${sample['id']!=null}" type="hidden" th:value="${sample['id'] }" id="hiddenObjId" name="id">
                        <input th:if="${sample['batch']!=null}" type="hidden" th:value="${sample['ids'] }" id="hiddenObjIds" name="ids">
                        <!--                <input th:if="${sysResponseParameter.sysEntity.isVirtual == 1}" type="hidden" value="/sys/data/querySinglePrivate" id="queryUrlInForm">-->
                        <input th:if="${sysResponseParameter.sysEntity.isVirtual == 1}" type="hidden" value="/sys/data/saveData" id="saveUrlInForm">
                        <input th:if="${sysResponseParameter.sysEntity.isVirtual == 1}" type="hidden" th:value="${sysResponseParameter.sysEntity.id}" name="entityId">

                        <div class="layui-card table">
                            <!--<div class="layui-card-header">表格相关</div>-->
                            <div class="layui-card-body">

                                <div th:each="record : ${sysFieldList}" class="layui-form-item" th:switch="${record['assignmentModeDcode']}">
                                    <fieldset th:if="${record['groupName'] != null && record['groupName'] != ''}" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                                        <legend>[[${record['groupName']}]]</legend>
                                    </fieldset>
                                    <label class="layui-form-label" th:text="${record['name']}" th:if="${record['assignmentType'] != '自动赋值' }"></label>
                                    <div th:case="field_assignment_text"  class="layui-input-block">
                                        <input type="text"
                                               class="layui-input"
                                               th:id="${record['id']}"
                                               th:lay-verify="${record.formatDetectionTypeDcodes}"
                                               th:name="${record['assignmentCode']}"
                                               th:placeholder="${'请输入'+record['name']}"
                                               th:value="${record['defaultValue']!=null&& #strings.contains(record['defaultValue'],'$u')?activeUser[#strings.substringAfter(record['defaultValue'],'.')]:record['defaultValue']}">
                                    </div>

                                    <div th:case="field_assignment_textarea"  class="layui-input-block">
                                        <textarea th:lay-verify="${record.formatDetectionTypeDcodes}"
                                                  class="layui-textarea"
                                                  th:id="${record['id']}"
                                                  th:name="${record['assignmentCode']}"
                                                  th:placeholder="${'请输入'+record['name']}"></textarea>
                                    </div>

                                    <div th:case="field_assignment_editor"  class="layui-input-block">
                                        <!--富文本-->
                                        <textarea class="layedit"
                                                  th:lay-verify="${record.formatDetectionTypeDcodes}"
                                                  th:name="${record['assignmentCode']}"
                                                  th:id="${record['id']}"></textarea>
                                    </div>

                                    <div th:case="field_assignment_switch"  class="layui-input-block">
                                        <input class=""
                                               th:id="${record['id']}"
                                               type="checkbox"
                                               th:name="${record['assignmentCode']}"
                                               lay-skin="switch"
                                               lay-text="是|否"
                                               value="1">
                                    </div>

                                    <div th:case="field_assignment_radio"  class="layui-input-block">
                                        <input th:each="option:${record.radioOptionArray}"
                                               type="radio"
                                               th:name="${record['assignmentCode']}"
                                               th:id="${record['id']}"
                                               th:value="${option}" th:title="${option}">
                                    </div>

                                    <div th:case="field_assignment_singleselect"  class="layui-input-inline">
                                        <select th:class="'una-select una-select-linkage'+${record['switchHideOption']!=null?' una-switch-hide':''}" lay-search=""
                                                th:lay-verify="${record.formatDetectionTypeDcodes}"
                                                th:id="${record['id']}"
                                                th:name="${record['assignmentCode']}"
                                                th:data-url="${record['optionEntityPath']}"
                                                th:data-sub_id="${record.selectSubIds}"
                                                th:data-param_name="${record['optionParamName']}"
                                                th:data-param_value="${record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$s')?sample[#strings.substringAfter(record['optionParamValue'],'.')]:
                                                record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$u')?activeUser[#strings.substringAfter(record['optionParamValue'],'.')]:record['optionParamValue']}"
                                                th:data-option_name_field_title="${record['optionNameFieldCode']}"
                                                th:data-option_value_field_title="${record['optionValueFieldCode']}"
                                                th:data-switch_hide_ids="${record['switchHideIds']}"
                                                th:data-switch_hide_option="${record['switchHideOption']}">
                                        </select>
                                    </div>

                                    <div th:case="field_assignment_multiSelect"  class="layui-input-block">
                                        <div class="una-select-multiple una-select-linkage"
                                             lay-search=""
                                             th:lay-verify="${record.formatDetectionTypeDcodes}"
                                             th:id="${record['id']}"
                                             th:name="${record['assignmentCode']}"
                                             th:data-sub_id="${record.selectSubIds}"
                                             th:data-param_name="${record['optionParamName']}"
                                             th:data-param_value="${record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$s')?sample[#strings.substringAfter(record['optionParamValue'],'.')]:
                                                record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$u')?activeUser[#strings.substringAfter(record['optionParamValue'],'.')]:record['optionParamValue']}"
                                             th:data-option_name_field_title="${record['optionNameFieldCode']}"
                                             th:data-option_value_field_title="${record['optionValueFieldCode']}"
                                             th:data-url="${record['optionEntityPath']}">
                                        </div>
                                    </div>

                                    <div th:case="地区三级联动"  class="layui-input-inline">
                                        <select class="una-select una-select-linkage" lay-search=""
                                                th:id="${record['id']}_province"
                                                th:name="${record['assignmentCode']}"
                                                th:data-sub_id="${record.selectSubIds}"
                                                th:data-param_name="${record['optionParamName']}"
                                                th:data-param_value="${record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$s')?sample[#strings.substringAfter(record['optionParamValue'],'.')]:
                                                record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$u')?activeUser[#strings.substringAfter(record['optionParamValue'],'.')]:record['optionParamValue']}"
                                                th:data-option_name_field_title="${record['optionNameFieldCode']}"
                                                th:data-option_value_field_title="${record['optionValueFieldCode']}"
                                                th:data-url="${record['optionEntityPath']}">
                                        </select>
                                        <select class="una-select una-select-linkage" lay-search=""
                                                th:lay-verify="${record.formatDetectionTypeDcodes}"
                                                th:id="${record['id']}"
                                                th:name="${record['assignmentCode']}"
                                                th:data-sub_id="${record.selectSubIds}"
                                                th:data-param_name="${record['optionParamName']}"
                                                th:data-param_value="${record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$s')?sample[#strings.substringAfter(record['optionParamValue'],'.')]:
                                                record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$u')?activeUser[#strings.substringAfter(record['optionParamValue'],'.')]:record['optionParamValue']}"
                                                th:data-option_name_field_title="${record['optionNameFieldCode']}"
                                                th:data-option_value_field_title="${record['optionValueFieldCode']}"
                                                th:data-url="${record['optionEntityPath']}">
                                        </select>
                                        <select class="una-select una-select-linkage" lay-search=""
                                                th:lay-verify="${record.formatDetectionTypeDcodes}"
                                                th:id="${record['id']}"
                                                th:name="${record['assignmentCode']}"
                                                th:data-sub_id="${record.selectSubIds}"
                                                th:data-param_name="${record['optionParamName']}"
                                                th:data-param_value="${record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$s')?sample[#strings.substringAfter(record['optionParamValue'],'.')]:
                                                record['optionParamValue']!=null && #strings.contains(record['optionParamValue'],'$u')?activeUser[#strings.substringAfter(record['optionParamValue'],'.')]:record['optionParamValue']}"
                                                th:data-option_name_field_title="${record['optionNameFieldCode']}"
                                                th:data-option_value_field_title="${record['optionValueFieldCode']}"
                                                th:data-url="${record['optionEntityPath']}">
                                        </select>
                                    </div>

                                    <div th:case="field_assignment_date"  class="layui-input-block">
                                        <input class="layui-input una-laydate-date"
                                               th:lay-verify="${record.formatDetectionTypeDcodes}"
                                               th:id="${record['id']}"
                                               type="text"
                                               th:name="${record['assignmentCode']}"
                                               placeholder="yyyy-MM-dd"
                                               autocomplete="off">
                                    </div>

                                    <div th:case="field_assignment_time"  class="layui-input-block">
                                        <input class="layui-input una-laydate-time"
                                               th:lay-verify="${record.formatDetectionTypeDcodes}"
                                               th:id="${record['id']}"
                                               type="text"
                                               th:name="${record['assignmentCode']}"
                                               placeholder="HH:mm:ss"
                                               autocomplete="off">
                                    </div>

                                    <div th:case="field_assignment_datetime"  class="layui-input-block">
                                        <input class="layui-input una-laydate-datetime"
                                               th:lay-verify="${record.formatDetectionTypeDcodes}"
                                               th:id="${record['id']}"
                                               type="text"
                                               th:name="${record['assignmentCode']}"
                                               placeholder="yyyy-MM-dd HH:mm:ss"
                                               autocomplete="off">
                                    </div>

                                    <div th:case="field_assignment_yearmonth"  class="layui-input-block">
                                        <input class="layui-input una-laydate-month"
                                               th:lay-verify="${record.formatDetectionTypeDcodes}"
                                               th:id="${record['id']}"
                                               type="text"
                                               th:name="${record['assignmentCode']}"
                                               placeholder="yyyy-MM"
                                               autocomplete="off">
                                    </div>

                                    <div th:case="field_assignment_map"  class="layui-input-block">
                                        <div class="layui-input-inline">
                                            <input type="text"
                                                   th:name="${record['assignmentCode']}"
                                                   disabled autocomplete="off"
                                                   placeholder="请打开地图操作"
                                                   th:id="${record['id']}"
                                                   class="layui-input">
                                        </div>
                                        <div class="layui-input-inline">
                                            <button type="button"
                                                    una-event="map"
                                                    class="layui-btn layui-btn-normal">打开地图</button>
                                        </div>
                                    </div>

                                    <div th:case="field_assignment_hidden">
                                        <input type="hidden"
                                               th:id="${record['id']}"
                                               th:name="${record['assignmentCode']}"
                                               th:value="${record['defaultValue']!=null&& #strings.contains(record['defaultValue'],'$u')?activeUser[#strings.substringAfter(record['defaultValue'],'.')]:record['defaultValue']}">
                                    </div>

                                    <div th:case="field_assignment_treeNode">
                                        <input type="hidden"
                                               th:id="${record['id']}"
                                               th:name="${record['assignmentCode']}"
                                               th:value="${record['defaultValue']!=null&& #strings.contains(record['defaultValue'],'$u')?activeUser[#strings.substringAfter(record['defaultValue'],'.')]:record['defaultValue']}">
                                    </div>

                                    <div th:case="field_assignment_fileRepository"  class="layui-input-block una-respository">
                                        <input type="text" onchange="showFile()"
                                               th:name="${record['assignmentCode']}"
                                               disabled autocomplete="off"
                                               th:lay-verify="${record.formatDetectionTypeDcodes}"
                                               placeholder="请打开文件资源库"
                                               th:id="${record['id']}"
                                               class="layui-input">
                                        <div class="layui-input-inline">
                                            <button type="button"
                                                    una-event="respository"
                                                    th:data-selected_limit_num="${record['selectableLimitNum']}"
                                                    class="layui-btn layui-btn-normal">打开文件库</button>
                                        </div>
                                        <div class="layui-input-block" style="float:right;">
                                        </div>
                                    </div>

                                    <div th:case="field_assignment_singleUpload"  class="layui-input-block">
                                        <input type="file" th:name="${record['assignmentCode']}">
                                    </div>

                                    <div th:case="field_assignment_multiUpload"  class="layui-input-block">
                                        <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
                                        <span style="color: red">(单个文件不能超过2M)</span>
                                        <div class="layui-upload-list">
                                            <table class="layui-table">
                                                <thead>
                                                <tr><th>文件名</th>
                                                    <th>大小</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr></thead>
                                                <tbody id="demoList"></tbody>
                                            </table>
                                        </div>
                                        <button type="button" class="layui-btn" style="display: none"
                                                id="testListAction">开始上传</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-footer footer" style="position: fixed;bottom: 0;text-align: center;width: 100%;padding: 5px;">
                            <div class="layui-btn-group">
                                <button type="submit" id="submit" una-event="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="unaDataForm">提交</button>
                                <button type="button" una-event="reload" class="layui-btn layui-btn-normal layui-btn-sm">刷新</button>
                                <button type="button" th:each="button:${sysResponseParameter.sysEntity.buttonList}" th:if="${button.positionDvalue eq 'form_bottom'}" th:class="${button.classValue + 'layui-btn layui-btn-sm'}" th:una-event="${button.event}" th:text="${button.name}"></button>
                                <button type="button" una-event="close" class="layui-btn layui-btn-danger layui-btn-sm">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
    <script th:src="@{/xadmin/js/xadmin.js}" type="text/javascript"></script>
    <script th:src="@{/xadmin/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/una/js/public/bootstrapValidator.min.js}" type="text/javascript"></script>
    <script th:src="@{/una/js/public/loginChange.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/public/xm-select.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.common.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.data.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.fileRepository.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.form.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.highChart.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.invocation.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.laydate.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.layer.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.response.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.table.js}" charset="utf-8"></script>
    <script th:src="@{/una/js/private/una.validation.js}" charset="utf-8"></script>

    <script>
        var entityPath = '[[${sysResponseParameter.sysEntity.path }]]';
        var isVirtual = '[[${sysResponseParameter.sysEntity.isVirtual}]]';
        var sample;

        var ids = $("#unaCheckIdsHidden",parent.document).val();
        $("#hiddenObjIds").val(ids);

        $(".una-switch-hide").each(function () {
            var eleIds = $(this).data("switch_hide_ids");
            var eleArray = eleIds.split(",");
            for(var i=0;i<eleArray.length;i++){
                $("#"+eleArray[i]).closest(".layui-form-item").addClass("layui-hide");
            }
        })

        layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,upload = layui.upload;

            //表单初始化加载
            form.render();

            //表单赋值
            if($("#hiddenObjId").length>0){
                var id = $("#hiddenObjId").val();
                //修改数据时赋值表单
                var queryUrl = $("#queryUrlInForm").length>0?$("#queryUrlInForm").val():entityPath+"/"+id;
                //查询样本信息
                $.ajax({
                    type: 'GET',
                    url: queryUrl,
                    traditional:true,
                    async:false,
                    success:function(result){
                        //表单赋值
                        sample = result;
                        if(result.isSuccess){
                            form.val('unaBaseForm', result.data);
                            if(isVirtual == 1){
                                form.val('unaBaseForm', result.data.value);
                            }
                            //加载图片预览
                            $(".una-respository").each(function () {
                                var urlArray = $(this).find("[type='text']").val().split(",");
                                for(var i=0;i<urlArray.length;i++){
                                    $(this).find("div.layui-input-block:first").append("<img src=\""+urlArray[i]+"\" style=\"width:100px;\"/>");
                                }
                            })
                        }
                    },
                    error: function(XMLHttpRequest) {
                        console.log("访问出错了，错误代号："+XMLHttpRequest.status);
                    }
                });
            }else{
                //新增数据时赋值表单
                form.val('unaBaseForm', formatJSON('[[${sample }]]'));
            }

            //初始化富文本编辑器，并赋值
            $("textarea.layedit").each(function () {
                var index = layedit.build($(this).prop("id"));
            })

            //遍历下拉选择框，为已选择的联动下拉框赋值并加载选项
            if($("select.una-select-linkage[data-sub_id]").length>0){
                $("select.una-select-linkage[data-sub_id]").each(function(){
                    loadLinkedSelect($(this));
                })
            }

            //递归加载联动下拉选择框
            function loadLinkedSelect(selecotr) {
                var name = selecotr.prop("name");
                var subId = selecotr.data("sub_id")+""
                var subIdArray= new Array(); //定义一参数名数组
                subIdArray=subId.split(","); //字符分割
                var selectedValue = form.val("unaBaseForm")[name];
                if(selectedValue!=null&&selectedValue!=""){
                    //如果联动下拉的父选框默认选中了值，则加载子选框的选项
                    //遍历多个子id
                    for(var i=0;i<subIdArray.length ;i++){
                        $("#"+subIdArray[i]).attr("data-param_value",selectedValue)
                        //加载选项
                        if($("#"+subIdArray[i]).hasClass("una-select-multiple")){
                            //如果联动子组件是多选下拉框
                            console.log("加载多选下拉框")
                            prepareAutoMultipleSelect($("#"+subIdArray[i]),sample);
                        }else{
                            //如果联动子组件不是多选下拉框，默认为单选下拉框
                            prepareAutoSingleSelect($("#"+subIdArray[i]));
                        }

                        //表单赋值
                        var eleName = $("#"+subIdArray[i]).prop("name");
                        if(sample!=null&&sample.hasOwnProperty(eleName)){
                            var jsonStr = "{'"+eleName+"':'"+sample[eleName]+"'}";
                            form.val('unaBaseForm', eval("("+jsonStr+")"));
                            //递归加载子联动下拉框
                            if(selecotr.hasClass(".una-select-linkage")&&selecotr.attr("data-sub_id")!=null){
                                loadLinkedSelect($("#"+subIdArray[i]));
                            }
                        }

                    }

                }
            }

            loadCheckBoxNotNull();

            //监听下拉选择
            form.on('select', function(data){
                //判断类名，是否有下拉联动
                if(data.elem.classList.contains("una-select-linkage")){
                    var value = data.value
                        ,subIds = data.elem.dataset.sub_id
                        ,subIdArray= new Array(); //定义一数组
                    if(subIds!=null)subIdArray=subIds.split(","); //字符分割
                    for (var i=0;i<subIdArray.length ;i++ ){
                        var defaultValue = $("#"+subIdArray[i]).attr("data-param_value");
                        var newParamValue;
                        if(defaultValue!=null){
                            newParamValue = defaultValue+value
                            newParamValue = defaultValue.substring(0,(defaultValue.lastIndexOf(",")+1))+value;
                        }else{
                            newParamValue = value;
                        }
                        $("#"+subIdArray[i]).attr("data-param_value",newParamValue);
                        if($("#"+subIdArray[i]).hasClass("una-select-multiple")){
                            //如果联动子组件是多选下拉框
                            console.log("加载多选下拉框")
                            prepareAutoMultipleSelect($("#"+subIdArray[i]),sample);
                        }else{
                            //如果联动子组件不是多选下拉框，默认为单选下拉框
                            prepareAutoSingleSelect($("#"+subIdArray[i]));
                        }
                    }
                }

                //判断类名，是否有隐藏联动
                if(data.elem.classList.contains("una-switch-hide")){
                    var value = data.value
                        ,switchHideIds = data.elem.dataset.switch_hide_ids
                        ,switchHideOption = data.elem.dataset.switch_hide_option
                        ,optionArray = new Array()
                        ,idsArray= new Array(); //定义一数组
                    if(switchHideOption!=null)optionArray = switchHideOption.split(",");

                    if(switchHideIds!=null){
                        idsArray = switchHideIds.split(",");
                        for (var i=0;i<optionArray.length ;i++ ){
                            var idArray = idsArray[i].split("&");
                            if(value!=optionArray[i]){
                                //未选中
                                for(var j=0;j<idArray.length ;j++ ){
                                    $("#"+idArray[j]).closest(".layui-form-item").addClass("layui-hide");
                                }
                            }
                        }
                        for (var i=0;i<optionArray.length ;i++ ){
                            var idArray = idsArray[i].split("&");
                            if(value==optionArray[i]){
                                //选中
                                for(var j=0;j<idArray.length ;j++ ){
                                    $("#"+idArray[j]).closest(".layui-form-item").removeClass("layui-hide");
                                }
                            }
                        }
                    }
                }

            });

            //监听提交
            form.on('submit(unaDataForm)', function(data){
                var index = layer.load(2, {
                    shade: [0.2,'#000000'] //0.1透明度的白色背景
                });
                var responseType = $("#showResponseType").val();
                var href = $("#showResponseHref").val();
                var target = $("#showResponseTarget").val();

                //将富文本编辑器的内容赋值给文本域
                $("textarea.layedit").each(function (index) {
                    data.field[$(this).prop("name")] = layedit.getContent(index+1);
                })

                    //加载层
                    //var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                //如果要保存的表单内有“saveUrlForm”元素，则保存地址为该id的val值，否则保存地址为实体前缀+“save"
                var saveUrl=$("#saveUrlInForm").length>0?$("#saveUrlInForm").val():entityPath+'/save';

                $.ajax({
                    type: 'post',
                    url: saveUrl,
                    dataType: 'json',
                    data: data.field,
                    success: function (result) {
                        if(result.isSuccess){
                            layer.closeAll('loading');
                            //操作成功时，弹层提示添加成功，并且刷新父页面
                            layer.msg(result.message,function () {
                                if ( window.parent.$("#unaDataTable").length>0 ){   //判断
                                    parent.refreshTable("unaDataTable");
                                    closeIframeLayerFromInner();
                                }
                            })
                        }else{
                            layer.closeAll('loading');
                            layer.msg(result.message,function () {})
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        layer.closeAll('loading');
                        console.log(XMLHttpRequest.status);
                        console.log(XMLHttpRequest.readyState);
                        console.log(textStatus);
                    }
                })
                return false ;
            });

            //多文件列表示例
            var demoListView = $('#demoList')
                ,uploadListIns = upload.render({
                elem: '#testList'
                ,url: '/sys/file/save' //改成您自己的上传接口
                ,accept: 'file'
                ,multiple: true
                ,auto: false
                ,bindAction: '#testListAction'
                ,choose: function(obj){
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function(index, file, result){
                        var fileName = file.name;
                        var statusName = "等待上传";
                        if(fileName.indexOf("jpg")!=-1||fileName.indexOf("png")!=-1||fileName.indexOf("bmp")!=-1||fileName.indexOf("gif")!=-1||fileName.indexOf("jpeg")!=-1){
                            if(file.size>2*1024*1024){
                                statusName = "<span style=\"color: red\">图片太大</span>";
                            }
                        }

                        var tr = $(['<tr id="upload-'+ index +'">'
                            ,'<td>'+ file.name +'</td>'
                            ,'<td>'+ (file.size/1024).toFixed(1) +'kb</td>'
                            ,'<td>'+statusName+'</td>'
                            ,'<td>'
                            ,'<button type="button" class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            ,'<button type="button" class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            ,'</td>'
                            ,'</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function(){
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function(){
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选

                            //判断是否有超出大小的文件
                            setTimeout(()=>{
                                if($("#demoList").find("td span").length>0){
                                    $("#testListAction").css("display","none");
                                }else{
                                    $("#testListAction").css("display","block");
                                }
                            },800)
                        });

                        demoListView.append(tr);
                    });

                    //判断是否有超出大小的文件
                    setTimeout(()=>{
                        if($("#demoList").find("td span").length>0){
                            $("#testListAction").css("display","none");
                        }else{
                            $("#testListAction").css("display","block");
                        }
                    },800)

                }
                ,done: function(result, index, upload){
                    if(result.isSuccess){ //上传成功

                        var tr = demoListView.find('tr#upload-'+ index)
                            ,tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作

                        layer.msg(result.message,function () {
                            parent.refreshTable("unaDataTable");
                            closeIframeLayerFromInner();
                        })
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    layer.msg(result.message)
                    this.error(index, upload);
                }
                ,error: function(index, upload){
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });



        });

        //自动加载多选下拉选择的选项
        $("div.una-select-multiple").each(function(){
            //$(this).parent().after("<img src='/una/images/loading.gif' style='display: none'>")
            prepareAutoMultipleSelect($(this),sample);
        })

        /*
        子窗口表单下方按钮组事件
         */
        $(document).on('click', '.layui-form button.layui-btn', function(){
            switch($(this).attr("una-event")){
                case 'reload':
                    window.location.reload();
                    break;
                case 'close':
                    closeIframeLayerFromInner();
                    break;
                case 'map':

                    var textInputId = $(this).closest(".layui-input-block").find("input[type='text']:first").prop("id");
                    var textInputVal = $(this).closest(".layui-input-block").find("input[type='text']:first").val();
                    var url = "/sys/map?textId="+textInputId;
                    if(textInputVal!=null&&textInputVal!=""){
                        url = url + "&textVal="+textInputVal;
                    }

                    var index = layer.open({
                        type: 2,
                        title: '地图',
                        maxmin: true,
                        shadeClose: true, //点击遮罩关闭层
                        area : ['800px' , '520px'],
                        content: url
                    });
                break;
                case 'respository'://文件资源库
                    var textInputId = $(this).closest(".layui-input-block").find("input[type='text']:first").prop("id");
                    var selectedLimitNum = $(this).attr("data-selected_limit_num")
                    var index = layer.open({
                        type: 2,
                        title: '文件资源库',
                        maxmin: true,
                        shadeClose: true, //点击遮罩关闭层
                        area : ['1000px' , '700px'],
                        content: "/sys/file/respository?textInputId="+textInputId+"&num="+selectedLimitNum
                    });
                break;
            };

        });

        function showFile() {
            console.log("adsfasdfasdfasdf")
        }

    </script>


</body>
</html>
