<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/xadmin/css/font.css}">
    <link rel="stylesheet" th:href="@{/xadmin/css/xadmin.css}">
    <!--<style>
        .layui-table-cell {
            height: inherit;
        }
    </style>-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="una-tree layui-col-md2"
                 th:if="${sysResponseParameter.sysEntity!=null&&sysResponseParameter.sysEntity.relationList!=null&&sysResponseParameter.sysEntity.relationList.size()>0}">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                            <legend>组织视图</legend>
                        </fieldset>
                        <div id="unaDataTree" class="demo-tree-more" style="height:800px;overflow-y: scroll"></div>
                    </div>
                </div>
            </div>

            <div class="una-table">
                <div class="layui-card" lay-filter="unaTableForm">
                    <div th:if="${sysResponseParameter.sysEntity!=null&&sysResponseParameter.sysEntity.filterList!=null}" th:class="${#lists.isEmpty(sysResponseParameter.sysEntity.filterList)?'layui-hide':'layui-card-header'}" id="unaFilterHeader" style="padding: 10px 15px 10px 15px;">
                        <span class="layui-breadcrumb" lay-separator="|">
                          <a th:each="filter:${sysResponseParameter.sysEntity.filterList}" href="javascript:" th:data-filter_name="${filter.fieldCode}" th:data-filter_value="${filter.value}" th:text="${filter.name}"></a>
                        </span>
                    </div>
                    <form id="unaTableForm" th:action="${sysResponseParameter.sysEntity.path }+'/export'">
                        <div th:class="${#lists.isEmpty(sysResponseParameter.sysEntity.queryList)?'layui-card-header layui-form layui-hide':'layui-card-header layui-form'}" style="padding: 10px;margin-bottom: 20px" lay-filter="unaTableForm">
                            <div th:each="query:${sysResponseParameter.sysEntity.queryList}" th:switch="${query.assignmentModeDcode}" class="layui-inline">
                                <div class="layui-input-inline">
                                    <label class="layui-form-label" th:text="${query.name}"></label>
                                    <div th:case="field_query_exactText"  class="layui-input-block">
                                        <!--文本精确匹配-->
                                        <input type="text" class="layui-input" th:name="${query.fieldCode}" th:placeholder="${'请输入'+query.name}">
                                    </div>

                                    <div th:case="field_query_fuzzyText"  class="layui-input-block">
                                        <!--文本模糊匹配-->
                                        <input type="text" class="layui-input" th:name="${':'+query.fieldCode}" th:placeholder="${'请输入'+query.name}">
                                    </div>

                                    <div th:case="field_query_geDate"  class="layui-input-block">
                                        <!--大于等于日期-->
                                        <input class="layui-input una-laydate-date"
                                               type="text"
                                               th:name="${'ge:'+query.fieldCode}"
                                               placeholder="yyyy-MM-dd"
                                               autocomplete="off">
                                    </div>

                                    <div th:case="field_query_leDate"  class="layui-input-block">
                                        <!--小于等于日期-->
                                        <input class="layui-input una-laydate-date"
                                               type="text"
                                               th:name="${'le:'+query.fieldCode}"
                                               placeholder="yyyy-MM-dd"
                                               autocomplete="off">
                                    </div>

                                    <div th:case="时间选择器"  class="layui-input-block">
                                        <input type="text" class="layui-input una-laydate-datetime" th:name="${query.fieldCode}" th:placeholder="${'请输入'+query.name}">
                                    </div>

                                    <div th:case="field_query_switch"  class="layui-input-block">
                                        <!--开关单选-->
                                        <input class="" type="checkbox" th:name="${query.fieldCode}" lay-skin="switch" lay-text="是|否" value="1">
                                    </div>

                                    <div th:case="单选下拉框"  class="layui-input-block">
                                        <select class="una-select una-select-linkage"
                                                th:id="${query.id}" th:name="${query.fieldCode}"
                                                lay-search=""
                                                th:data-sub_id="${query.selectSubIds}"
                                                th:data-param_name="${query.optionParamName}"
                                                th:data-param_value="${query.optionParamValue!=null && #strings.contains(query.optionParamValue,'$s')?sample[#strings.substringAfter(query.optionParamValue,'.')]:
                                            query.optionParamValue!=null && #strings.contains(query.optionParamValue,'$u')?activeUser[#strings.substringAfter(query.optionParamValue,'.')]:query.optionParamValue}"
                                                th:data-url="${query.optionEntityPath}"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button type="button" class="layui-btn  layui-btn-normal"  lay-submit="" lay-filter="sreach" onclick="refreshTable();"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                            <input type="hidden" id="treeObjId"
                                   th:if="${sysResponseParameter.sysEntity.relationList!=null&&sysResponseParameter.sysEntity.relationList.size()>0}"
                                   th:name="${sysResponseParameter.sysEntity.relationList[0].relatedFieldCode }"
                                   th:value="${sysResponseParameter.sysEntity.relationList[0].parentDataValue!=null&&#strings.contains(sysResponseParameter.sysEntity.relationList[0].parentDataValue,'$u')?activeUser[#strings.substringAfter(sysResponseParameter.sysEntity.relationList[0].parentDataValue,'.')]:sysResponseParameter.sysEntity.relationList[0].parentDataValue }"
                                   th:data-parent-entity-title="${sysResponseParameter.sysEntity.relationList[0].parentEntityName }"
                                   th:data-url="'/api'+${sysResponseParameter.sysEntity.relationList[0].parentEntityPath }"
                                   th:data-parent-field="${sysResponseParameter.sysEntity.relationList[0].parentDataFieldCode }">
                            <input type="hidden" id="treeObjName" th:if="${sysResponseParameter.sysEntity.relationList!=null&&sysResponseParameter.sysEntity.relationList.size()>0}">
                            <input type="hidden" id="unaFilterParamHidden">
                            <input type="hidden" th:if="${sysResponseParameter.sysEntity.relationList!=null&&sysResponseParameter.sysEntity.relationList.size()>0}"
                                   name="rootTreeIds" id="rootTreeIdsHidden">
                            <input type="hidden" name="ids" id="unaCheckIdsHidden">
                            <input type="hidden" id="virtualEntityId" th:value="${sysResponseParameter.entityId!=null?sysResponseParameter.entityId:sysResponseParameter.sysEntity.id }"><!--虚拟实体id-->
                            <input type="hidden" id="virtualEntityClass" th:value="${sysResponseParameter.entityClass!=null?sysResponseParameter.entityClass:sysResponseParameter.sysEntity.code }"><!--虚拟实体类名-->
                            <!--<input type="hidden" th:each="key,stat:${sysResponseParameter.sysParameter.key}" th:name="${key}" th:value="${sysResponseParameter.sysParameter.value[stat.index]}">-->
                            <input type="hidden" th:each="key,stat:${sysResponseParameter.params}" th:name="${stat.current.key}" th:value="${stat.current.value}">
                        </div>
                    </form>
                    <div class="layui-card-body layui-table-body layui-table-main">
                        <table class="layui-hide" id="unaDataTable" lay-filter="commonTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none">
    <input type="hidden" id="quickOperationStatus" value="0" />
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
<!--        <button th:if="${sysResponseParameter.sysEntity.relationList!=null&&sysResponseParameter.sysEntity.relationList.size()>0}" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="tree" title="展示树结构">-->
<!--            <i title="展开树形图" class="iconfont">&#xe699;</i></button>-->
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchUpdate">批量修改</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchDelete">批量删除</button>
        <button th:each="button:${sysResponseParameter.sysEntity.buttonList}" th:if="${button.positionDcode eq 'entity_buttonPosition_tableheadLeft'}" th:class="${button.classValue + 'layui-btn layui-btn-sm'}" th:lay-event="${button.event}" th:text="${button.name}"></button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <!--<a lay-event="detail" title="详情" href="javascript:"><i class="layui-icon layui-icon-search" style="color: #1e9fff;font-size: 20px"></i></a>-->
    <a lay-event="edit" title="修改" href="javascript:"><i class="layui-icon layui-icon-edit" style="color: #1e9fff;font-size: 20px"></i></a>
    <a lay-event="ascend" title="升序" href="javascript:"><i class="layui-icon layui-icon-up" style="color: #1e9fff;font-size: 20px"></i></a>
    <a lay-event="del" title="删除" href="javascript:"><i class="layui-icon layui-icon-delete" style="color: red;font-size: 20px"></i></a>
    <a th:each="button:${sysResponseParameter.sysEntity.buttonList}" th:if="${button.positionDcode eq 'entity_buttonPosition_inLine'}" th:lay-event="${button.event}" th:title="${button.name}" href="javascript:">
        <i th:class="${'layui-icon '+button.map['iconDname']}" style="color: #1e9fff;font-size: 16px"></i>
    </a>
</script>

<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
<script th:src="@{/xadmin/js/xadmin.js}" type="text/javascript"></script>
<script th:src="@{/xadmin/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/una/js/public/jquery.form.js}" charset="utf-8"></script>
<script th:src="@{/una/js/public/loginChange.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.common.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.data.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.fileRepository.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.form.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.highChart.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.invocation.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.laydate.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.layer.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.response.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.table.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.validation.js}" charset="utf-8"></script>

<script>
    var entityName = '[[${sysResponseParameter.sysEntity.name }]]';
    var isVirtual = '[[${sysResponseParameter.sysEntity.isVirtual }]]';
    var isFullForm = '[[${sysResponseParameter.sysEntity.isFullForm }]]';
    var entityPath = '/api'+'[[${sysResponseParameter.sysEntity.path }]]';
    var entityClass = '[[${sysResponseParameter.sysEntity.code }]]';

    layui.use(['form', 'table'], function(){
        var table = layui.table
            ,form = layui.form
            ,fieldDataArray = []
            ,fieldData = [{type: 'checkbox', fixed: 'left', width:60}];

        form.render();

        const virtualEntityId = $("#virtualEntityId").val();        //实际实体id

        //查询表格字段数据
        $.ajax({
            type: 'GET',
            url: "/api/sys/field/list",
            traditional:true,
            async:false,
            data:{entityId:virtualEntityId,isEffect:1},
            success:function(result){
                $.each(result,function (index,record) {
                    var dataMap = new Map();
                    var hasImg = false;
                    if(record['assignmentCode']==record['displayCode']){
                        dataMap.set("field",record['displayCode']);
                    }else{
                        dataMap.set("templet","<div>{{d['map']['"+record['displayCode']+"']}}</div>")
                    }

                    //虚拟实体 从valule(json)中取值
                    if(isVirtual == "true"){
                        console.log("展示虚拟实体数据")
                        if(record.name != 'id' && record.name != 'name' && record.name != 'remark'){
                            dataMap.set("templet","<div>{{d['value']['"+record['displayCode']+"']}}</div>")
                        }
                    }
                    dataMap.set("title",record['name']);
                    if(record['displayLength']!=null&&record['displayLength']!=0)dataMap.set("width",record['displayLength']);
                    if(record['isSort']==1)dataMap.set("sort",true);
                    if(record['fixedType']!=null && record['fixedType']!='none')dataMap.set("fixed",record['fixedType']);
                    switch(record.displayModeDcode){
                        case 'field_display_whether':
                            dataMap.set("templet","<div>{{d."+record['displayCode']+"==1?'<span class=\"layui-badge layui-bg-blue\">是</span>':'<span class=\"layui-badge\">否</span>'}}</div>")
                            break;
                        case 'field_display_icon':
                            dataMap.set("templet","<div><i class=\"layui-icon {{d."+record['displayCode']+"}}\" style=\"color: #1e9fff;font-size: 15px\"></i></div>")
                            break;
                        case 'field_display_img':
                            hasImg = true;
                            dataMap.set("templet","<div><img src=\"{{d."+record['displayCode']+"}}\" style=\"width:100px;\"></div>")
                            break;
                    }

                    //map转json对象再传入
                    fieldData.push(mapToJson(dataMap))
                    /*if(hasImg){
                        console.log("safsfsafd")
                        $(".layui-table-cell").css("height","100px");
                    }*/
                })
                fieldData.push({fixed: 'right', title:'操作',width:130, toolbar: '#barDemo'})
                fieldDataArray.push(fieldData)
            },
            error: function(XMLHttpRequest) {
                console.log("访问出错了，错误代号："+XMLHttpRequest.status);
            }
        });

        //初始化结构树，加载查询条件
        if($("#treeObjId").length>0){
            var treePath = $("#treeObjId").data("url");
            var parentDataFieldCode = $("#treeObjId").data("parent-field");
            var parentEntityName = $("#treeObjId").data("parent-entity-title");
            var parentDataValue = $("#treeObjId").val();

            //查询树结构数据
            layui.use(['tree', 'util'], function(){
                var tree = layui.tree
                    ,treeData = [];

                $.ajax({
                    type: 'GET',
                    traditional:true,
                    async:false,
                    url: treePath+'/list?'+parentDataFieldCode+"="+parentDataValue,
                    success:function(result){
                        $("#unaDataTree").closest(".layui-card-body").find("legend:first").text(parentEntityName+"结构");
                        //递归拼接树结构的id给treeValueHidden元素
                        $("#treeObjId").val("");
                        if(treePath=='/api/sys/company'){
                            getAllTreeIdStr(result);
                        }else{
                            /*for(var i=0;i<result.length;i++){
                                $("#treeObjId").val($("#treeObjId").val() + result[i]["id"] + ",")
                            }*/
                        }

                        if(treePath==entityPath){
                            //如果树结构与表格数据为同一实体，则赋值ids为树结构顶级目录ids
                            var rootTreeIds = "";
                            for(var i=0;i<result.length;i++){
                                rootTreeIds = rootTreeIds + result[i]["id"] + ",";
                                rootTreeIds = rootTreeIds.substring(0,rootTreeIds.length-1);
                                $("#rootTreeIdsHidden").val(rootTreeIds);
                            }
                        }
                        //去掉treeValueHidden元素的value中最后一个逗号
                        var treeValueHiddenVal = $("#treeObjId").val();
                        $("#treeObjId").val(treeValueHiddenVal.substring(0,treeValueHiddenVal.length-1))

                        treeData = result;
                    },
                    // data:{isResult:1},
                    error: function(XMLHttpRequest) {
                        console.log("访问出错了，错误代号："+XMLHttpRequest.status);
                    }
                })

                //仅节点左侧图标控制收缩
                tree.render({
                    elem: '#unaDataTree'
                    ,data: treeData
                    ,onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                    ,click: function(obj){
                        obj.elem.closest(".layui-tree").find(".layui-tree-main").css("background-color","").find(".layui-tree-txt,.layui-icon").css("color","black");
                        obj.elem.find(".layui-tree-main:first").css("background-color","#1e9fff").find(".layui-tree-txt,.layui-icon").css("color","white");
                        //赋值被点击的树结构id到查询表单里
                        $("#treeObjId").val(obj.data.id);
                        $("#treeObjName").val(obj.data.title);
                        $("#rootTreeIdsHidden").val("");
                        //重载表格（带查询条件）
                        refreshTable();
                    }
                });

            });
        }

        //初始化表格，加载数据
        table.render({
            elem: '#unaDataTable'
            ,height: 'full-60'
            ,url:entityPath+'/page'
            ,where: layui.form.val('unaTableForm')
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '通用查询'
                ,layEvent: 'COMMON_QUERY'
                ,icon: 'layui-icon-search'
            },{
                title: '导入'
                ,layEvent: 'IMPORT'
                ,icon: 'layui-icon-shrink-right'
            },{
                title: '条件导出'
                ,layEvent: 'EXPORT'
                ,icon: 'layui-icon-spread-left'
            }]
            ,title: '菜单表'
            ,cols: fieldDataArray
            ,page: true
            ,limit:20
            ,limits:[10,20,50,100,1000]
        });

        const virtualEntityClass = $("#virtualEntityClass").val();

        //头工具栏事件
        table.on('toolbar(commonTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    //如果树id不存在或者不为空
                    if($("#treeObjId").length<=0||($("#treeObjId").val()!=''&&$("#treeObjId").val().indexOf(",")==-1)){
                        var contentUrl;
                        if(virtualEntityClass == 'SysField'){
                            contentUrl = entityPath+"/form";
                        }else{
                            contentUrl = "/api/sys/form/"+virtualEntityClass;
                        }
                        if($("#treeObjId").length>0&&$("#treeObjId").val()!=''){
                            var treeIdName = $("#treeObjId").prop("name");
                            var treeIdValue = $("#treeObjId").val();
                            contentUrl = contentUrl + "?"+treeIdName+"="+treeIdValue;
                        }
                        var index = layer.open({
                            type: 2,
                            title: '新增'+entityName,
                            maxmin: true,
                            shadeClose: true, //点击遮罩关闭层
                            area : ['800px' , '520px'],
                            content: contentUrl
                        });
                        if(isFullForm==1)layer.full(index);
                    }else{
                        layer.msg("请选择父节点",function () {})
                    }
                    break;
                case 'tree':
                    var unaTree = $(".una-tree"),unaTable = $(".una-table");
                    if(unaTree.hasClass("layui-hide")){
                        unaTree.removeClass("layui-hide");
                        $(".una-table").removeClass("layui-col-md12").addClass("layui-col-md10");
                    }else{
                        unaTree.addClass("layui-hide");
                        $(".una-table").removeClass("layui-col-md10").addClass("layui-col-md12");
                    }

                    break;
                case 'batchDelete':
                    var data = checkStatus.data;
                    if(data.length>0){
                        var ids = [];
                        $.each(data,function (index,obj) {
                          ids.push(obj.id);
                        })

                        //隐藏标签赋值
                        $("#unaCheckIdsHidden").val(ids);

                        layer.confirm('您确定要删除共'+data.length+'条数据吗？', {
                            btn: ['确认','取消'] //按钮
                        }, function(){
                            $.ajax({
                                type: 'DELETE',
                                dataType: 'json',
                                traditional:true,
                                url: entityPath+"/"+ids,
                                success:function(result){
                                    layer.msg(result.message,function(){
                                        if(result.isSuccess)table.reload("unaDataTable");
                                    })
                                },
                                error: function(XMLHttpRequest) {
                                    console.log("访问出错了，错误代号："+XMLHttpRequest.status);
                                }
                            })
                        })

                    }else{
                        layer.msg("未选中数据",function(){})
                    }
                    break;
                case 'batchUpdate':
                    var data = checkStatus.data;
                    if(data.length>0){
                        //拼接批量修改的数据ids
                        var ids = [];
                        $.each(data,function (index,obj) {
                            ids.push(obj.id);
                        })

                        //隐藏标签赋值
                        $("#unaCheckIdsHidden").val(ids);

                        var contentUrl;
                        if(virtualEntityClass == 'SysField'){
                            contentUrl = entityPath+"/form?id="+data.id;
                        }else{
                            contentUrl = "/api/sys/form/"+virtualEntityClass+"?batch=true";
                        }
                        var index = layer.open({
                            type: 2,
                            title: '修改'+entityName,
                            maxmin: true,
                            shadeClose: true, //点击遮罩关闭层
                            area : ['800px' , '520px'],
                            content: contentUrl
                        });
                        if(isFullForm==1)layer.full(index);
                        break;



                    }else{
                        layer.msg("未选中数据",function(){})
                    }
                    break;
                //自定义头工具栏右侧图标 - 通用查询
                case 'COMMON_QUERY':
                    layer.msg('点击通用查询按钮');
                    break;
                //自定义头工具栏右侧图标 - 通用查询
                case 'IMPORT':
                    layer.open({
                        type: 1,
                        title:'导入文件',
                        skin: 'layui-layer-rim', //加上边框
                        area: ['420px', '240px'], //宽高
                        btn: ['下载模板'], //按钮
                        yes: function(index){
                            window.location.href="/api/sys/importTemplate/"+entityClass;
                        },
                        content: '<div class="layui-upload" style="text-align: center;margin-top: 10%;">\n' +
                            '<button type="button" class="layui-btn layui-btn-normal" id="importFile">选择文件</button>\n' +
                            '<button type="button" class="layui-btn" id="submitImport">开始上传</button>\n' +
                            '</div>'
                    });

                    //选完文件后不自动上传
                    layui.upload.render({
                        elem: '#importFile'
                        ,url: entityPath+"/import" //改成您自己的上传接口
                        ,auto: false
                        ,field:'file'
                        ,accept: 'file' //普通文件
                        ,bindAction: '#submitImport'
                        ,done: function(result){
                            layer.msg(result.message)
                        }
                    });
                    break;
                //自定义头工具栏右侧图标 - 通用查询
                case 'EXPORT':
                    var ids = [];
                    var url = entityPath+"/exportPermission";

                    var data = checkStatus.data;
                    if(data.length>0){
                        //如果勾选了数据
                        $.each(data,function (index,obj) {
                            ids.push(obj.id);
                        })
                        $("#unaCheckIdsHidden").val(ids);
                    }

                    $.post(url,null,function(result){
                        console.log(result)
                        layer.msg(result.message,function () {
                            if(result.isSuccess){
                                $("#unaTableForm").submit();
                            }
                        })
                    },'json');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(commonTable)', function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'del':
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确认','取消'] //按钮
                    }, function(){
                        $.ajax({
                            type: 'DELETE',
                            dataType: 'json',
                            url: entityPath+"/"+data.id,
                            success:function(result){
                                layer.msg(result.message,function(){
                                    if(result.isSuccess)table.reload("unaDataTable");
                                })
                            },
                            error: function(XMLHttpRequest) {
                                console.log("访问出错了，错误代号："+XMLHttpRequest.status);
                            }
                        })
                    })
                    break;
                case 'detail':
                    var contentUrl;
                    if(virtualEntityClass == 'SysField'){
                        contentUrl = entityPath+"/form?id="+data.id;
                    }else{
                        contentUrl = "/api/sys/detail/"+virtualEntityClass+"?id="+data.id;
                    }
                    var index = layer.open({
                        type: 2,
                        title: entityName+'详情',
                        maxmin: true,
                        shadeClose: true, //点击遮罩关闭层
                        area : ['800px' , '520px'],
                        content: contentUrl
                    });
                    if(isFullForm==1)layer.full(index);
                    break;
                case 'edit':
                    var contentUrl;
                    if(virtualEntityClass == 'SysField'){
                        contentUrl = entityPath+"/form?id="+data.id;
                    }else{
                        contentUrl = "/api/sys/form/"+virtualEntityClass+"?id="+data.id;
                    }
                    var index = layer.open({
                        type: 2,
                        title: '修改'+entityName,
                        maxmin: true,
                        shadeClose: true, //点击遮罩关闭层
                        area : ['800px' , '520px'],
                        content: contentUrl
                    });
                    if(isFullForm==1)layer.full(index);
                    break;
                case 'ascend':
                    $.ajax({
                        type: 'PUT',
                        dataType: 'json',
                        url: entityPath+"/ascend/"+data.id,
                        success:function(result){
                            layer.msg(result.message,function(){
                                if(result.isSuccess)table.reload("unaDataTable");
                            })
                        },
                        error: function(XMLHttpRequest) {
                            console.log("访问出错了，错误代号："+XMLHttpRequest.status);
                        }
                    })
                    break;
                case 'authorization':
                    var index = layer.open({
                        type: 2,
                        title: '角色授权',
                        maxmin: true,
                        shadeClose: true, //点击遮罩关闭层
                        area : ['800px' , '520px'],
                        content: entityPath+"/authorization?id="+data.id
                    });
                    layer.full(index);
                    break;
            };
        });


    });

    function refreshTable(){
        layui.table.reload("unaDataTable",{
            where: layui.form.val('unaTableForm')
        });
    }

    //加载实体筛选条件
    $(document).ready(function(){
        $("#unaFilterHeader a").on("click",function(){
            $("#unaFilterParamHidden").attr("name",$(this).data("filter_name"));
            $("#unaFilterParamHidden").attr("value",$(this).data("filter_value"));
            refreshTable();
        });
    });

    /*
    获取树结构所有id集合字符串
    @ param result:查询树结构的返回值，集合
     */
    function getAllTreeIdStr(result) {
        for(var i=0;i<result.length;i++){
            $("#treeObjId").val($("#treeObjId").val() + result[i]["id"] + ",")
            if(result[i]["children"]!=null){
                //如果有子集，则遍历子集，递归调用
                getAllTreeIdStr(result[i]["children"])
            }
        }
    }

    //展示图片
    function preview(url,proportion){
        /*layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area : ['800px' , proportion*800+'px'], //宽高
            content: '<img src="'+url+'" style="width: 800px;">'
        });*/

        var json = {
            "title": "", //相册标题
            "id": 123, //相册id
            "start": 0, //初始显示的图片序号，默认0
            "data": [   //相册包含的图片，数组格式
                {
                    "alt": "图片名",
                    "pid": 666, //图片id
                    "src": url, //原图地址
                    "thumb": "" //缩略图地址
                }
            ]
        }

            layer.photos({
                photos: json //格式见API文档手册页
                ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
            });
    }



</script>

</body>
</html>
