<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/dianpu/include/head :: head"></div>
<body>
<div class="header ">
    <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
    <div th:replace="../templates/duohui/dianpu/include/header :: header"></div>
    <div th:replace="../templates/duohui/dianpu/include/menu :: menu"></div>
</div>
<!-- Slideshow -->
<div th:replace="../templates/duohui/dianpu/include/slideshow :: slideshow"></div>


<div class="clear clearfix mt20" style="height:20px;"></div>

<div class="clear clearfix main-ny">
    <div class="w1200  product-nr ">
        <div class="right w920 mt10 ">
            <h3 class="title"><a class="heise" href="#">公司简介</a></h3>
            <div class="clear line-height page una-editor-show" th:value="${record.aboutUsContent}"></div>
        </div>
    </div>
</div>


<div th:replace="../templates/duohui/common/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
</body>
</html>
