<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="../templates/duohui/dianpu/include/head :: head"></div>
<body>
<div class="header ">
    <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
    <div th:replace="../templates/duohui/dianpu/include/header :: header"></div>
    <div th:replace="../templates/duohui/dianpu/include/menu :: menu"></div>
</div>
<!-- Slideshow -->
<div th:replace="../templates/duohui/dianpu/include/slideshow :: slideshow"></div>

<div class="clear clearfix hui">
    <div class="w1200 product-nr " style="padding-top:30px;">
        <h2 class="title"><a class="lanse" href="#">产品展示</a></h2>


        <div class=" product-r">
            <ul>
                <li th:each="goods:${goodsList}">
                    <div th:replace="../templates/duohui/chanpin/include/goodsUnit :: goodsUnit"></div>
                </li>
            </ul>
        </div>


    </div>
    <div class="w1200 clear clearfix ">
        <h2 class="title"><a class="lanse" href="#">服务项目</a></h2>


        <div class=" w1200 clear clearfix">
            <div class="tuijian fl" style=" border-right:1px solid #ccc; padding-right:50px;">

                <ul>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">供应<img class="ml10"
                                                                                  th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                </ul>
            </div>
            <div class="tuijian fr">

                <ul>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">求购<img class="ml10"
                                                                                  th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10"
                                                                                     th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em
                            class=" fr diqu ">河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                </ul>
            </div>
        </div>


    </div>
</div>
<div class="w1200 " style="padding-top:30px;">
    <h2 class="title"><a class="lanse" href="#">关于我们</a></h2>
    <div class="w1100" style=" padding-top:50px;">
        <div class="fl"><img th:src="${record.map['aboutUsFileUrl']}" width="280" height="186"></div>
        <div class="fr w720 line-height aboutwen">[[${#strings.abbreviate(record.aboutUsDescription,200)}]]<br>
            <br>
            <a href="#">点击查看详情</a></div>
    </div>
</div>
<div class="w1200 clear clearfix " style="padding-top:30px;">
    <h2 class="title"><a class="lanse" name="contact" id="contact" href="#">联系我们</a></h2>
    <div class="w1100" style=" padding-top:50px;">
        <div class="fl"><img th:src="@{/duohui/dianpu/images/ditu.jpg}" width="280" height="186"></div>
        <div class="fr w720 line-height aboutwen">
            <h2> [[${record.name}]]</h2>

            <span>地址：[[${record.address}]]</span>
            <span>电话：[[${record.phone}]]</span>
            <div class="gsmc">
                <p class="fl" style=" vertical-align:middle;">等级：
                    <b class="ml10  v5"></b>
                    <em class="ml10"><img th:src="@{/duohui/dianpu/images/shouji.png}"></em>
                    <em class="ml10"><img th:src="@{/duohui/dianpu/images/shiming.png}"></em>
                </p>
            </div>
            <div class="gsmc">
                <p class="fl" style=" vertical-align:middle;">微信：<img width="100px" height="100px"
                                                                      th:src="${record.map['wechatFileUrl']}"></p>
            </div>
        </div>
    </div>
</div>
<div class="clear clearfix mt20"></div>

<div th:replace="../templates/duohui/common/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
</body>
</html>
