<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/dianpu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/dianpu/css/main_001.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/dianpu/css/huiyuan.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/dianpu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/dianpu/js/public.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<script type="text/javascript">

$(function(){
var myNav = document.getElementById("menu").getElementsByTagName("a");
for(var i=0;i<myNav.length;i++){
var links = myNav[i].getAttribute("href");
var myURL = document.location.href;
if(myURL.indexOf(links) != -1){

myNav[i].className="on";
myNav[i].parentNode.parentNode.previousElementSibling.className="on";

}
}
			});
</script>

<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">

  <div class="header_top">
    <div class="w1200 clear clearfix"> <span class="huan left"><a class="mr10">您好！欢迎来到多汇供应链管理有限公司</a>|<a class="ml10 mr10" href="login.html">请登录</a>|<a class="ml10 mr10" href="register.html">免费注册</a></span>
      <div class=" right  top" >
        <ul class="duohui_menu fr font-f">
          <li class="no_sub"><span class="huan fl"><a >服务热线:</a><a class="red" ><b>400-635-1907</b></a><a ><img th:src="@{/duohui/dianpu/images/shoucang.jpg}" /></a></span></li>
          <li> <a class="bgt" href="gouwuche.html">购物车</a>
            <ul>
              <li><a  href="#">已加入购物车</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="#">我的业务体系</a>
            <ul>
              <li><a  href="#">信息平台</a></li>
              <li><a href="#">产品平台</a></li>
              <li><a  href="#">服务平台</a></li>
              <li><a href="#">招投标平台</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="project.html">客服中心</a>
            <ul>
              <li><a  href="#">新手入门</a></li>
              <li><a href="#">找回密码</a></li>
              <li><a  href="#">注销店铺</a></li>
              <li><a href="#">联系客服</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="#">会员中心</a>
            <ul>
              <li><a  href="#">会员中心</a></li>
              <li><a href="#">我的资料</a></li>
              <li><a href="#">退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="w1200 clearBoth clearfix" style="margin-top:10px;">
    <h1 class="logo fl"><a href="index.html" target="_blank"><img th:src="@{/duohui/dianpu/images/logo.jpg}" title="筑汕网"  /></a> </h1>
    <div class="fr fabu"><a class="mr30 fl" href="#"><img th:src="@{/duohui/dianpu/images/tel.png}"></a><a class=" tel  fl" href="#">400-0000-000</a></div>
    <div class="fl" style="width:620px; margin-left:24px; padding-left:24px;margin-top:20px;border-left:1px solid #a0a0a0; display:inline-table;">
      <div class="gsmc" >
        <h2 class="fl">[[${record.name}]]</h2>
        <p class="fl" style=" vertical-align:middle;"><b class="ml10  v5"></b><em class="ml10"><img th:src="@{/duohui/dianpu/images/shouji.png}"></em><em class="ml10"><img th:src="@{/duohui/dianpu/images/shiming.png}"></em></p>
      </div>
      <span class="address">地址：[[${record.address}]]</span> </div>
  </div>
    <div class="nav clear clearfix mt20">
      <div class="w1200 clearfix">
        <ul class="menu " id="menu"> <li class="on" ><a  href="index.html"> 首页 </a></li>
        <li ><a  href="/duo"> 公司介绍</a> </li>
        <li><a href="javascript:void(0)"> 产品展示</a>

        <ul class="submenu">
            <li><a href="product.html">在售</a></li>
            <li><a href="product.html">库存</a></li>
            <li><a href="product.html">新产品</a></li>
            <li><a href="product.html">易货产品</a></li>
          </ul>

        </li>
        <li><a href="special.html"> 服务项目</a></li>
        <li><a href="information.html"> 供求信息 </a></li>
        <li><a href="#contact">联系我们</a></li>
      </ul>
 </div>
  </div>
</div>
<!-- Slideshow -->
<script type="text/javascript" th:src="@{/duohui/dianpu/js/jquery-1.js}"></script>
<script type="text/javascript" th:src="@{/duohui/dianpu/js/responsiveslides.js}"></script>
<script type="text/javascript">
$(function () {
	// Slideshow
	$("#slider").responsiveSlides({
		auto: true,
		pager: false,
		nav: true,
		speed: 500,
		timeout:4000,
		pager: true,
		pauseControls: true,
		namespace: "callbacks"
	});
});
</script>
<div class="callbacks_container">
  <ul class="rslides callbacks callbacks1" id="slider">
    <li class="" th:each="imageUrl : ${#strings.arraySplit(record.map.bannerFileUrl, ',')}"><a ><img th:src="${imageUrl}" alt=""></a></li>
<!--    <li class="" ><a ><img th:src="@{/duohui/dianpu/images/banner.jpg}" alt=""></a></li>-->
  </ul>
</div>
<div class="clear clearfix hui">
  <div class="w1200 product-nr " style="padding-top:30px;">
   <h2 class="title"><a class="lanse" href="#">产品展示</a></h2>



   <div class=" product-r">
        <ul>
          <li th:each="goods:${goodsList}">
              <div th:replace="/duohui/chanpin/include/goodsUnit :: goodsUnit"></div>
          </li>
<!--          <li> <a class="pic" href="#"><img src="images/chanpin.jpg}"></a> <a class="biaoti" href="">图片对应的标题信息</a> <em class="diqu">行业 | 地区</em> <i class="jiage"><a class="fr mr10" href="#">议价</a>￥<b>5.00</b> 万</i> </li>-->
        </ul>
      </div>




  </div>
  <div class="w1200 clear clearfix ">
  <h2 class="title"><a class="lanse" href="#">服务项目</a></h2>


  <div class=" w1200 clear clearfix">
    <div class="tuijian fl" style=" border-right:1px solid #ccc; padding-right:50px;">

      <ul>
        <li class="clear clearfix"><a class="mr10 fl" href="#">供应<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
        <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
           <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
              <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                 <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                       <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
      </ul>
    </div>
    <div class="tuijian fr">

      <ul>
         <li class="clear clearfix"><a class="mr10 fl" href="#">求购<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
        <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
           <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
              <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                 <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                    <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
                       <li class="clear clearfix"><a class="mr10 fl" href="#">精品推荐标<img class="ml10" th:src="@{/duohui/dianpu/images/youzhi.png}"></a><em class=" fr diqu " >河北省</em><em class="fr mr150  ">采购<b>2</b>台</em></li>
      </ul>
    </div>
  </div>





  </div>
</div>
<div class="w1200 " style="padding-top:30px;">
  <h2 class="title"><a class="lanse" href="#">关于我们</a></h2>
  <div class="w1100" style=" padding-top:50px;">
    <div class="fl"><img th:src="@{/duohui/dianpu/images/aboutus.jpg}" width="280" height="186"></div>
    <div class="fr w720 line-height aboutwen"> 石家庄市专业刮腻子施工队的形象说明，形象解说，可以把石家庄市专业刮腻子施工队的需求，特长，比别人的优势都显示出来石家庄市专业刮腻子施工队的形象说明，形象解说，可以把石家庄市专业刮腻子施工队的需求，特长，比别人的优势都显示出来......<br>
      <br>
      <a href="#">点击查看详情</a> </div>
  </div>
</div>
<div class="w1200 clear clearfix " style="padding-top:30px;">
  <h2 class="title"><a class="lanse" name="contact" id="contact" href="#">联系我们</a></h2>
  <div class="w1100" style=" padding-top:50px;">
    <div class="fl"><img th:src="@{/duohui/dianpu/images/ditu.jpg}" width="280" height="186"></div>
    <div class="fr w720 line-height aboutwen">
      <h2> 石家庄市专业刮腻子施工队</h2>

     <span>
      地址：石家庄裕华区裕华路158号</span>
       <span>电话：0311-888866666 / 18562547255</span>
      <div class="gsmc" >
        <p class="fl" style=" vertical-align:middle;">等级：<b class="ml10  v5"></b><em class="ml10"><img th:src="@{/duohui/dianpu/images/shouji.png}"></em><em class="ml10"><img th:src="@{/duohui/dianpu/images/shiming.png}"></em></p>
      </div>
      <div class="gsmc" >
        <p class="fl" style=" vertical-align:middle;">微信：<img src="images/erweima.jpg}"></p>
      </div>
    </div>
  </div>
</div>
<div class="clear clearfix mt20"></div>


<div class="footer clear clearfix">
  <div class="w1200">
    <div class="clear clearfix footerdibu" style="padding-bottom:30px;">
      <div class="mt20 clear clearfix"><a href="about.html">关于我们</a>|<a href="contact.html">联系方式</a>|<a href="contact.html">免责条款</a>|<a href="contact.html">网站地图</a>|<a href="contact.html">网站留言</a>|<a href="contact.html">广告服务</a></div>
      <p>备案号   全国服务热线:0311-888888888    商务邮箱:123@qq.com</p>
      <p>&copy;2017-2019 SYSTEM All Rights Reserved 免责声明：本站信息均为网友自行发布，交易所带来的风险本站概不负责！</p>
    </div>
  </div>
</div>
</body>
</html>
