<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/dianpu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/dianpu/css/main_001.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/dianpu/css/huiyuan.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/dianpu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/dianpu/js/public.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
    <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
    <div th:replace="/duohui/dianpu/include/header :: header"></div>
    <div th:replace="/duohui/dianpu/include/menu :: menu"></div>
</div>
<!-- Slideshow -->
<div th:replace="/duohui/dianpu/include/slideshow :: slideshow"></div>
<div class="breadcrumbs clear clearfix mt30">
    <p class="w1200"><em class=" left"></em><span class="ml10">您当前的位置  : <a href="index.html">首页</a>><a href="newslist.html">品质保障</a></span></p>
  </div>
<div class="clear clearfix main-ny">









  <div class="w1200  product-nr ">

  <div class="left w240 mt10">
        <h3 class="title"><a class="lanse" href="#">类别</a></h3>
        <div class="category mt30">
          <ul>
            <li class="on"><a href="product.html">在售</a></li>
            <li><a href="product.html">库存</a></li>
            <li><a href="product.html">新产品</a></li>
            <li><a href="product.html">易货产品</a></li>
          </ul>
        </div>
      </div>

  <div class="right w920 mt10 ">
        <h3 class="title"><a class="heise" href="#">公司简介</a></h3>




        <div class="m_inttd w920">

    <div class="m_intm" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: -40px; width:1000px;">
      <ul id="count1">
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
        <li >
          <div class="playerdetail">
            <div class="detailimg"><a href="" target="_blank" title="沐阳太阳能"><img th:src="@{/duohui/dianpu/images/chanpin.jpg}"></a></div>
            <div class="teanames">沐阳太阳能</div>
            <a class="checkdetail" href="" target="_blank" title="沐阳太阳能">查看详情</a> </div>
        </li>
      </ul>
    </div>
  </div>
        <div class="page clear clearfix">
      <a>首页</a><a>上一页</a><a class="on">1</a><a href="">2</a><a href="">下一页</a><a href="">尾页</a>
    </div>
      </div>






  </div>
</div>



<div th:replace="/duohui/dianpu/include/footer :: footer"></div>
</body>
</html>
