<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <div th:fragment="footer" class="footer clear clearfix">
    <div class="w1200">
      <input type="hidden" th:if="${activeUser != null}" th:value="${activeUser.id}" id="activeUserId"/>
      <div class=" W950 clear clearfix" style="margin:0 auto;">
        <div class="fl list w210">
          <dl>
            <dt>新手上路</dt>
            <div class="clear clearfix"></div>
            <dd><a href="/api/duohui/login/toRegister">会员注册</a></dd>
            <dd><a href="/api/duohui/login/toLogin">会员登录</a></dd>
            <dd><a href="/api/duohui/login/seekPass1">找回密码</a></dd>
            <dd><a href="javascript:skipToUserCenter()">发布信息</a></dd>
            <dd><a href="/api/duohui/gongqiu/list">查找信息</a></dd>
          </dl>
        </div>
        <div class="fl list w210 ml23">
          <dl>
            <dt>会员服务</dt>
            <div class="clear clearfix"></div>
            <dd><a href="/api/duohui/guanwang/single/100029?menuId=100022">会员须知</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100010?menuId=100022">会员等级</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100030?menuId=100022">会员福利</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100009?menuId=100022">广告服务</a></dd>
          </dl>
        </div>
        <div class="fl list w210  ml23">
          <dl>
            <dt>认证服务</dt>
            <div class="clear clearfix"></div>
            <dd><a href="/api/duohui/guanwang/single/100031?menuId=100022">个人认证流程</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100032?menuId=100022">企业认证流程</a></dd>
          </dl>
        </div>
        <div class="fl list w210  ml23">
          <dl>
            <dt>平台操作指南</dt>
            <div class="clear clearfix"></div>
            <dd><a href="/api/duohui/guanwang/single/100033?menuId=100022">购物流程</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100034?menuId=100022">支付方式</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100035?menuId=100022">合同下载</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100036?menuId=100022">店铺信息维护</a></dd>
            <dd><a href="/api/duohui/guanwang/single/100037?menuId=100022">招投标</a></dd>
          </dl>
        </div>
      </div>
      <div class="w1200 clear clearfix" style="height:1px; background:#e2e2e2; margin:30px;"></div>
      <div class="clear clearfix footerdibu" style="padding-bottom:30px;">
        <div class="mt20 clear clearfix">
          <a href="/api/duohui/guanwang/single/100001?menuId=100006">关于我们</a>
          |<a href="/api/duohui/gongqiu/index">供求信息</a>
          |<a href="/api/duohui/chanpin/index">产品商城</a>
          |<a href="/api/duohui/toubiao/index">招投标</a>
          |<a href="/api/duohui/qiye/index">服务平台</a>
          |<a href="/api/duohui/guanwang/page/articleType_notice?menuId=100012">公司动态</a>
        </div>
        <p>备案号   全国服务热线:400-635-1907    商务邮箱:yewubu@dhgyl.com</p>
        <p>&copy;2017-2019 SYSTEM All Rights Reserved 免责声明：本站信息均为网友自行发布，交易所带来的风险本站概不负责！</p>
        <p class="mt30" ><img th:src="@{/duohui/chanpin/images/1_121.jpg}"></p>
      </div>
    </div>
  </div>
</html>
