<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <div th:fragment="header_top" class="header_top">
    <div class="w1200 clear clearfix">
      <span class="huan left">
        <a class="mr10">您好！欢迎来到多汇供应链管理有限公司</a>|
        <a th:if="${activeUser==null}" class="ml10 mr10" href="/api/duohui/login/toLogin">请登录</a>
        <a th:if="${activeUser!=null}" class="ml10 mr10" href="javascript:void(0)">[[${activeUser.name}]]</a>|
        <a th:if="${activeUser==null}" class="ml10 mr10" href="/api/duohui/login/toRegister">免费注册</a>
      </span>
      <div class=" right  top" >
        <ul class="duohui_menu fr font-f">
          <li class="no_sub"><span class="huan fl"><a >服务热线:</a><a class="red" ><b>400-635-1907</b></a><a ><img th:src="@{/duohui/chanpin/images/shoucang.jpg}" /></a></span></li>
          <li> <a class="bgt" href="/api/cp/cart/fDetail">购物车</a>
            <!--<ul>
              <li><a href="#">已加入购物车</a></li>
            </ul>-->
          </li>
          <li> <a class="bgt" href="#">我的业务体系</a>
            <ul>
              <li><a  href="/api/duohui/gongqiu/index">信息平台</a></li>
              <li><a href="/api/duohui/chanpin/index">产品平台</a></li>
              <li><a  href="/api/duohui/qiye/index">服务平台</a></li>
              <li><a href="/api/duohui/toubiao/index">招投标平台</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="/api/duohui/guanwang/single/100002?menuId=100006">客服中心</a>
            <ul>
              <li><a  href="/api/duohui/guanwang/single/100002?menuId=100022">新手入门</a></li>
              <li><a href="/api/duohui/login/seekPass1">找回密码</a></li>
<!--              <li><a  href="#">注销店铺</a></li>-->
              <li><a href="/api/duohui/guanwang/single/100016?menuId=100022">联系客服</a></li>
            </ul>
          </li>
          <li> <a class="bgt">会员中心</a>
            <ul>
              <li><a href="#" onclick="skipToUserCenter()">会员中心</a></li>
<!--              <li><a href="#" onclick="skipToUserCenter()">我的资料</a></li>-->
              <li><a href="/api/duohui/login/toLogin">退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</html>
