<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/qiye/include/head :: head"></div>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
  <div class="w1200 clearBoth clearfix" style="margin-top:2px;">
    <h1 class="logo fl"><a href="index.html" target="_blank"><img src="images/logo.jpg" title="多汇供应"  /></a> </h1>
    <div class="fr fabu"><a class="" href="mffbxx.html">发布产品信息</a></div>
    <div class="fl area ml10"> <img src="images/dhcp_area.jpg"><em>石家庄</em><a href="#">[切换城市]</a> </div>
    <div class="sousuo fr mr30  ml10" >
      <form>
        <input type="search" class="soukuang fl" placeholder="请输入产品名称" />
        <input type="button" class="sousuo fl" value="搜  索" style="margin-top:1px;" />
      </form>
    </div>
  </div>
  <div th:replace="../templates/duohui/common/navbg :: navbg"></div>
</div>
<div class="clear clearfix mt10"></div>
<div class="clear clearfix w1150"> <a href="#0"><img src="images/1_39.jpg" width="1150"></a> </div>
<div class="clear clearfix mt20"></div>
<div class="weizhi w1150">
  <p><em class="fl"></em><span class="ml10">您当前的位置 : : <a href="index.html">首页</a>><a href="newslist.html">石家庄腻子粉公司</a></span></p>
</div>
<div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
  <div class=" w210 fr ">

    <div class="baibg clear clearfix newslei bor">
        <dl>
          <dt>按分类浏览</dt>
          <dd><a class="no" href="#">公司动态</a></dd>
          <dd><a href="#">行业新闻</a></dd>
          <dd><a href="#">平台信息</a></dd>
          <dd><a href="#">政策法规</a></dd>
        </dl>
      </div>
       <div class="clear clearfix mt20"></div>
  <div class=" clear clearfix  newslei">
       <div class="tjhy-title">
            <h2 class="fl"><span></span><a class="mr30" style="font-size:18px;" href="#">最新入驻企业</a></h2>
          </div>
        <div class="paixu mt20">
          <ul>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
          </ul>
        </div>
      </div>
       <div class="clear clearfix mt20"></div>
      <div class=" clear clearfix  newslei">
       <div class="tjhy-title">
            <h2 class="fl"><span></span><a class="mr30" style="font-size:18px;" href="#">最新合作会员</a></h2>
          </div>
        <div class="paixu mt20">
          <ul>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
            <li><a href="#">河北邢台常洁松求职电焊工</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class=" W920 fl bor">
<h2 style="color:#fff; font-size:24px; line-height:50px; background:#e60000; padding:10px;"><span style=" font-weight:800;">石家庄腻子粉公司</span></h2>



    <div class="clear line-height  border-top ">
    <div class="page">

    石家庄腻子粉公司简介  地址电话  联系方式   地图   可以放自己的产品图片， 都可以再编辑器里面实现，客户可以充分展示自己想要用的，用心搭建页面也可以很完美
     如文字大小，字体颜色，都可以通过编辑器实现， <br>
可以再编辑器旁边温馨提示一下，方便客户把页面填充的更完善


      </div>
         <div class="clear clearfix mt20"></div>
      <div class="prenext"  style="margin:0 0 0 15px; line-height:40px;"> 上一企业：<a href="#">石家庄网络公司</a>

      <br />
      下一企业：<a href="#">河北供求网公司</a>

      <div style="clear:both;"></div>
    </div>


      </div>
  </div>
</div>
<div th:replace="../templates/duohui/common/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
</body>
</html>
