<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="../templates/duohui/gongqiu/include/head :: head"></div>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/gongqiu/include/header :: header"></div>
  <div th:replace="../templates/duohui/gongqiu/include/navbg :: navbg"></div>
</div>
<div class="clearBoth"></div>

<div class="w1200">
  <div th:replace="../templates/duohui/gongqiu/include/selectBrand :: selectBrand"></div>
  <div th:replace="../templates/duohui/chanpin/include/denglu :: denglu"></div>
</div>

<!-- Slideshow -->
<div th:replace="../templates/duohui/gongqiu/include/slideshow :: slideshow"></div>
<div th:replace="../templates/duohui/gongqiu/include/huibg :: huibg"></div>

<!--盖楼-->
<div class="clear">
  <div class="clear w1200 product mt20" th:each="primaryIndustry,status:${industryDlist}">
    <h2><em class="mr10">[[${status.index+1}]]F</em><a href="#">[[${primaryIndustry.name}]]</a></h2>
    <div class="clear product-nr clearfix">
      <div class="fl  w340 ">
        <div class=" product-l"> <a href="#">
          <h3 >推荐商家</h3>
          <img th:src="@{/duohui/gongqiu/images/tu3.png}"> </a>
          <div class="profen clear clearfix"> <a href="#">小分类</a><a href="#">小分类</a><a href="#">小分类</a><a href="#">小分类</a><a href="#">小分类</a><a href="#">小分类</a><a href="#">小分类</a><a href="#">小分类</a> </div>
        </div>
      </div>
      <div class="fr w840 product-r">
        <div class=" huibgg clear clearfix " th:each="secondryIndustry,status:${primaryIndustry.children}" th:if="${status.index<4}">
          <div class="tjhy-title1 clear clearfix">
            <h3 ><span class="fr mr10"><a class="more" href="">更多</a></span><a class="mr30 title"  href="#">[[${secondryIndustry.name}]]</a></h3>
          </div>
          <dl>
            <dd th:each="information:${gqInformationListMap[secondryIndustry.code]}"><span class="fr mr10">[[${#dates.format(information.createTime, 'yyyy-MM-dd')}]]</span><em class="fr"> [急]</em><a th:href="${'/api/gq/information/fDetail/'+information.id}">[[${information.name}]]</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

   <div class="w1200 clear clearfix guanggao " style=" background:url(../../../static/duohui/gongqiu/images/gg3.jpg);"></div>

</div>

<!--盖楼-->
<div class=" clear clearfix mt20"></div>
<div th:replace="../templates/duohui/chanpin/include/bottomAd :: bottomAd"></div>
<div class=" clear clearfix mt20"></div>
<div th:replace="../templates/duohui/chanpin/include/cooperator :: cooperator"></div>
<div class=" clear clearfix mt20"></div>

<div th:replace="../templates/duohui/chanpin/include/outlink :: outlink"></div>
<div th:replace="../templates/duohui/common/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>

<script type="text/javascript"><!--分类-->
$(document).ready(function () {
  $(".topbar .menu").hover(function () {
            $(".topbar li").removeClass("hover");
            $(this).addClass("hover");
          },
          function () {
            $(this).removeClass("hover");
          }
  );
  $(".brand_cat #bc1,.brand_cat #bc2,.brand_cat #bc3,.brand_cat #bc4").mouseover(function () {
    $(".brand_cat li").removeClass("on");
    $(this).addClass("on");
    $(".ulcut").hide();
    $("#show" + $(this).attr('id')).show();
  });
  $(".cat_show dl").hover(function () {
            $(this).addClass("show_on");
            $(this).find(".show_more").show();
          },
          function () {
            $(this).removeClass("show_on");
            $(this).find(".show_more").hide();
          });
  $(function () {
    var _wrap = $(".bom_top ul");
    var _interval = 2000;
    var _moving;
    _wrap.hover(function () {
      clearInterval(_moving);
    }, function () {
      _moving = setInterval(function () {
        var _field = _wrap.find('li:first');
        var _h = _field.height();
        _field.animate({ marginTop: -_h + 'px' }, 600, function () {
          _field.css('marginTop', 0).appendTo(_wrap);
        })
      }, _interval)
    }).trigger('mouseleave');
  });
  $(function () {
    var sWidth = $(".imgplayer").width();
    var len = $(".imgplayer ul li").length;
    var index = 0;
    var picTimer;

    var btn = "<div class='btnBg'></div><div class='btn'>";
    for (var i = 0; i < len; i++) {
      btn += "<span>" + (i + 1) + "</span>";
    }
    btn += "</div>"
    $(".imgplayer").append(btn);
    $(".imgplayer .btnBg").css("opacity", 0.5);

    $(".imgplayer .btn span").mouseenter(function () {
      index = $(".imgplayer .btn span").index(this);
      showPics(index);
    }).eq(0).trigger("mouseenter");

    $(".imgplayer ul").css("width", sWidth * (len + 1));

    $(".imgplayer ul li div").hover(function () {
      $(this).siblings().css("opacity", 0.7);
    }, function () {
      $(".imgplayer ul li div").css("opacity", 1);
    });

    $(".imgplayer").hover(function () {
      clearInterval(picTimer);
    }, function () {
      picTimer = setInterval(function () {
        if (index == len) {
          showFirPic();
          index = 0;
        } else {
          showPics(index);
        }
        index++;
      }, 3000);
    }).trigger("mouseleave");

    function showPics(index) {
      var nowLeft = -index * sWidth;
      $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500);
      $(".imgplayer .btn span").removeClass("on").eq(index).addClass("on");
    }

    function showFirPic() {
      $(".imgplayer ul").append($(".imgplayer ul li:first").clone());
      var nowLeft = -len * sWidth;
      $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500, function () {

        $(".imgplayer ul").css("left", "0");
        $(".imgplayer ul li:last").remove();
      });
      $(".imgplayer .btn span").removeClass("on").eq(0).addClass("on");
    }
  });
});
</script>
<script type="text/javascript">
  var LanMu = $(".lanmu-list");
  var lanMuSun = LanMu.children('dl');
  if((lanMuSun.size()) > 10){
    LanMu.children("dl:gt(8)").hide();
    $(".listmore").show();
  }
  $(".listmore").bind("click", function(){
    if(!$(".listmore").hasClass('ListMoreOn')){
      $(".listmore").addClass('ListMoreOn');
      LanMu.children("dl:gt(8)").slideDown();
      $(".listmore").html("折叠栏目 ↑")
    }else{
      $(".listmore").removeClass('ListMoreOn');
      LanMu.children("dl:gt(8)").slideUp();
      $(".listmore").html("查看更多 ↓");

    }
  })
</script>
<script type="text/javascript">
  <!--
  //切换到相关页
  function gopage1(n)
  {
    var tag1 = document.getElementById("title1").getElementsByTagName("li");
    var taglength = tag1.length;

    for (i=1;i<=taglength;i++)
    {
      document.getElementById("m"+i).className="";
      document.getElementById("c"+i).style.display='none';
    }
    document.getElementById("m"+n).className="title1_cur";
    document.getElementById("c"+n).style.display='';
  }
  //-->
</script>
</body>
</html>
