<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="goodsUnit">
  <a class="pic" th:href="${'/api/cp/goods/fDetail/'+goods.id}">
    <img th:src="${goods.titleImgUrl}">
  </a>
  <a class="biaoti" th:href="${'/api/cp/goods/fDetail/'+goods.id}">[[${goods.name}]]</a>
  <em class="diqu">[[${goods.map['industryTypeDnames']}]] | [[${goods.map['regionNames']}]]</em>
  <i class="jiage">
    <a class="fr mr10" href="#">议价</a>
    ￥<b>[[${goods.sellingPrice}]]</b> 元
  </i>
  <a class="company" href="javascript:void(0)" th:onclick="openShop([[${goods.companyId}]],[[${goods.isOpenShop}]])">[[${goods.map['companyName']}]]</a>
</div>
</html>
