<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class=" clear clearfix  newslei product-nr" th:fragment="remai">
        <div class="tjhy-title">
            <h2 class="fl"><span></span><a class="mr30" style="font-size:18px;" href="#">热卖推荐</a></h2>
        </div>

        <div class=" product-r gsmc" style=" width:210px;">
            <ul>
                <li th:each="goods:${hotGoodsList}">
                    <div th:replace="/duohui/chanpin/include/goodsUnit :: goodsUnit"></div>
                </li>
            </ul>
        </div>
    </div>
</html>
