<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="slideshow" class=" w1200">
    <div class=" fl" style="width:760px; margin-left:210px;">
        <div id="pz_m_1" class=" section" >
            <script type="text/javascript">
                $(function () {
                    // Slideshow
                    $("#slider").responsiveSlides({
                        auto: true,
                        pager: false,
                        nav: true,
                        speed: 500,
                        timeout:4000,
                        pager: true,
                        pauseControls: true,
                        namespace: "callbacks"
                    });
                });
            </script>
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider">
                    <li th:each="imageUrl : ${#strings.arraySplit(record.map.bannerFileUrls, ',')}"><a ><img th:src="${imageUrl}" alt="" style="height: 305px"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear clearfix"></div>
    <div class="clear" style="color:#000;margin-left:190px; margin-top:45px;">
        <ul class="scroll_ul">
            <li th:each="shop:${hotShopList}"> <a href="#" th:onclick="openShop([[${shop.id}]],[[${shop.isFacade}]])" >
                <div class="txt">
                    <p class="t">热门商铺排行榜</p>
                    <p>热门商铺排行榜</p>
                </div>
                <img th:src="${shop.map['titleFileUrl']}" alt="" > </a>
            </li>
        </ul>
    </div>
</div>
</html>
