<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/toubiao/include/head :: head"></div>
<body>
<div th:replace="../templates/duohui/toubiao/include/header :: header"></div>
<div class="clearBoth"></div>

<!-- Slideshow -->

<div id="pz_m_1" class=" section" >
  <script type="text/javascript" th:src="@{/duohui/toubiao/js/jquery-1.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/toubiao/js/responsiveslides.js}"></script>
  <script type="text/javascript">
$(function () {
	// Slideshow
	$("#slider").responsiveSlides({
		auto: true,
		pager: false,
		nav: true,
		speed: 500,
		timeout:4000,
		pager: true,
		pauseControls: true,
		namespace: "callbacks"
	});
});
</script>
  <div class="callbacks_container">
    <ul class="rslides callbacks callbacks1" id="slider">
      <li><a ><img th:src="@{/duohui/toubiao/images/banner.jpg}" alt=""></a></li>
      <li><a ><img th:src="@{/duohui/toubiao/images/banner.jpg}" alt=""></a></li>
      <li><a ><img th:src="@{/duohui/toubiao/images/banner.jpg}" alt=""></a></li>
    </ul>
  </div>
</div>
<div class=" clear clearfix " style="height:26px;"></div>
<!--盖楼-->
<div class="clear" th:if="${primaryStatus.index<3}" th:each="primaryIndustry,primaryStatus:${industryDlist}">
  <div class="clear w1200 product mt20">
    <h2>
      <span class="fr">
      <!--<a href="#">小分类</a><a>|</a>-->
      <a href="/api/duohui/toubiao/list">查看更多</a>
      </span>
      <em class="mr10">[[${primaryStatus.index+1}]]F</em><a href="#">[[${primaryIndustry.name}]]招标</a>
    </h2>
    <div class="clear product-nr clearfix">
      <div class="fl w230 ">
        <div class=" product-l"> <a href="#"> <img th:src="@{/duohui/toubiao/images/toubiao_biao.jpg}"> </a> </div>
      </div>
      <div class="fr product-r">
        <div class=" clearfix kuan">
          <ul class="biaoti">
            <li th:class="${secondryStatus.index==0?'on':' '}" th:if="${secondryStatus.index<4}" th:each="secondryIndustry,secondryStatus:${primaryIndustry.children}">
              <h3 ><a th:onmouseover="gopage(this,[[${secondryIndustry.id}]])">[[${secondryIndustry.name}]]</a></h3>
            </li>
          </ul>
          <div class=" clear clearfix">
            <div th:id="${'industryProject'+secondryIndustry.id}" th:style="${secondryStatus.index==0?' ':'display: none;'}" class=" huadong"
                 th:if="${secondryStatus.index<4}" th:each="secondryIndustry,secondryStatus:${primaryIndustry.children}">
              <ul>
                <li th:each="project:${projectListMap[secondryIndustry.code]}">
                  <div th:replace="../templates/duohui/toubiao/include/projectUnit :: projectUnit"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" clearfix kuan">
          <ul class="biaoti">
            <li th:class="${secondryStatus.index==4?'on':' '}" th:if="${secondryStatus.index<8&&secondryStatus.index>3}" th:each="secondryIndustry,secondryStatus:${primaryIndustry.children}">
              <h3 ><a th:onmouseover="gopage(this,[[${secondryIndustry.id}]])">[[${secondryIndustry.name}]]</a></h3>
            </li>
          </ul>
          <div class=" clear clearfix">
            <div th:id="${'industryProject'+secondryIndustry.id}" th:style="${secondryStatus.index==4?' ':'display: none;'}" class=" huadong"
                 th:if="${secondryStatus.index<8&&secondryStatus.index>3}" th:each="secondryIndustry,secondryStatus:${primaryIndustry.children}">
              <ul>
                <li th:each="project:${projectListMap[secondryIndustry.code]}">
                  <div th:replace="../templates/duohui/toubiao/include/projectUnit :: projectUnit"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear clearfix mt20"></div>
  <div class="clear clearfix w1200"><a href="#"><img th:src="@{/duohui/toubiao/images/guanggaoyi.jpg}" width="1200" height="90"> </a></div>
</div>
<!--盖楼-->

<div class=" clear clearfix mt20"></div>
<div class="clear w1200 list">
  <div class="kuan clearfix border">
    <h2><span class="fr mr10"><a href="/api/duohui/toubiao/list">更多</a></span><a  href="#">中标公示</a></h2>
    <ul>
      <li th:each="project:${applyingProjectList}">
        <div th:replace="../templates/duohui/toubiao/include/projectUnitShort :: projectUnit"></div>
      </li>
    </ul>
  </div>
  <div class="kuan clearfix border">
    <h2><span class="fr mr10"><a href="/api/duohui/toubiao/list">更多</a></span><a href="#">拟在建</a></h2>
    <ul>
      <li th:each="project:${notStartProjectList}">
        <div th:replace="../templates/duohui/toubiao/include/projectUnitShort :: projectUnit"></div>
      </li>
    </ul>
  </div>
  <div class="kuan clearfix border">
    <h2><span class="fr mr10"><a href="/api/duohui/toubiao/list">更多</a></span><a href="#">标书下载</a></h2>
    <ul>
      <li th:each="project:${applyingProjectList}">
        <div th:replace="../templates/duohui/toubiao/include/projectUnitShort :: projectUnit"></div>
      </li>
    </ul>
  </div>
</div>
<div class=" clear clearfix mt20"></div>
<div class="w1200" style=" padding-bottom:30px;">
  <div th:replace="../templates/duohui/chanpin/include/cooperator :: cooperator"></div>
  <script th:src="@{/duohui/toubiao/js/flickerplate.min.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/toubiao/js/jcarousellite_1.0.1.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/toubiao/js/js.js}"></script>
</div>
<div class=" clear clearfix mt20"></div>
<div th:replace="../templates/duohui/chanpin/include/outlink :: outlink"></div>
<div th:replace="../templates/duohui/chanpin/include/footer :: footer"></div>
<div th:replace="../templates/duohui/chanpin/include/script :: script"></div>
</body>
<script type="text/javascript">
  //切换到相关页
  function gopage(ele,industryId) {
    $(ele).closest("ul.biaoti").children(".on").removeClass("on");
    $(ele).closest("li").addClass("on");

    let industryDiv = $("#industryProject"+industryId);
    industryDiv.css("display","").parent().children().not(industryDiv).css("display","none")
  }
</script>
</html>
