<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/toubiao/include/head :: head"></div>
<body>
<div th:replace="../templates/duohui/toubiao/include/header :: header"></div>
<div class="banner" style="background:url(/api/duohui/toubiao/images/banner2.jpg) center top no-repeat;"></div>
<!--<div class="weizhi w1150">
  <p><em class="fl"></em><span class="ml10">您当前的位置 : <a href="index.html">首页</a>><a href="newslist.html">品质保障</a></span></p>
</div>-->
<div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
  <div class=" w210 fr ">
    <div class=" clear clearfix newslei border">
      <dl>
        <dt>按行业浏览</dt>
        <dd><a class="no" href="#">公司</a></dd>
        <dd><a href="#">行业</a></dd>
        <dd><a href="#">平台</a></dd>
        <dd><a href="#">政策法规</a></dd>
      </dl>
    </div>
    <div class="clear clearfix mt20"></div>
    <div class=" clear clearfix newslei border">
      <dl>
        <dt>按地区浏览</dt>
        <dd><a class="no" href="#">河北省</a></dd>
        <dd><a href="#">湖南省</a></dd>
        <dd><a href="#">湖北省</a></dd>
        <dd><a href="#">陕西省</a></dd>
      </dl>
    </div>
    <div class="clear clearfix mt20"></div>
    <div class=" clear clearfix newslei border">
      <dl>
        <dt>热门招标</dt>
        <dd><a class="no" href="#">电力工程</a></dd>
        <dd><a href="#">电力设备</a></dd>
        <dd><a href="#">电力采购</a></dd>
        <dd><a href="#">公路工程</a></dd>
      </dl>
    </div>
    <div class="clear clearfix mt20"></div>
    <div class=" clear clearfix  newslei">
      <div class="tjhy-title">
        <h2 class="fl"><span></span><a class="mr30" style="font-size:18px;" href="#">点击排行</a></h2>
      </div>
      <div class="paixu mt20">
        <ul>
          <li th:each="project:${browseProjectList}"><a href="#">[[${project.name}]]</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class=" W920 fl bor">
    <h2 style=" text-align:center; color:#000; font-size:24px; line-height:50px;"><span>[[${record.name}]]</span><img class="ml10" th:src="@{/duohui/toubiao/images/v.gif}"></h2>
    <div style="text-align:center; margin:0 auto;  display:block; line-height:60px;"> 来源：平台方 &nbsp;&nbsp;发布时间：[[${#dates.format(record.createTime, 'yyyy-MM-dd')}]]
      &nbsp;&nbsp;浏览：[[${record.browseCount}]]次
      <a id="collectBtn" class="shoucang" onclick="javascript:collectProject();">
        [[${record.collectAccountIds!=null&&activeUser!=null&&#strings.contains(record.collectAccountIds,activeUser.id)?'已':''}]]收藏</a>
    </div>
    <div class="clear line-height  border-top ">
      <div class="tjhy-title" style=" padding-bottom: 40px;">
        <h2 class="fl" style="padding-bottom:7px;"><a class="mr30" style="font-size:16px;">招标信息</a></h2>
      </div>
       <div class="clear clearfix mt20"></div>
      <table width="100%" border="1" class="nr2_table">
        <tbody>
          <tr>
            <td class="td1_bg" width="100">所属地区</td>
            <td width="140">[[${record.name}]]</td>

            <td class="td1_bg" width="100">资质要求</td>
            <td width="160">[[${record.qualification}]]</td>
            <td class="td1_bg" width="100">项目进展</td>
            <td width="160"> [<span style="color:#125baa">[[${record['map']['statusDname']}]]</span>]
              <span class="fuwu_gb" th:if="${record.statusDcode == 'dh_bidStatus_applying'}">
                <a id="applyBtn" th:if="${record.isApplyed != true}" href="javascript:applyProject()">投标报名</a>
                [[${record.isApplyed == true ?'已报名':''}]]
              </span></td>
          </tr>
          <tr>
            <td class="td1_bg" width="100">报名截止时间</td>
            <td colspan="2">[[${#dates.format(record.registerEndTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
            <td class="td1_bg" width="100">开标时间</td>
            <td colspan="2">[[${#dates.format(record.openTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
          </tr>
        </tbody>
      </table>
      <div class="tjhy-title" style=" padding-bottom: 40px;">
        <h2 class="fl" style="padding-bottom:7px;"><a class="mr30" style="font-size:16px;">招标信息</a></h2>
      </div>
      <div class="una-editor-show page" th:value="${record.content }"></div>
      <div class="tjhy-title" style=" padding-bottom: 40px;">
        <h2 class="fl" style="padding-bottom:7px;"><a class="mr30" style="font-size:16px;">联系方式</a></h2>
      </div>
      <div class="page clear  " style="min-height:100px; margin-top:20px;"> <span class="danye-kuai">会员登录后才可查看详细信息，请<br>
        <a href="">登录</a></span> </div>
      <div class="clear clearfix mt20"></div>
      <!--<div class="prenext"  style="margin:0 0 0 15px; line-height:40px;"> 上一篇：<a href="#">如何发布信息</a> <br />
        下一篇：<a href="#">如何发布信息</a>
        <div style="clear:both;"></div>
      </div>-->
    </div>
  </div>
</div>
<div th:replace="../templates/duohui/chanpin/include/footer :: footer"></div>
<div th:replace="../templates/duohui/chanpin/include/script :: script"></div>
</body>
<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
<script th:fragment="script">
  //收藏项目
  function collectProject(){
    if (!judgeActive())return;

    var projectId = '[[${record.id}]]';
    let text = $("#collectBtn").text().trim();
    var isCollect = 0;
    if(text === '收藏'){
      isCollect = 1;
    }


    // layer.confirm('您确定要'+text+'该项目吗？', {
    //   btn: ['确认','取消'] //按钮
    // }, function(){
      $.ajax({
        type: 'PUT',
        dataType: 'json',
        traditional:true,
        url: "/api/bid/project/collect/"+projectId+"/"+isCollect,
        success:function(result){
          if(isCollect==1){
            $("#collectBtn").text("已收藏");
          }else{
            $("#collectBtn").text("收藏");
          }
          layer.msg(result.message)
        },
        error: function(XMLHttpRequest) {
          console.log("访问出错了，错误代号："+XMLHttpRequest.status);
        }
      })
    // })
  }

  //报名投标
  function applyProject(){
    if (!judgeActive())return;

    /*var text = $("#applyBtn").text();
    if(text==='已报名'){

    }*/

    layer.confirm('您确定要报名该项目吗？', {
      btn: ['确认','取消'] //按钮
    }, function(){
      var projectId = '[[${record.id}]]';
      $.ajax({
        type: 'post',
        url: "/api/bid/bidder/save",
        dataType: 'json',
        data: {"projectId":projectId},
        success: function (result) {
          layer.msg(result.message)
        },
        error: function(XMLHttpRequest) {
          console.log("访问出错了，错误代号："+XMLHttpRequest.status);
        }
      })
    })
  }
</script>
</html>
