<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司" />
<meta name="description" content="多汇供应链管理有限公司" />
<link th:href="@{/duohui/guanwang/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/guanwang/css/main_001.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" th:src="@{/duohui/guanwang/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript">

$(function(){
var myNav = document.getElementById("menu").getElementsByTagName("a");
for(var i=0;i<myNav.length;i++){
var links = myNav[i].getAttribute("href");
var myURL = document.location.href;
if(myURL.indexOf(links) != -1){

myNav[i].className="on";
myNav[i].parentNode.parentNode.previousElementSibling.className="on";

}
}
			});
</script>
</head>
<body>
<div id="wrapper"  >
  <div class="header_top">
    <div class="w1200 clear clearfix"> <span class="huan left"><a class="mr10">您好！欢迎来到多汇供应链管理有限公司</a>|<a class="ml10 mr10" href="login.html">请登录</a>|<a class="ml10 mr10" href="register.html">免费注册</a></span>
      <div class=" right  top" >
        <ul class="duohui_menu fr font-f">
          <li class="no_sub"><span class="huan fl"><a >服务热线:</a><a class="red" ><b>400-635-1907</b></a><a ><img th:src="@{/duohui/guanwang/images/shoucang.jpg}" /></a></span></li>
          <li> <a class="bgt" href="gouwuche.html">购物车</a>
            <ul>
              <li><a  href="#">已加入购物车</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="#">我的业务体系</a>
            <ul>
              <li><a  href="#">信息平台</a></li>
              <li><a href="#">产品平台</a></li>
              <li><a  href="#">服务平台</a></li>
              <li><a href="#">招投标平台</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="project.html">客服中心</a>
            <ul>
              <li><a  href="#">新手入门</a></li>
              <li><a href="#">找回密码</a></li>
              <li><a  href="#">注销店铺</a></li>
              <li><a href="#">联系客服</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="#">会员中心</a>
            <ul>
              <li><a  href="#">会员中心</a></li>
              <li><a href="#">我的资料</a></li>
              <li><a href="#">退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="w1200 clearBoth clearfix"> <a class="logo left" href="index.html"><img th:src="@{/duohui/guanwang/images/logo.jpg}" border="0"></a>
      <!--menu start-->
      <ul class="menu right" id="menu"> <li class="on"> <a class="on"  href="index.html">首页</a> </li>
        <li class="on"> <a class=" " href="javascript:void(0)">关于我们</a>
          <ul class="submenu">
            <li><a href="about.html">公司简介</a></li>
            <li><a href="about.html">企业文化</a></li>
            <li><a href="about.html">发展战略</a></li>
            <li><a href="about.html">组织架构</a></li>
          </ul>
        <li class="on"> <a class="" href="javascript:void(0)">业务体系</a>
          <ul class="submenu">
            <li><a href="show.html">信息平台</a></li>
            <li><a href="show.html">产品平台</a></li>
            <li><a href="show.html">服务平台</a></li>
            <li><a href="show.html">招投标平台</a></li>
          </ul>
        </li>
        <li class="on"> <a class=""  href="javascript:void(0)">资讯中心</a>
          <ul class="submenu">
            <li><a href="news.html">政策法规</a></li>
            <li><a href="news.html">行业动态</a></li>
            <li><a href="news.html">公司公告</a></li>
          </ul>
        </li>
        <li class="on"> <a class=""  href="contact.html">联系我们</a> </li>
        <li class="on"> <a class=""  href=".html">办公入口</a> </li>
      </ul>
    </div>
  </div>
  <div class="banner" th:style="'background:url(/duohui/guanwang/images/banner-ny.jpg)'"></div>
  <!--<div class="banner" th:style="'background:url('+'/duohui/guanwang/images/banner-ny.jpg'+')'"></div>-->
  <div class="breadcrumbs">
    <p class="w1200"><em class=" left"></em><span class="ml10">您当前的位置  : <a href="index.html">首页</a>><a href="newslist.html">品质保障</a></span></p>
  </div>
  <div class="main-ny" >
    <div class="w1200">
      <div class="left w240 mt10">
        <h3 class="title"><a class="lanse" href="#">关于我们</a></h3>
        <div class="category mt30">
          <ul>
            <li><a href="#">公司简介</a></li>
            <li><a href="#">企业文化</a></li>
            <li><a href="#">发展战略</a></li>
            <li><a href="#">组织架构</a></li>
          </ul>
        </div>
      </div>
      <div class="right w890 mt10">
        <h3 class="title"><a class="heise" href="#">[[${record.name }]]</a></h3>
        <div class="nr clearBoth line30">[[${record.value.content }]]</div>
      </div>
    </div>
  </div>
  <div class="footer clearBoth">
    <div class="w1200">
      <div class="foot-nav"> <a href="#">关于我们</a><a>|</a> <a href="#">供求信息</a> <a>|</a> <a href="#">产品商城</a> <a>|</a> <a href="#">招投标</a> <a>|</a> <a href="#">产品及服务</a> <a>|</a> <a href="#">公司动态</a> <a>|</a> <a href="#">联系我们</a> </div>
      <div class="banquan "> 咨询热线：400-635-1907        企业邮箱：yewubu@dhgyl.com<br />
        河北省石家庄市裕华区槐安东路鑫科国际广场C座1806室<br />
        版权所有：多汇供应链管理有限公司<br />
        备案号： 冀ICP备19032765号 </div>
    </div>
  </div>
  <link rel="stylesheet"  th:href="@{/duohui/guanwang/css/animate.min.css}">
  <script th:src="@{/duohui/guanwang/js/wow.min.js}"></script>
  <script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</div>
</body>
</html>
