<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/guanwang/include/head :: head"></div>
<body>
<div id="wrapper"  >
  <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/guanwang/include/header :: header"></div>

  <div id="pz_m_1" class=" section">
    <script type="text/javascript" th:src="@{/duohui/guanwang/js/jquery-1.js}"></script>
    <script type="text/javascript" th:src="@{/duohui/guanwang/js/responsiveslides.js}"></script>
    <script type="text/javascript">
$(function () {
	// Slideshow
	$("#slider").responsiveSlides({
		auto: true,
		pager: false,
		nav: true,
		speed: 500,
		timeout:4000,
		pager: true,
		pauseControls: true,
		namespace: "callbacks"
	});
});
</script>
    <div class="callbacks_container">
      <ul class="rslides callbacks callbacks1" id="slider">
        <li th:each="imageUrl : ${#strings.arraySplit(record.map['bannerFileUrls'], ',')}"><a ><img th:src="${imageUrl}" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="main" >
    <div class=" aboutus  clearBoth clearfix">
      <div class="w1200">
        <h2 class="title clearBoth clearfix" > <a href="about.html" >关于我们</a><em>[[${record.value.gywmDescription}]]</em><i></i> </h2>
        <div class="clearBoth clearfix" style="height:80px;"></div>
        <div class="una-editor-show left aboutusnr wow bounce animated" th:value="${record.value.gywmContent }">

          <a href="#" class="left mt20"><img th:src="@{/duohui/guanwang/images/nore.jpg}" /></a> </div>
        <div class="abouttu right wow fadeInRight animated"><img th:src="${record.map['gywmImgFileUrl']}"/></div>
      </div>
    </div>
    <div class="server clearBoth clearfix">
      <div class="w1200 clearBoth clearfix">
        <h2 class="title clearBoth clearfix" > <a href="about.html" style="color:#fff;" >业务体系</a><em style="color:#fff;" >[[${record.value.ywtxDescription}]]</em><i style=" background:#fff;" ></i> </h2>
        <div class="clearBoth clearfix" style="height:80px;"></div>
        <div class="serverlist">
          <ul>
            <li><a th:href="${record.value.xxptLink}">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>信息平台</b> </div>
              <div class="xia"><img th:src="${record.map['xxptImgFileUrl']}" /></div>
              </a> </li>
            <li><a th:href="${record.value.cpptLink}">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>产品平台</b> </div>
              <div class="xia"> <img th:src="${record.map['cpptImgFileUrl']}" /></div>
              </a> </li>
            <li><a th:href="${record.value.fwptLink}">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>服务平台</b> </div>
              <div class="xia"><img th:src="${record.map['fwptImgFileUrl']}" /></div>
              </a> </li>
            <li><a th:href="${record.value.ztbptLink}">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>招投标</b> </div>
              <div class="xia"><img th:src="${record.map['ztbptImgFileUrl']}" /> </div>
              </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-list clearBoth">
      <div class="w1200">
        <div class="list left mt20">
          <h3 class="title"><em class="right mr10">+more</em><a href="#">政策法规</a></h3>
          <dl>
            <dt> <a class="left" href="#"><img th:src="@{/duohui/guanwang/images/duohui_41.jpg}" /></a>
              <div class="right"><a href="#">集多元化商品贸易为主的贸易！</a>
                <p>创建于2019年。是集多元化商品贸建于2
                  019年。是集多元化商品贸易......</p>
                <a href="#" class="more">更多</a></div>
            </dt>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
          </dl>
        </div>
        <div class="list left mt20">
          <h3 class="title"><em class="right mr10">+more</em><a href="#">行业动态</a></h3>
          <dl>
            <dt> <a class="left" href="#"><img th:src="@{/duohui/guanwang/images/duohui_41.jpg}" /></a>
              <div class="right"><a href="#">集多元化商品贸易为主的贸易！</a>
                <p>创建于2019年。是集多元化商品贸建于2

                  019年。是集多元化商品贸易......</p>
                <a href="#" class="more">更多</a></div>
            </dt>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
          </dl>
        </div>
        <div class="list left mt20">
          <h3 class="title"><em class="right mr10">+more</em><a href="#">公司公告</a></h3>
          <dl>
            <dt> <a class="left" href="#"><img th:src="@{/duohui/guanwang/images/duohui_41.jpg}" /></a>
              <div class="right"><a href="#">集多元化商品贸易为主的贸易！</a>
                <p>创建于2019年。是集多元化商品贸建于2
                  019年。是集多元化商品贸易......</p>
                <a href="#" class="more">更多</a></div>
            </dt>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
            <dd class="clearBoth"><span class="right mr10">2019-1-1</span><a href="#">创建于2019年。是集多元化商品贸易......</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="clearBoth clearfix" style="height:60px;"></div>
  <div th:replace="../templates/duohui/guanwang/include/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
</div>
<div th:replace="../templates/duohui/guanwang/include/script :: script"></div>
</body>
</html>
