<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/guanwang/include/head :: head"></div>
<body>
<div id="wrapper"  >
  <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/guanwang/include/header :: header"></div>

  <div id="pz_m_1" class=" section">
    <script type="text/javascript" th:src="@{/duohui/guanwang/js/jquery-1.js}"></script>
    <script type="text/javascript" th:src="@{/duohui/guanwang/js/responsiveslides.js}"></script>
    <script type="text/javascript">
$(function () {
	// Slideshow
	$("#slider").responsiveSlides({
		auto: true,
		pager: false,
		nav: true,
		speed: 500,
		timeout:4000,
		pager: true,
		pauseControls: true,
		namespace: "callbacks"
	});
});
</script>
    <div class="callbacks_container">
      <ul class="rslides callbacks callbacks1" id="slider">
        <li th:each="imageUrl : ${#strings.arraySplit(record.map['bannerFileUrls'], ',')}"><a ><img th:src="${imageUrl}" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="main" >
    <div class=" aboutus  clearBoth clearfix">
      <div class="w1200">
        <h2 class="title clearBoth clearfix" > <a th:href="${record.value.gywmLink}" >关于我们</a><em>[[${record.value.gywmDescription}]]</em><i></i> </h2>
        <div class="clearBoth clearfix" style="height:80px;"></div>
        <div class="una-editor-show left aboutusnr wow bounce animated" th:value="${record.value.gywmContent }">

          <a th:href="${record.value.gywmLink}" class="left mt20"><img th:src="@{/duohui/guanwang/images/nore.jpg}" /></a> </div>
        <div class="abouttu right wow fadeInRight animated"><img th:src="${record.map['gywmImgFileUrl']}"/></div>
      </div>
    </div>
    <div class="server clearBoth clearfix">
      <div class="w1200 clearBoth clearfix">
        <h2 class="title clearBoth clearfix" > <a href="about.html" style="color:#fff;" >业务体系</a><em style="color:#fff;" >[[${record.value.ywtxDescription}]]</em><i style=" background:#fff;" ></i> </h2>
        <div class="clearBoth clearfix" style="height:80px;"></div>
        <div class="serverlist">
          <ul>
            <li><a th:href="${record.value.xxptLink}" target="_blank">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>信息平台</b> </div>
              <div class="xia"><img th:src="${record.map['xxptImgFileUrl']}" /></div>
              </a> </li>
            <li><a th:href="${record.value.cpptLink}" target="_blank">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>产品平台</b> </div>
              <div class="xia"> <img th:src="${record.map['cpptImgFileUrl']}" /></div>
              </a> </li>
            <li><a th:href="${record.value.fwptLink}" target="_blank">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>服务平台</b> </div>
              <div class="xia"><img th:src="${record.map['fwptImgFileUrl']}" /></div>
              </a> </li>
            <li><a th:href="${record.value.ztbptLink}" target="_blank">
              <div class="shang"> <em><img th:src="@{/duohui/guanwang/images/product.png}" /></em> <b>招投标</b> </div>
              <div class="xia"><img th:src="${record.map['ztbptImgFileUrl']}" /> </div>
              </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-list clearBoth">
      <div class="w1200">
        <div class="list left mt20">
          <h3 class="title"><em class="right mr10">+more</em>
            <a href="/api/duohui/guanwang/page/articleType_policy?menuId=100013">政策法规</a>
          </h3>
          <dl>
            <dt>
              <a class="left" href="#">
                <img width="144px" height="96px"
                     th:src="${zcfgList[0].titleFileId!=null?zcfgList[0]['map']['titleFilePath']:'/api/duohui/guanwang/images/duohui_41.jpg'}" />
              </a>
              <div class="right"><a href="#">[[${zcfgList[0].name}]]</a>
                <p>[[${#strings.abbreviate(zcfgList[0].content,16)}]]</p>
                <a href="/api/duohui/guanwang/page/articleType_policy?menuId=100013" class="more">更多</a></div>
            </dt>
            <dd class="clearBoth" th:each="article,status : ${zcfgList}" th:if="${status.index>0}">
              <span class="right mr10">[[${#dates.format(article.createTime, 'yyyy-MM-dd')}]]</span>
              <a th:href="${'/api/duohui/guanwang/single/'+article.id+'?menuId=100013'}">[[${#strings.abbreviate(article.name,16)}]]</a>
            </dd>
          </dl>
        </div>
        <div class="list left mt20">
          <h3 class="title"><em class="right mr10">+more</em><a href="/api/duohui/guanwang/page/articleType_industryState?menuId=100011">行业动态</a></h3>
          <dl>
            <dt>
              <a class="left" href="#">
                <img width="144px" height="96px"
                     th:src="${hydtList[0].titleFileId!=null?hydtList[0]['map']['titleFilePath']:'/api/duohui/guanwang/images/duohui_41.jpg'}" />
              </a>
              <div class="right"><a href="#">[[${hydtList[0].name}]]</a>
                <p>[[${#strings.abbreviate(hydtList[0].content,16)}]]</p>
                <a href="/api/duohui/guanwang/page/articleType_industryState?menuId=100011" class="more">更多</a></div>
            </dt>
            <dd class="clearBoth" th:each="article,status : ${hydtList}" th:if="${status.index>0}">
              <span class="right mr10">[[${#dates.format(article.createTime, 'yyyy-MM-dd')}]]</span>
              <a th:href="${'/api/duohui/guanwang/single/'+article.id+'?menuId=100013'}">[[${#strings.abbreviate(article.name,16)}]]</a>
            </dd>
          </dl>
        </div>
        <div class="list left mt20">
          <h3 class="title"><em class="right mr10">+more</em><a href="/api/duohui/guanwang/page/articleType_notice?menuId=100012">公司公告</a></h3>
          <dl>
            <dt>
              <a class="left" href="#">
                <img width="144px" height="96px"
                     th:src="${gsggList[0].titleFileId!=null?gsggList[0]['map']['titleFilePath']:'/api/duohui/guanwang/images/duohui_41.jpg'}" />
              </a>
              <div class="right"><a href="#">[[${gsggList[0].name}]]</a>
                <p>[[${#strings.abbreviate(gsggList[0].content,16)}]]</p>
                <a href="/api/duohui/guanwang/page/articleType_notice?menuId=100012" class="more">更多</a></div>
            </dt>
            <dd class="clearBoth" th:each="article,status : ${gsggList}" th:if="${status.index>0}">
              <span class="right mr10">[[${#dates.format(article.createTime, 'yyyy-MM-dd')}]]</span>
              <a th:href="${'/api/duohui/guanwang/single/'+article.id+'?menuId=100013'}">[[${#strings.abbreviate(article.name,16)}]]</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="clearBoth clearfix" style="height:60px;"></div>
  <div th:replace="../templates/duohui/guanwang/include/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
</div>
<div th:replace="../templates/duohui/guanwang/include/script :: script"></div>
</body>
</html>
