@charset "utf-8";



.jscartStyle4 .colorFont{color:#ff002a}



/*��Ʒ��ʽ*/
.prod_default3{width:100%; clear: both;}
.prod_default3 *{transition: all ease .2s; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; -o-transition: all ease .2s; box-sizing: border-box;}
.prod_default3 ul{width: 100%; display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:wrap; justify-content:space-between;}
.prod_default3 .prod_Item{list-style:none; height:auto; padding: 0px; box-sizing:border-box; overflow: hidden;}
.prod_default3 .relative{position:relative; width:100%; height:auto; overflow:hidden;}
.prod_default3 .prodImg_box{position:relative; width:100%; overflow: hidden; background: #eee; box-sizing: border-box;}
.prod_default3 .prod_img{position:absolute; left:0; right:0; top:0; bottom:0; overflow:hidden;}
.prod_default3 .prod_img img.horizontal{width:100%; height:auto; position: absolute; top: 50%; left:0; transform: translateY(-50%);}
.prod_default3 .prod_img img.vertical{width:auto; height:100%; position: absolute; left: 50%; top:0; transform: translateX(-50%);}
.prod_default3 .dummy{margin-top:75%}/*���Ʋ�ƷͼƬ��ʾ����*/
.prod_default3 .prod_info {overflow: hidden; width: 100%; padding-top: 10px; box-sizing: border-box; position: relative;}
.prod_default3 .p_name {margin-bottom: 5px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; font-size: 14px; color: #333; line-height: 1.4;}
.prod_default3 .p_name a {font-size: inherit; color: inherit; line-height: inherit; display: block; width: 100%;}/*�������к��Զ���������*/
.prod_default3 .p_detail { font-size: 12px; color: #666; display: block; margin-bottom: 5px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}/*�������к��Զ���������*/
.prod_default3 .p_group { margin-bottom: 5px; display: block; float: left; width:50%; color: #666; font-size: 12px;}
.prod_default3 .p_group .p_lb{display: none;}
.prod_default3 .p_line{margin-bottom: 5px; overflow: hidden;; width: 100%;}
.prod_default3 .p_num { margin-bottom: 5px; display: block; float: right; text-align: right; width: 50%; color: #666; font-size: 12px;}
.prod_default3 .p_jg{display: none;}
.prod_default3 .p_price {line-height: 1; white-space: nowrap;display: inline;}
.prod_default3 .p_value {color: #ff002a; font-size:26px;}
.prod_default3 .unit {color: #ff002a;font-size: 16px;}
.prod_default3 .p_vip { text-align: right; line-height:30px; height: 26px; white-space: nowrap;display: inline;}
.prod_default3 .p_vip .v_jg{color:#666; font-size: 12px;}
.prod_default3 .v_value {color: #333; font-size: 18px;}
.prod_default3 .v_unit {color: #333;font-size: 12px;}
.prod_default3 .pro_button {display:none; margin: 10px 0; overflow: hidden;}
.prod_default3 .p_link { float: left; width: 48%; text-align: center;}
.prod_default3 .p_link a {display: block; padding: 10px 15px;}
.prod_default3 .p_cart { float: right; width: 48%; text-align: center;}
.prod_default3 .p_cart a {display: block; padding: 10px 15px;}
.prod_default3 a{text-decoration:none; }
.prod_default3 .prod_info .p_buy{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #ff6700; color:#fff;font-size:16px; cursor: pointer;display: none;}
.prod_default3 .prod_info .p_buy a{color:inherit;font-size:inherit;position: absolute;left: 50%;top: 50%;max-width: 85%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.prod_default3 .prod_Item:hover .p_buy{display: block;}

/*��ҳ*/
.prod_default3 .page_btn{clear: both; margin-top: 20px; width: 100%; text-align: center;}
.prod_default3 .page_btn a{display: inline-block; color: #333; box-sizing: border-box; margin: 0 5px; width: 24px; height: 24px; line-height: 24px; border: 1px solid #ccc; font-family: 'microsoft YaHei';}
.prod_default3 .page_btn a.cur,.prod_default3 .page_btn a:hover{border:1px solid #4c4c4c;}
.prod_default3 .page_btn a:nth-child(n+12){display: none;}
.prod_default3 .page_btn a:nth-last-child(1),.prod_default3 .page_btn a:nth-last-child(2),.prod_default3 .page_btn a:nth-last-child(3){display: inline-block !important;}
.prod_default3 .prev_btn,.prod_default3 .next_btn{font-family: '����' !important; border: 0 !important;}
.prod_default3 .no_page{border: 0 !important;}
.prod_default3 .page_btn a:nth-child(n+10){display: none;}






.jscartStyle4{background:url(img/cart/style_4/car.png) left center no-repeat;padding-left:26px;line-height:22px;}
.jscartStyle4 a{font-size:12px;color:#333}
.jscartStyle4 .colorFont b{font-family:"verdana"}
.jscartStyle4 .mo-cart{display:none;}




/*��Ҫ��������ɫֵ*/
.jscartStyle4 .colorFont{color:#ff002a}



.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
.searchStyle_1{position: relative;min-width: 200px;}
.searchStyle_1 *{box-sizing: border-box; transition:all ease .2s; -webkit-transition:all ease .2s; -moz-transition:all ease .2s; -o-transition:all ease .2s; -webkit-appearance:none ;
-moz-appearance:none ;
appearance: none;}
.searchStyle_1 .searchForm{width: 100%; border-radius: 0;box-sizing: border-box;}
.searchStyle_1 .searchForm .search-btn{float: right; width:20%; text-align: center; height: 40px; background: none; font-size: 14px;color: #333; border:1px solid #666; outline: none; cursor: pointer; border-left: 0;}
.searchStyle_1 .searchForm .search_input{width: 80%; outline: none; padding-left:45px; height:40px; font-size: 14px;color: #333; border:1px solid #666;}
.searchPos-r{position: relative;}
.searchPos-r i{position: absolute; top: 50%; left: 15px; font-size: 20px; color: #999; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.keyWord{margin-top: 5px;}
.keyWord a{font-size: 14px; color: #666; margin-right: 5px;}


.logoStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.logoStyle>a{overflow: hidden; width: 100%; height: 100%; display: block;}
.logoName{white-space: nowrap;}
/* position: relative;top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); float: right;*/
.prodcateStyle_3{clear: both; width: 100%;}
.prodcateStyle_3 *{transition: all ease-out .2s; -webkit-transition: all ease-out .2s; -moz-transition: all ease-out .2s; -moz-transition: all ease-out .2s; -o-transition: all ease-out .2s; box-sizing: border-box;}
.prodcateStyle_3>ul>li>a, .prodcateStyle_3 .subCateUl>ul>li>a, .prodcateStyle_3 .subCateUl2>li>a{color: inherit; line-height: inherit; height: inherit; white-space: nowrap;}


.prodcateStyle_3 i{margin-left: 5px;}
.prodcateStyle_3>ul{position: relative; display: -webkit-box;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.2);}
.prodcateStyle_3>ul>li{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; color: #333; height: auto !important; font-size: 14px; line-height: 36px; text-align: center;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.prodcateStyle_3>ul>li:hover .subCateUl{height: auto !important; overflow: visible;}
.prodcateStyle_3>ul>li:hover .subCateUl>ul{padding-top: 10px;}
.prodcateStyle_3 .subCateUl{position: absolute; width:100%; left: 0; height: 0; overflow: hidden;}
.prodcateStyle_3 .subCateUl>ul{display: -webkit-box;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: flex-start; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.2); padding:0 10px 10px 10px; width: 100%; margin-top: 10px; z-index:1000; position:relative;}
.prodcateStyle_3 .subCateUl>ul>li{position: relative; -webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; color: #333; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; z-index:10000;}
.prodcateStyle_3 .subCateUl2{position: relative; left: 0; margin-top: 15px;}
.prodcateStyle_3 .subCateUl2>li{font-size: 12px; line-height: 24px; color: #666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/*��Ʒ��ʽ*/
.prod_default3{width:100%; clear: both;}
.prod_default3 *{transition: all ease .2s; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; -o-transition: all ease .2s; box-sizing: border-box;}
.prod_default3 ul{width: 100%; display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:wrap; justify-content:space-between;}
.prod_default3 .prod_Item{list-style:none; height:auto; padding: 0px; box-sizing:border-box; overflow: hidden;}
.prod_default3 .relative{position:relative; width:100%; height:auto; overflow:hidden;}
.prod_default3 .prodImg_box{position:relative; width:100%; overflow: hidden; background: #eee; box-sizing: border-box;}
.prod_default3 .prod_img{position:absolute; left:0; right:0; top:0; bottom:0; overflow:hidden;}
.prod_default3 .prod_img img.horizontal{width:100%; height:auto; position: absolute; top: 50%; left:0; transform: translateY(-50%);}
.prod_default3 .prod_img img.vertical{width:auto; height:100%; position: absolute; left: 50%; top:0; transform: translateX(-50%);}
.prod_default3 .dummy{margin-top:75%}/*���Ʋ�ƷͼƬ��ʾ����*/
.prod_default3 .prod_info {overflow: hidden; width: 100%; padding-top: 10px; box-sizing: border-box; position: relative;}
.prod_default3 .p_name {margin-bottom: 5px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; font-size: 14px; color: #333; line-height: 1.4;}
.prod_default3 .p_name a {font-size: inherit; color: inherit; line-height: inherit; display: block; width: 100%;}/*�������к��Զ���������*/
.prod_default3 .p_detail { font-size: 12px; color: #666; display: block; margin-bottom: 5px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}/*�������к��Զ���������*/
.prod_default3 .p_group { margin-bottom: 5px; display: block; float: left; width:50%; color: #666; font-size: 12px;}
.prod_default3 .p_group .p_lb{display: none;}
.prod_default3 .p_line{margin-bottom: 5px; overflow: hidden;; width: 100%;}
.prod_default3 .p_num { margin-bottom: 5px; display: block; float: right; text-align: right; width: 50%; color: #666; font-size: 12px;}
.prod_default3 .p_jg{display: none;}
.prod_default3 .p_price {line-height: 1; white-space: nowrap;display: inline;}
.prod_default3 .p_value {color: #ff002a; font-size:26px;}
.prod_default3 .unit {color: #ff002a;font-size: 16px;}
.prod_default3 .p_vip { text-align: right; line-height:30px; height: 26px; white-space: nowrap;display: inline;}
.prod_default3 .p_vip .v_jg{color:#666; font-size: 12px;}
.prod_default3 .v_value {color: #333; font-size: 18px;}
.prod_default3 .v_unit {color: #333;font-size: 12px;}
.prod_default3 .pro_button {display:none; margin: 10px 0; overflow: hidden;}
.prod_default3 .p_link { float: left; width: 48%; text-align: center;}
.prod_default3 .p_link a {display: block; padding: 10px 15px;}
.prod_default3 .p_cart { float: right; width: 48%; text-align: center;}
.prod_default3 .p_cart a {display: block; padding: 10px 15px;}
.prod_default3 a{text-decoration:none; }
.prod_default3 .prod_info .p_buy{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #ff6700; color:#fff;font-size:16px; cursor: pointer;display: none;}
.prod_default3 .prod_info .p_buy a{color:inherit;font-size:inherit;position: absolute;left: 50%;top: 50%;max-width: 85%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.prod_default3 .prod_Item:hover .p_buy{display: block;}


.logoStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.logoStyle>a{overflow: hidden; width: 100%; height: 100%; display: block;}
.logoName{white-space: nowrap;}
/* position: relative;top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); float: right;*/

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

				.bottomMenu{width: 100%; box-sizing:border-box; display: none;position:fixed;bottom:0;z-index:999999}
				.bottomMenu ul{width:100%; height: 40px; padding:6px 0; background-color: #fff; border-top: 1px solid #ddd; box-shadow: 0 0px 6px rgba(0,0,0,.1); display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
				.bottomMenu ul li{position:relative; box-sizing: border-box; -webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
				.bottomMenu ul li .menuItem{position: relative;}
				.bottomMenu ul li .menuIco{width: 26px; height: 26px; overflow: hidden; margin: auto;}
				.bottomMenu ul li .menuIco img{width: 100%;}
				.bottomMenu ul li .menuName{font-size: 12px; white-space: nowrap; margin: auto; text-align: center; color: #333; line-height: 18px;}
				.bottomMenu ul li .submenuItems{position: absolute; bottom: 48px; z-index:999999; width: 100%; text-align: center; border: 1px solid #ddd; background-color: #fff; box-shadow: 0 0px 6px rgba(0,0,0,.1);}
				.bottomMenu ul li .submenuItems a{display: block; height: 36px; line-height: 36px; font-size: 12px; color: #333; border-bottom: 1px solid #ddd;}
				
				
/*产品放大镜的功能*/	
#preview{ float:none; margin:0 auto; text-align:center; width:500px;}
.jqzoom{ width:500px; height:500px; position:relative; z-index:-1px;}

.zoomdiv{ left:859px; height:450px; width:450px;}
.list-h{ margin-left:40px;}
.list-h li{ float:left; }
#spec-n5{width:500px; height:70px; padding-top:6px; overflow:hidden;}
#spec-left{  width:22px; height:32px; float:left; cursor:pointer; margin-top:10px;}
#spec-right{width:22px; height:32px; float:right;cursor:pointer; margin-right:3px; margin-top:5px;}
#spec-list{ width:500px; float:left; overflow:hidden; margin-left:0px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:72px; padding-right:10px; }
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:62px; height:62px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px; width:420px;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:840px;height:840px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#fff 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:436px; }
#spec-list div{ margin-top:0;margin-left:13px; *margin-left:10px;}
/*产品放大镜的功能*/	

/*产品详细页面产品能*/

.itemInfo-wrap .title{ font: 700 16px Arial,"microsoft yahei";color: #666; line-height: 28px;margin-bottom: 5px;}
.seckilling{background: url(../images/seckilling.png) no-repeat #e84540; width:530px; height:32px;}
.seckilling .activity-type i{background: url(../images/__sprite.png) -20px 0; height:20px; width:20px;vertical-align:-4px; display:inline-block;}
.seckilling .activity-type strong{ color:#FFF; font-size:16px; line-height:32px; margin-left:10px;}

/*产品详细页秒表*/
.time-item{ color:#fff;}
.time-item strong{background:#000;color:#fff;line-height:25px;font-size:14px;font-family:Arial; width:24px; display: inline-block; text-align:center; margin:5px 5px;border-radius:5px;box-shadow:1px 1px 3px rgba(0,0,0,0.2);}
#day_show{float:left;line-height:25px;color:#c71c60;font-size:14px;margin:10px 5px;font-family:Arial, Helvetica, sans-serif;}
.item-title .unit{background:none;line-height:25px;font-size:24px;padding:0 10px;float:left;}


.wr-fcs-panel{background:url(../images/xiaz.png) center  #e9e9e9;font: 12px/1.5 "Microsoft Yahei",tahoma,arial; padding-bottom: 5px; padding-top: 5px; margin-right: 20px; height:auto; }
.wr-price-panel{    color: #333; padding-left: 0;}

.wr-price-panel .wr-yen{    color: #999;font-size: 12px;text-align: left; float: left; margin: 0 0 0 8px;}
.wr-price-panel dt.wr-metatit{    font-family: arial; float:left; width:69px;    color: #999;font-size: 12px;text-align: left; float: left; width: 69px;margin: 0 0 0 8px;}
.wr-price-panel  dd{ float:left; color: #333; font-family: Arial; display:inline-block; width:450px; }
.wr-price-panel .wr-price{    text-decoration: line-through;font-size: 14px;}
.wr-price-panel .wr-yen1{  vertical-align: middle;color:#e60000;font-size: 18px;font-family: Arial;-webkit-font-smoothing: antialiased;}
.wr-price-panel .wr-price1{ vertical-align: middle;font-size: 30px; color:#e60000;font-weight: bolder;font-family: Arial; -webkit-font-smoothing: antialiased;}
.wr-price-panel .wr-promo-type{background-color: #f47a86;border-radius: 1px;color: #fff;height: 16px;line-height: 16px;margin: 0 2px 4px 6px;padding: 1px 5px; position: relative;}
.wr-price-panel s{position: absolute; width: 0; display: block; font-size: 0; left: -4px; bottom: 0px; height: 0;border: 3px solid #f47a86; border-color: transparent #f47a86 #f47a86 transparent;}
.xiaoliang{border: 1px dotted #c9c9c9; border-width: 1px 0; margin: -1px 20px 0 0; padding: 10px 0; position: relative; overflow: hidden; clear: both; display: flex;}
.xiaoliang li{float: left; width: 33%; text-align: center; position: relative; left: -1px; border-left: 1px solid #e5dfda; flex: 1; line-height: 16px;}
.xiaoliang li .wr-indcon .wr-label{    display: inline-block;line-height: 16px; height: 16px;color: #999;}
.xiaoliang li .wr-indcon .wr-count{display: inline-block;line-height: 16px; height: 16px;color:#e60000; font-weight: 700; margin-left: 3px;}

/*产品详细页选择区域*/

/*属性弹出下拉菜单css*/
.navContent{display: none;}
.ui-sx{ width:100%; overflow:hidden;}
.subNavBox{ overflow:hidden; margin-left:10px; padding-bottom:0px; margin-right:10px; }
.subNav{background: url(../images/arrow_down_off.png) no-repeat right center;background-size: auto 13px;}
.subNav.on{background: url(../images/arrow_down_on.png) no-repeat right center;background-size: auto 14px;}
.subNav strong{ display:block;width:100%; height:40px;border-bottom:1px solid #eeeeee; color:#666; font-weight:normal; font-size:16px; line-height:40px;}
.currentDt{background-image:url(../images/jiantou2.png) no-repeat 97% center;background-size: auto 13px; }

.navContent li{overflow:hidden; width:100%;}
.navContent li .title{ width:15%; float:left;font-size:14px; line-height:30px; color:#666; margin-top:5px; font-weight:400;}
.navContent li .item{ overflow:hidden; padding-bottom:5px;}
.navContent li .item a{ padding-left:10px; padding-right:10px; border:1px solid #b8b7bd; line-height:30px; display:inline-block;margin-right:5px; margin-bottom:10px;}
.navContent li .item a.hover{  color:#666; border:2px solid#e60000;}
.navContent li .item a.hover{ position:relative; }
.navContent li .item a i{ display:none;}
.navContent li .item a.hover i{position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -99em;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0; background:url(../images/%E4%B8%8B%E8%BD%BD.png) no-repeat;}
.navContent li .purchase{ font-size:14px; line-height:25px; color:#666;}
.navContent li .purchase_v{font-size:16px; line-height:25px; color:#dd2724; font-weight:bold}
.navContent li h2{ font-size:18px; line-height:30px; color:#333; font-weight:normal}
.navContent li p{ width:95%; overflow:hidden; height:25px; line-height:25px; margin:auto}
.navContent li .key{ display:block; float:left; width:30%; font-size:14px; color:#666; text-align:right;}
.navContent li .p-price-v{display:block;width:70%; float:left; font-size:16px;color:#dd2724;}



.navContent li .title1{ width:15%;font-size:14px; height:20px; line-height:20px; color:#666; padding-top:10px; float:left;}
.navContent li .item1{ width:75%; float:left;height:50px; overflow:hidden; padding-bottom:5px; line-height:50px; color:#878787;}
.navContent li .item1 a{ padding-left:10px; padding-right:10px; border:1px solid #CCC; line-height:30px; display:inline-block;	-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; margin-right:5px; margin-bottom:10px;}
.navContent li .item1 a.hover{ background:#dd2726; color:#FFF; border:0;	-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.navContent li .item1 .ui-number{ border:1px solid #ddd9da; overflow:hidden; height:30px; display:block;width:100px; margin-top:10px;}

.navContent li .item1 .ui-number .decrease{ display:inline-block; background:none; font-size:24px; line-height:30px; border:0;width:30px; float:left; height:30px; color:#F8849C; border-right:1px solid #ddd9da;text-indent:-9999px;background: url(../images/shop-cart.png) no-repeat 6px -25px; background-size: 60px}
.navContent li .item1 .ui-number .num{display:inline-block;border:0;width:37px; height:30px;float:left; text-align:center; font-size:12px; line-height:30px; color:#666;font-size:20px;text-align:center}
.navContent li .item1 .ui-number .increase{display:inline-block;background:none;border:0;border-left:1px solid #ddd9da;float:left; width:30px; height:30px;font-size:24px; line-height:30px;color:#F8849C;background: url(../images/shop-cart.png) no-repeat -23px -25px; background-size: 60px;text-indent:-9999px}



/*在线购买按钮*/
.probuy input{cursor: pointer;
    float: left;
    width: 48%;
    margin-right: 10px;
    height: 40px;
    border-radius: 0;
    background-color: #ffeded;
    border: 1px solid #c40000;
    color: #c40000;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    text-align: center;}
	.probuy input.addcartBtn{box-sizing: border-box;
    margin-right: 0;
    background-color: #c40000;
    background-image: url(img/prodInfor/style_01/gouwuche.png);
    background-position-x: calc(50% - 50px);
    background-position-y: center;
    background-size: 19px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border: 1px solid #c40000;
    color: #fff;
    text-indent: 20px;}
/*产品详细页面产品能*/

/*tag*/
#con2 {	FONT-SIZE: 12px; MARGIN: 0px auto; font:14px "微软雅黑" , "宋体";}
#tags {	background-color: #f7f7f7;  border: 1px solid #eee;   border-bottom: 1px solid #ff5400; height:38px; line-height:38px;}
#tags LI {	FLOAT: left; text-align:center;  }
#tags LI A { display:block; COLOR: #6f6f6f; padding:0 25px;}
#tags LI.emptyTag { WIDTH: 4px}
#tags LI.selectTag A {
	 COLOR: #cb0032;height:37px; background-color: #ff5400;padding:0 25px;
    color: #fff;
    cursor: default;
    font-size: 14px;
}
#tagContent { BACKGROUND-COLOR: #fff; text-align:left;}
.tagContent { DISPLAY: none; BACKGROUND:#FFFFFF; COLOR: #474747; text-align:left;  border:1px solid #dcdcdc; border-top:none;}
#tagContent DIV.selectTag {	DISPLAY: block}
.wr-tit-new{text-align: left;clear: both;padding-left: 20px;background: url(../images/detial_line.png) repeat-x left bottom;position: relative;padding-bottom: 6px; width:95%; margin:0 auto; padding-top:20px;}
.wr-tit-new .wr-tit-new-icon{ background:url(../images/detail_imgs_new.png) no-repeat -250px -500px; position: absolute;top: 30px; left: 0;width: 13px; height: 13px;}
.wr-tit-new .wr-title{color: #ff5400; font-size: 20px;}
.wr-tit-new .wr-title-en{color: #999;font-size: 20px;padding-left: 5px;position: relative;bottom: -2px;font-family: arial;}
.pro-nr-list{ width:90%; margin:0 auto; padding:30px 0;}
.pro-nr-list ul li{display: inline;float: left;width: 33%;font-size:12px;overflow: hidden;line-height: 26px;vertical-align: top;white-space: nowrap;text-overflow: ellipsis;color: #666;}
/*评论*/

.pro-pinglun-list ul li{zoom: 1; padding: 15px;border-bottom: 1px solid #ddd; margin-bottom:20px;}
.pro-pinglun-list ul li:last-child{ border:0;}
.pro-pinglun-list .user-column{    width: 140px;float: left;}
.pro-pinglun-list .user-column  .user-info{    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.pro-pinglun-list .user-column  .user-info .avatar{border-radius: 50%;margin-right: 5px;}
.pro-pinglun-list .user-column .user-level{    padding-top: 3px;}
.pro-pinglun-list  .comment-column{ margin-left:170px;}
.pro-pinglun-list  .comment-column .comment-star{    width: 78px; height: 14px; background:url(../images/star.png) ;}
.pro-pinglun-list  .comment-column  .star1{background-position:-64px 0}
.pro-pinglun-list  .comment-column .star2{background-position:-48px 0}
.pro-pinglun-list  .comment-column  .star3{background-position:-32px 0}
.pro-pinglun-list  .comment-column  .star4{background-position:-16px 0}
.pro-pinglun-list  .comment-column  .star5{background-position:0 0}
.pro-pinglun-list .comment-column .comment-con{font-size: 14px; padding: 10px 0; line-height: 180%;color: #333;}
.pro-pinglun-list .comment-column .wr-pic-list .wr-thumb-img{border: 1px solid #e2e2e2; padding: 1px;margin-right: 6px; display:inline-block; width:55px;}
.pro-pinglun-list .comment-column .order-info{font-size: 12px; padding: 10px 0; line-height: 180%;color: #999;}
	