@charset "gb2312";
/* CSS Document */
*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-style:normal; }
.apple{overflow-y:scroll;-webkit-overflow-scrolling: touch;}
body { font-size:82.5%;line-height: 140%; font-family:微软雅黑,Agency FB, Arial, Helvetica, sans-serif; overflow-x:hidden; min-width:1200px;}
input[type=number] {    -moz-appearance:textfield;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {    -webkit-appearance: none;}
img {border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}
ul,ol,li{list-style-type: none;}
h1,h2,h3,h4,h5{ font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
input,textarea,select, button{font-family:微软雅黑, Arial, Helvetica, sans-serif; font-size:0.88em; color: #000;}
a {color: #000; text-decoration:none;  font-family:微软雅黑, Arial, Helvetica, sans-serif;}
a:hover { text-decoration: none;}
a:focus { background:none; }
:focus{outline:0;}
/*清除样式*/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;}
.clearfix {*zoom:1;}
.clear{ clear:both;}
.verticalAlign{vertical-align:middle; display:inline-block; height:100%; width:1px;margin-left:-1px;}
.fl{ float:left;}
.fr{ float:right;}
.left{ float:left;}
.right{ float:right;}
.ml10{ margin-left:10px;}
.ml23{ margin-left:23px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mr10{ margin-right:10px;}
.mr30{ margin-right:30px;}
.mr150{ margin-right:150px;}
.w1200{ width:1200px; margin:0 auto;}
.w1050{ width:1050px; margin:0 auto;}
.w1000{ width:1000px; margin:0 auto;}
.w695{ width:695px; margin:0 auto; }
.w400{ width:400px;}
.w460{ width:460px;}
.w484{ width:484px;}
.w210{ width:210px;}
.w220{ width:220px;}
.w240{ width:240px;}
.w280{ width:280px;}
.w720{ width:720px;}
.w920{ width:920px;}
.W870{ width:860px;}
.W950{ width:950px;}
.w550{ width:550px;}
.w585{ width:585px;}
.w120 { width:120px;}
.w210 { width:210px;}
.W920{ width:920px;}
.mt50{ margin-top:50px;}
.w990{ width:990px; margin:0 auto;}
.w1150{ width:1150px; margin:0 auto;}
.border-top{ border-top:1px solid #e6e6e6;}
.line-height100{ line-height:100px;}
.line36{ line-height:36px;}
.line24{ line-height:24px;}
.line-height{ line-height:30px;}
.border{ border:1px solid #e6e6e6; border-top:0;}
.height800{ min-height:800px;}
.w310{ width:310px;}
.w340{ width:340px;}
.baibg{ background:#fff; padding:20px;}
.huibg{ background:#f1f1f1;width:100%; height:auto; padding-bottom:20px;}
.bor_left{ border-left:#006000 1px solid}
.bor{ border:1px solid #e2e2e2; padding:20px;}
.hui{ background:#f6f6f6; width:100%; height:auto; padding-bottom:20px;}
.w385{ width:385px;}
.userContent h1{font-size: 18px;border-bottom: 2px solid #dedede;line-height:40px;margin-bottom: 20px;overflow:hidden;display:block;}
.userContent ul li{line-height: 26px;margin-bottom:15px;display:block;overflow:hidden;}
.userContent ul{display:block;}
.userContent ul li label{font-size: 14px;display: block;float: left;color: #666;min-width:80px;text-align:right;}
.userContent ul li input.text{height: 29px;width: 210px;padding-left:5px;border:1px solid #bec1c7;}
.userContent ul li textarea{width: 500px;height: 100px;display: block;float: left;padding:8px;border:1px solid #d2d2d2;}
.userContent .subtime{background: #b20811;height: 30px;padding: 0 20px;border: 0;color: #fff;border-radius:4px;cursor:pointer;}
.userContent ul li select{width:99px;height:29px;border:1px solid #d2d2d2;color:#616161;font-size:12px;padding-left:5px;}
.userContent ul li input.fx{margin:7px 0 0 3px;	}
.userContent span.star{color:red;}
/*顶部 -------------------------------------------------------------------------------*/
.header_top{ width:100%; height:34px; border-bottom:1px solid #ddd; line-height:34px; color:#666;}
.header_top em{ margin:0 0 0  8px;}
.duohui_menu a{line-height:16px;float:left;position:relative}
.top{position:relative;z-index:2}
.duohui_menu li{float:left;position:relative;padding:8px 5px; }
.duohui_menu li a ,.huan{ font-size:12px;}
.duohui_menu li a.bgt{ background:url(../images/tophover1.jpg) right center no-repeat; padding:0 10px}
.duohui_menu li:hover a.bgt{ background:url(../images/tophover.jpg) right center no-repeat; padding: 0 10px;}
.duohui_menu li:hover ,.duohui_menu li.hover{background-color:#fff;border:1px solid #dddddd; border-top:0;border-bottom:none;padding:8px 4px}
.duohui_menu ul{background-color:#fff;border:1px solid #dddddd;position:absolute;left:-1px;top:-999em;z-index:-10;padding:8px;display:none}
.duohui_menu li:hover ul ,.duohui_menu li.hover ul {top:30px;display:block; z-index:-120}
.duohui_menu li:hover ul li ,.duohui_menu li.hover ul li{font-size:12px;border:none; min-width:84px;float:left;padding:4px 0 4px 10px}
.duohui_menu li:hover ul li a ,.duohui_menu li.hover ul li a{color:#333;text-decoration:none;padding:0}
.duohui_menu .no_sub:hover{ border-left:1px Transparent solid; border-top:0px Transparent solid; border-right:1px  Transparent solid; background:none;}
.duohui_menu .huan a{ padding:0 5px; }
.duohui_menu .huan .tel{ color: #F00;}
.duohui_menu ul.kuan{background-color:#fff;width:800px;position:absolute;left:-530px;top:-10px; z-index:90000000000;padding:8px;}
.duohui_menu ul.kuan li{ float:left; }
.duohui_menu ul.kuan dl{  display:block; width:180px;}
.duohui_menu ul.kuan dl dt a{ width:180px; font-size:14px; font-weight:600; color:#555555; line-height:50px;}
.duohui_menu ul.kuan dl dd div{ float:left; width:100px;}
.duohui_menu ul.kuan dl dd a{ line-height:30px; font-size:12px;}
.duohui_menu li a:hover ,.duohui_menu li ul li a:hover{ color:#900;}
.header_top i{ position:relative;}
.fabu{ margin-top:20px;}
.header_top i div{ position:absolute;z-index:90000; top:30px; left:-50px; display:none;}
.header_top i div img{ width:100px; height:100px;}
.header_top i:hover div{ display:block;}

/**/
/* Callback example */
.callbacks_container{
	margin-bottom:2px;
	position:relative;
	width:100%;
	max-width:100%;
	text-align:center; z-index:-1;
}

.callbacks{
	position:relative;
	list-style:none;
	overflow:hidden;
	width:100%;
	padding:0;
	margin:0;
}
.callbacks li{
	position:absolute;
	width:100%;
	left:0;
	top:0;
}
.callbacks img{
	display:block;
	position:relative;
	z-index:1;
	height:auto;
	width:100%;
	border:0;
}
.callbacks .caption{
	display:block;
	position:absolute;
	z-index:2;
	font-size:20px;
	text-shadow:none;
	color:#fff;
	background:#000;
	background:rgba(0,0,0, .8);
	left:0;
	right:0;
	bottom:0;
	padding:10px 20px;
	margin:0;
	max-width:none;
}
.callbacks_nav{
	position:absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	top:50%;
	left:0;
	opacity:0.6;
	z-index:3;
	text-indent:-9999px;
	overflow:hidden;
	text-decoration:none;
	height:61px;
	width:38px;
	background:transparent url("../images/themes.gif") no-repeat left top;
	margin-top:-30px;
	display:none;
}
.callbacks_container:hover .callbacks_nav{display:block;}
.callbacks_nav:active{opacity:1.0;}
.callbacks_nav.next{
	left:auto;
	background-position:right top;
	right:0;
}
/*pager*/
.callbacks_tabs.callbacks1_tabs{margin-top:-50px; position:relative;z-index:10;}
.callbacks_tabs.callbacks1_tabs li{display:inline-block;width:10px;height:10px;margin-left:5px;position:relative;background:#fff; border-radius:50%;}
.callbacks_tabs.callbacks1_tabs li a{display:inline-block;width:10px;height:10px;position:absolute; left:0; z-index:1; color:rgba(100,200,300,0);color:transparent;}
.callbacks_tabs.callbacks1_tabs li.callbacks_here a ,.callbacks_tabs.callbacks1_tabs li:hover a{background:#750104; height:10px;border-radius:50%;}
/*图片轮播滚动*/
.poster-main{position: relative;width: 900px;height: 460px}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width: 900px;}
.poster-main .poster-list .poster-item{position: absolute;left: 0px;top: 0px}
.poster-main .poster-btn{position: absolute;height: 100%;width:100px;top: 0px;z-index: 10;opacity: 0.5;}
.poster-main .poster-prev-btn{ left: 0px; background: url(../images/btn_l.png) no-repeat center center; }
.poster-main .poster-next-btn{right: 0px;background: url(../images/btn_r.png) no-repeat center center;}
