<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="../templates/duohui/denglu/include/head :: head"></div>
<body>
<div class="header ">
    <div th:replace="../templates/duohui/chanpin/include/headerTop :: header_top"></div>
    <div th:replace="../templates/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div class="clear clearfix" style="height:20px;"></div>

<div class=" clear clearfix w1200">
    <div class="clear clearfix line-height ">

        <div class=" clear clearfix" style=" margin:0 auto;">
            <div th:each="province:${regionList}" class="content-letter"><span
                    class="content-letter-panel content-letter-panle-hover"
                    style="height: 46px; line-height: 46px;"></span>
                <div class="content-province content-province-hover"><span
                        class="content-province-triangle content-province-triangle-hover"></span>
                    <div class="content-province-title" style="height: 46px;">[[${province.name}]]</div>
                    <div class="content-cities">
                        <a th:each="city:${province.children}"
                           th:href="${targetUrl+'?regionId='+city.id}"
                           class="content-city">[[${city.name}]]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="../templates/duohui/chanpin/include/footer :: footer"></div>
</body>
</html>
