<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/denglu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/denglu/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/denglu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/public.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/entreg.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div th:replace="/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div class="box"  style="margin:30px auto; width:880px; border:1px solid #e5e5e5; padding-top:50px;">
  <p class="zhmm"> <a href="#"  class="act1">选择大类</a> <a href="mffb1.html" >选择小类</a> <a href="mffb2.html" >填写信息</a></p>
  <div class="clear clearfix mffbfl " style=" width:695px; margin:50px auto;">
    <ul>



      <li><a href="mffbxx1.html">发布供求信息</a></li>
            <li><a href="mffbxx1.html">发布产品信息</a></li>
        <li><a href="mffbxx1.html">发布招标信息</a></li>



    </ul>
  </div>
</div>
<div th:replace="/duohui/denglu/include/header :: header"></div>
</body>
</html>
