<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/denglu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/denglu/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/denglu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/public.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/entreg.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div th:replace="/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div class="box clear clearfix"  style="margin:30px auto; width:880px; border:1px solid #e5e5e5; padding-top:50px;">
  <p class="zhmm"> <a href="#">选择大类</a> <a href="mffbxx1.html"   >选择小类</a> <a href="mffbxx2.html" class="act3" >填写信息</a></p>

   <p class="line24" style="background:#ddebff; width:95%; margin:30px auto 0; padding:10px;">
为共建真实可信的生活服务平台，从7月起所有新发布的信息需要进行认证才能展现，认证方式包括：支付认证或企业信用认证
您今天还可免费发帖 2 条，本月还可免费发帖 3 条。</p>
  <div class="clear clearfix mffbfl mt50 fl ml23 " style="">
 <form id="fMain" method="post" onSubmit="return false;">
      <div class="gtform1">

      <li style="line-height:30px; height:40px;">
        <label class="fl"><strong>基本信息</strong></label> </li>
      <hr>


        <li  class="clear clearfix">
          <label class="fl" >供求<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="radio" name="uname" maxlength="64" style=" width:20px;" value="" />供应 <input type="radio" name="uname" maxlength="64" style=" width:20px;" value="" />求购
          </em> </li>
      <li  class="clear clearfix">
          <label class="fl">类别<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
           <label style="width:400px;">
            <select name="region" class="it1" child="region.child" val="" style="color:#444; width:100px;">
              <option value="" style="color:#888;">请选择分类类型</option>
              <option value="01">对应的分类</option>
              <option value="02">对应的分类</option>
              <option value="03">对应的分类</option>
              <option value="04">对应的分类</option>
              <option value="05">其他</option>
            </select>
            <select name="region" class="it1" child="region.child" val="" style="color:#444; width:100px;">
              <option value="" style="color:#888;">请选择分类类型</option>
              <option value="01">对应的分类</option>
              <option value="02">对应的分类</option>
              <option value="03">劳对应的分类</option>
              <option value="04">对应的分类类</option>
              <option value="05">其他</option>
            </select>
          </label>
          </em> </li>
          <li  class="clear clearfix">
          <label class="fl" >标题<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="text" name="uname" maxlength="64" class="it1" value="" />
          </em> </li>
          <li  class="clear clearfix">
          <label class="fl">价格<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="password" name="upwd1" maxlength="64" class="it1" value="" />
          </em> </li>


             <li style="line-height:30px; height:40px;">
        <label class="fl"><strong>详细信息</strong></label> </li>
      <hr>
        <li  class="clear clearfix" style="height:auto;">
          <label class="fl" >上传图片</label>
          <em>
        <div class="sctp mt20 mr10">
        <input class="file" type="file" multiple>


        </div> <div class="sctp mt20 mr10 fl">
       <img th:src="@{/duohui/denglu/images/1_43.jpg}" width="96" height="90">


        </div><a class="guanbi fl mr10" href="#">×</a>
        <div class="sctp mt20 mr10 fl">
       <img th:src="@{/duohui/denglu/images/1_43.jpg}" width="96" height="90">


        </div><a class="guanbi fl mr10" href="#">×</a>


          </em> </li>
          <li  class="clear clearfix" style="height:auto;">
          <label class="fl" >详细信息<i class=" line36  ml5 mr10 red">*</i></label>
          <em>

        <input type="text" style=" width:550px; height:300px;">






          </em> </li>






              <li style="line-height:30px; height:40px;">
        <label class="fl"><strong>联系方式</strong></label> </li>
      <hr>
        <li  class="clear clearfix">
          <label class="fl" >手机号码<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="text" name="uname" maxlength="64" class="it1" value="" />
          </em> </li>
        <li >
          <label class="fl">验证码<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="text" name="vc" size="5" maxlength="5" class="it1" style="width:100px;" verifycode="" placeholder="验证码">
          <img th:src="@{/duohui/denglu/images/captcha.png.png}" verifycode=""></em> </li>
        <li class="clear clearfix">
          <label class="fl" >手机验证码<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="text" name="uname" maxlength="64"  style="width:210px;" class="it1" value="" />
          <p class="send" id="send_scode" onclick="SendSCode();">立即发送</p>
          </em> </li>
        <li  class="clear clearfix">
          <label class="fl">登录密码<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <input type="password" name="upwd1" maxlength="64" class="it1" value="" />
          </em> </li>

        <li  class="clear clearfix">
          <label class="fl">个人类型<i class=" line36  ml5 mr10 red">*</i></label>
          <em>
          <label>
            <select name="region" class="it1" child="region.child" val="" style="color:#444; width:230px;">
              <option value="" style="color:#888;">请选择个人类型</option>
              <option value="01">工程类</option>
              <option value="02">施工类</option>
              <option value="03">劳务类</option>
              <option value="04">材料类</option>
              <option value="05">其他</option>
            </select>
          </label>
          </em> </li>

        <li  class="clear clearfix">
          <label class="fl">所在地区：</label>
          <em>
          <label style="width:400px;">
            <select name="region" class="it1" child="region.child" val="" style="color:#444;">
              <option value="" style="color:#888;">请选择</option>
              <option value="01">北京</option>
              <option value="02">天津</option>
              <option value="03">上海</option>
              <option value="04">重庆</option>
              <option value="05">河北</option>
              <option value="06">河南</option>
              <option value="07">江苏</option>
              <option value="08">浙江</option>
              <option value="09">辽宁</option>
              <option value="0a">黑龙江</option>
              <option value="0b">吉林</option>
              <option value="0c">山西</option>
              <option value="0d">内蒙古</option>
              <option value="0e">新疆</option>
              <option value="0f">甘肃</option>
              <option value="0g">陕西</option>
              <option value="0h">宁夏</option>
              <option value="0i">青海</option>
              <option value="0j">云南</option>
              <option value="0k">四川</option>
              <option value="0l">山东</option>
              <option value="0m">湖南</option>
              <option value="0n">湖北</option>
              <option value="0o">安徽</option>
              <option value="0p">江西</option>
              <option value="0q">福建</option>
              <option value="0r">广东</option>
              <option value="0s">广西</option>
              <option value="0t">台湾</option>
              <option value="0u">海南</option>
              <option value="0v">西藏</option>
              <option value="0w">贵州</option>
              <option value="0x">香港</option>
              <option value="0y">澳门</option>
              <option value="1z">海外</option>
            </select>
            <select name="region" class="it1" child="region.child" val="" style="color:#444;">
              <option value="" style="color:#888;">请选择</option>
              <option value="01">北京</option>
              <option value="02">天津</option>
              <option value="03">上海</option>
              <option value="04">重庆</option>
              <option value="05">河北</option>
              <option value="06">河南</option>
              <option value="07">江苏</option>
              <option value="08">浙江</option>
              <option value="09">辽宁</option>
              <option value="0a">黑龙江</option>
              <option value="0b">吉林</option>
              <option value="0c">山西</option>
              <option value="0d">内蒙古</option>
              <option value="0e">新疆</option>
              <option value="0f">甘肃</option>
              <option value="0g">陕西</option>
              <option value="0h">宁夏</option>
              <option value="0i">青海</option>
              <option value="0j">云南</option>
              <option value="0k">四川</option>
              <option value="0l">山东</option>
              <option value="0m">湖南</option>
              <option value="0n">湖北</option>
              <option value="0o">安徽</option>
              <option value="0p">江西</option>
              <option value="0q">福建</option>
              <option value="0r">广东</option>
              <option value="0s">广西</option>
              <option value="0t">台湾</option>
              <option value="0u">海南</option>
              <option value="0v">西藏</option>
              <option value="0w">贵州</option>
              <option value="0x">香港</option>
              <option value="0y">澳门</option>
              <option value="1z">海外</option>
            </select>
            <select name="region" class="it1" child="region.child" val="" style="color:#444;">
              <option value="" style="color:#888;">请选择</option>
              <option value="01">北京</option>
              <option value="02">天津</option>
              <option value="03">上海</option>
              <option value="04">重庆</option>
              <option value="05">河北</option>
              <option value="06">河南</option>
              <option value="07">江苏</option>
              <option value="08">浙江</option>
              <option value="09">辽宁</option>
              <option value="0a">黑龙江</option>
              <option value="0b">吉林</option>
              <option value="0c">山西</option>
              <option value="0d">内蒙古</option>
              <option value="0e">新疆</option>
              <option value="0f">甘肃</option>
              <option value="0g">陕西</option>
              <option value="0h">宁夏</option>
              <option value="0i">青海</option>
              <option value="0j">云南</option>
              <option value="0k">四川</option>
              <option value="0l">山东</option>
              <option value="0m">湖南</option>
              <option value="0n">湖北</option>
              <option value="0o">安徽</option>
              <option value="0p">江西</option>
              <option value="0q">福建</option>
              <option value="0r">广东</option>
              <option value="0s">广西</option>
              <option value="0t">台湾</option>
              <option value="0u">海南</option>
              <option value="0v">西藏</option>
              <option value="0w">贵州</option>
              <option value="0x">香港</option>
              <option value="0y">澳门</option>
              <option value="1z">海外</option>
            </select>
          </label>
          </em> </li>
        <li>
          <label class="fl"></label>
          <em>
          <input type="submit" value="发布" class="btn" />
          </em> </li>
      </div>
    </form>
  </div>
</div>
<div th:replace="/duohui/denglu/include/header :: header"></div>
</body>
</html>
