<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>多汇供应链管理有限公司</title>
<meta name="keywords" th:content="${systemName}">
<meta name="description" th:content="${systemName}">
<link th:href="@{/duohui/denglu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/denglu/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/denglu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/public.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/entreg.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/denglu/include/header :: header"></div>
  <div th:replace="../templates/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div class="box"  style="margin:30px auto; width:880px; border:1px solid #e5e5e5;">
  <script>
		$(function () {
			var f = $('form#fMain');

			$('.tb a').click(function () {
				$('.tb a').removeClass('act');
				var e = $(this);
				e.addClass('act');
				if (e.attr('val') == 'p') {
					f.find('input[name=t]').val('p');
					$('.cname').hide();
					$('.pname').show();
					$("#accountType").val("account_type_company");
				}

			else{
					f.find('input[name=t]').val('c');
                    $('.cname').show();
					$('.pname').hide();
                  $("#accountType").val("account_type_person");
                  $("#companyName").val("");
				}

				return false;
			});
			$('.tb').find('a[val=' + f.find('input[name=t]').val() + ']').click();
		});
	</script>
  <form id="fMain" method="post" onSubmit="return false;">
    <input type="hidden" name="typeDcode" id="accountType" value="account_type_company"/>
    <div class="gtform">
      <li>
        <label class="fl"></label>
        <em style="display:inline-block;">
        <p class="tb"> <a href="#" val="p" class="act">企业会员</a> <a href="#" val="c">个人会员</a></p>
        </em> </li>
      <li>
        <label class="fl pname">公司名称<i class=" line36  ml5 mr10 red">*</i></label>
        <label class="fl cname" style="display: none">昵称<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
          <input type="text" id="name" name="name" maxlength="128" class="it" />
        </em> </li>
      <li  class="clear clearfix">
        <label class="fl" >手机号码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="text" name="username" id="username" maxlength="64" class="it" />
        </em> </li>
      <li >
        <label class="fl">验证码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
          <input type="text" id="verification" name="vc" size="5" maxlength="5" class="it" style="width:100px;" verifycode="" placeholder="验证码">
          <canvas id="captchaCanvas" width="100" height="40" onclick="loadCaptcha()" style="border: 1px solid #ccc;border-radius: 5px;"></canvas>
        </em>
      </li>
      <li class="clear clearfix">
        <label class="fl" >手机验证码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="text" id="captcha" name="captcha" maxlength="64"  style="width:210px;" class="it"/>
        <div class="send">
          <input class="huoqu" type="button" value="获取短信验证码" onclick="getPhoneMessage()">
        </div>
        </em> </li>
      <li>
        <label class="fl">登录密码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="password" id="password" name="password" maxlength="64" class="it"/>
        </em> </li>
      <li>
        <label class="fl">重复输入密码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="password" id="confirmPassword" maxlength="128" class="it" />
        </em> </li>
      <!--<li>
        <label class="fl">行业类型<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <label>
          <select class="una-select it" style="color:#444; width:230px;"
                  lay-verify="required"
                  id="industryTypeDcode"
                  name="industryTypeDcode"
                  lay-search=""
                  data-param_name="parentCode"
                  data-param_value="industry"
                  data-option_value_field_title="code"
                  data-url="/api/sys/dictionary"></select>
        </label>
        </em> </li>-->
      <li>
        <label class="fl">行业类型：</label>
        <em>
          <label class="aa">
            <select class="una-select una-select-linkage it" style="color:#444;"
                    lay-verify="required"
                    lay-search=""
                    data-param_name="parentCode"
                    data-param_value="industry"
                    data-sub_id="secondryIndustry"
                    data-option_value_field_title="code"
                    data-url="/api/sys/dictionary"></select>
            <select class="una-select una-select-linkage it" style="color:#444;"
                    id="secondryIndustry"
                    lay-verify="required"
                    lay-search=""
                    data-param_name="parentCode"
                    data-sub_id="thirdryIndustry"
                    data-option_value_field_title="code"
                    data-url="/api/sys/dictionary"></select>
            <select class="una-select it" style="color:#444;"
                    id="thirdryIndustry"
                    name="industryTypeDcode"
                    lay-verify="required"
                    lay-search=""
                    data-param_name="parentCode"
                    data-option_value_field_title="code"
                    data-url="/api/sys/dictionary"></select>
          </label>
        </em> </li>
      <li>
        <label class="fl">所在地区：</label>
        <em>
        <label class="aa">
          <select class="una-select una-select-linkage it" style="color:#444;"
                  lay-verify="required"
                  lay-search=""
                  data-param_name="level"
                  data-param_value="2"
                  data-sub_id="regionCity"
                  data-option_value_field_title="id"
                  data-url="/api/sys/region"></select>
          <select class="una-select una-select-linkage it" style="color:#444;"
                  id="regionCity"
                  lay-verify="required"
                  lay-search=""
                  data-param_name="parentId"
                  data-sub_id="regionId"
                  data-option_value_field_title="id"
                  data-url="/api/sys/region"></select>
          <select class="una-select it" style="color:#444;"
                  id="regionId"
                  name="regionId"
                  lay-verify="required"
                  lay-search=""
                  data-param_name="parentId"
                  data-option_value_field_title="id"
                  data-url="/api/sys/region"></select>
        </label>
        </em> </li>
      <li>
        <label class="fl"></label>
        <em>
        <input type="checkbox" name="statement" value="true" class="g_vm fl mr10" id="isRead"/>
        <b style=" float:left; display:inline-block;height:30px;">已经阅读并同意 <a href="" target="_blank">多汇供应链管理注册协议</a></b> </em> </li>
      <li>
        <label class="fl"></label>
        <em>
        <input type="submit" onclick="register(this)" value="注册" class="btn" />
        </em> </li>
      <li>
        <label class="fl"></label>
        <em>已有账号？ <a href="/api/duohui/login/toLogin">立即登录</a></em> </li>
    </div>
  </form>
</div>
<div th:replace="../templates/duohui/chanpin/include/footer :: footer"></div>
<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
<script th:src="@{/xadmin/js/xadmin.js}" type="text/javascript"></script>
<script th:src="@{/xadmin/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/una/js/private/una.common.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.validation.js}" charset="utf-8"></script>
<script th:src="@{/una/js/private/una.captcha.js}" charset="utf-8"></script>
<script type="text/javascript">
  var form = $("#fMain");
  loadCaptcha();  //加载验证码
  function register(selector){
    // $(selector).attr("disabled",true);
    if(!$("#name").val().length>0){
      layer.msg("请输入名称",function(){})
      return false;
    }

    if(!$("#username").val().length>0){
      layer.msg("请输入手机号",function(){})
      return false;
    }else{
      var result = isPhoneNo($("#username").val());
      if(!result){
        layer.msg("请输入正确的手机号",function(){})
        return false;
      }
    }

    if(!$("#captcha").val().length>0){
      layer.msg("请输入短信验证码",function(){})
      return false;
    }

    if(!$("#password").val().length>0){
      layer.msg("请输入密码",function(){})
      return false;
    }else{
      if(!$("#confirmPassword").val().length>0){
        layer.msg("请确认密码",function(){})
        return false;
      }else{
        if($("#password").val()!=$("#confirmPassword").val()){
          layer.msg("密码不一致",function(){})
          return false;
        }
      }
    }

    if(!$("#thirdryIndustry").val().length>0){
      layer.msg("请选择行业类型",function(){})
      return false;
    }

    if(!$("#regionId").val().length>0){
      layer.msg("请选择地区",function(){})
      return false;
    }

    $.ajax({
      url: '/api/sys/account/register',
      type: "POST",
      data: form.serialize(),
      dataType: 'json',
      success:function(result){
        if(result.isSuccess){
          layer.msg(result.message);
          setTimeout(function () {
            window.location.href="/api/duohui/login/toLogin";
          },'500')

        }else{
          //登录失败，刷新验证码
          form.find("input[name=captcha]").val("");
          form.find(".captchaImage").click();
          layer.msg(result.message,function () {})
        }

      }
    })
  }

  function getPhoneMessage(){
    var result = verifyCaptcha(captcha_text.join(""),$("#verification"));
    if(result){
      layer.msg("消息已发送，请注意查看手机")
    }
  }

  $(document).keydown(function (event) {
    if (event.keyCode == 13) {//回车键对应code值为13
      login($("#loginForm"));
    }
  });

</script>
</body>
</html>
