<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>多汇供应链管理有限公司</title>
<meta name="keywords" th:content="${systemName}">
<meta name="description" th:content="${systemName}">
<link th:href="@{/duohui/denglu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/denglu/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/denglu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/public.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/entreg.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/chanpin/include/header :: header"></div>
  <div th:replace="../templates/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div   class="box"  style="margin:30px auto; width:880px; height:auto; border:1px solid #e5e5e5;">
  <form id="fMain" method="post" onSubmit="return false;">
    <style>
  .box .gtform {
    font-size: 14px;
    width: 720px;
}
  .box .gtform label {
    padding-top: 1px;
    text-align: right;
    font-weight: normal;
    width: 200px;
    display: inline-block;
}
</style>

<h2 style="font-size:30px; line-height:100px; text-align:center; border-bottom:2px solid #1844a7; width:80%; margin:0 auto 30px;">采购企业信息登记表</h2>
    <div class="gtform ">

      <li  class="clear clearfix">
        <label class="fl" >一、企业名称 <i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="text" name="uname" maxlength="64" class="it" value="" placeholder="营业执照全称"  />
        </em> </li>
      <li  class="clear clearfix">
        <label class="fl" >二、企业类型<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="radio" name="uname" maxlength="64" style=" width:20px;" value="" />
        加工型
        <input type="radio" name="uname" maxlength="64" style=" width:20px;" value="" />
        贸易型</em> </li>


          <li  class="clear clearfix">
        <label class="fl" style="font-weight:bold; font-size:16px; color:#1844a7;">下 游 销 售 商 列 表<i class=" line36  ml5 mr10 red"></i></label>
       </li>


      <li >
        <label class="fl">验证码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="text" name="vc" size="5" maxlength="5" class="it" style="width:100px;" verifycode="" placeholder="验证码">
        <img th:src="@{/duohui/denglu/images/captcha.png.png}" verifycode=""></em> </li>

      <li>
        <label class="fl">登录密码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="password" name="upwd1" maxlength="64" class="it" value="" />
        </em> </li>
           <li  class="clear clearfix">
        <label class="fl" style="font-weight:bold; font-size:16px; color:#1844a7;">下 游 销 售 商 列 表<i class=" line36  ml5 mr10 red"></i></label>
       </li>
      <li>
        <label class="fl">重复输入密码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="password" name="upwd1" maxlength="128" value=""  class="it" />
        </em> </li>
      <li  id="pname">
        <label class="fl">公司名称<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <input type="password" name="upwd1" maxlength="128" value=""  class="it" />
        </em> </li>
      <li id="pname" >
        <label class="fl">公司类型<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
        <label>
          <select name="region" class="it" child="region.child" val="" style="color:#444; width:230px;">
            <option value="" style="color:#888;">请选择公司类型</option>
            <option value="01">物流业</option>
            <option value="02">设备租赁业</option>
            <option value="03">广告传媒宣传</option>
            <option value="04">金融服务机构</option>
            <option value="05">律师服务</option>
            <option value="06">会计事务所</option>
            <option value="07">记账报税</option>
            <option value="08">咨询中心</option>
            <option value="09">原料</option>
            <option value="10">半成品</option>
            <option value="11">成品</option>
            <option value="12">快消品</option>
            <option value="13">轻工业</option>
            <option value="14">重工业</option>
            <option value="15">商贸类</option>
            <option value="16">其他</option>
          </select>
        </label>
        </em> </li>
      <li  id="pname">
        <label class="fl">所在地区：</label>
        <em>
        <label class="aa">
          <select name="region" class="it" child="region.child" val="" style="color:#444;">
            <option value="" style="color:#888;">请选择</option>
            <option value="01">北京</option>
            <option value="02">天津</option>
            <option value="03">上海</option>
            <option value="04">重庆</option>
            <option value="05">河北</option>
            <option value="06">河南</option>
            <option value="07">江苏</option>
            <option value="08">浙江</option>
            <option value="09">辽宁</option>
            <option value="0a">黑龙江</option>
            <option value="0b">吉林</option>
            <option value="0c">山西</option>
            <option value="0d">内蒙古</option>
            <option value="0e">新疆</option>
            <option value="0f">甘肃</option>
            <option value="0g">陕西</option>
            <option value="0h">宁夏</option>
            <option value="0i">青海</option>
            <option value="0j">云南</option>
            <option value="0k">四川</option>
            <option value="0l">山东</option>
            <option value="0m">湖南</option>
            <option value="0n">湖北</option>
            <option value="0o">安徽</option>
            <option value="0p">江西</option>
            <option value="0q">福建</option>
            <option value="0r">广东</option>
            <option value="0s">广西</option>
            <option value="0t">台湾</option>
            <option value="0u">海南</option>
            <option value="0v">西藏</option>
            <option value="0w">贵州</option>
            <option value="0x">香港</option>
            <option value="0y">澳门</option>
            <option value="1z">海外</option>
          </select>
          <select name="region" class="it" child="region.child" val="" style="color:#444;">
            <option value="" style="color:#888;">请选择</option>
            <option value="01">北京</option>
            <option value="02">天津</option>
            <option value="03">上海</option>
            <option value="04">重庆</option>
            <option value="05">河北</option>
            <option value="06">河南</option>
            <option value="07">江苏</option>
            <option value="08">浙江</option>
            <option value="09">辽宁</option>
            <option value="0a">黑龙江</option>
            <option value="0b">吉林</option>
            <option value="0c">山西</option>
            <option value="0d">内蒙古</option>
            <option value="0e">新疆</option>
            <option value="0f">甘肃</option>
            <option value="0g">陕西</option>
            <option value="0h">宁夏</option>
            <option value="0i">青海</option>
            <option value="0j">云南</option>
            <option value="0k">四川</option>
            <option value="0l">山东</option>
            <option value="0m">湖南</option>
            <option value="0n">湖北</option>
            <option value="0o">安徽</option>
            <option value="0p">江西</option>
            <option value="0q">福建</option>
            <option value="0r">广东</option>
            <option value="0s">广西</option>
            <option value="0t">台湾</option>
            <option value="0u">海南</option>
            <option value="0v">西藏</option>
            <option value="0w">贵州</option>
            <option value="0x">香港</option>
            <option value="0y">澳门</option>
            <option value="1z">海外</option>
          </select>
          <select name="region" class="it" child="region.child" val="" style="color:#444;">
            <option value="" style="color:#888;">请选择</option>
            <option value="01">北京</option>
            <option value="02">天津</option>
            <option value="03">上海</option>
            <option value="04">重庆</option>
            <option value="05">河北</option>
            <option value="06">河南</option>
            <option value="07">江苏</option>
            <option value="08">浙江</option>
            <option value="09">辽宁</option>
            <option value="0a">黑龙江</option>
            <option value="0b">吉林</option>
            <option value="0c">山西</option>
            <option value="0d">内蒙古</option>
            <option value="0e">新疆</option>
            <option value="0f">甘肃</option>
            <option value="0g">陕西</option>
            <option value="0h">宁夏</option>
            <option value="0i">青海</option>
            <option value="0j">云南</option>
            <option value="0k">四川</option>
            <option value="0l">山东</option>
            <option value="0m">湖南</option>
            <option value="0n">湖北</option>
            <option value="0o">安徽</option>
            <option value="0p">江西</option>
            <option value="0q">福建</option>
            <option value="0r">广东</option>
            <option value="0s">广西</option>
            <option value="0t">台湾</option>
            <option value="0u">海南</option>
            <option value="0v">西藏</option>
            <option value="0w">贵州</option>
            <option value="0x">香港</option>
            <option value="0y">澳门</option>
            <option value="1z">海外</option>
          </select>
        </label>
        </em> </li>
      <li>
        <label class="fl"></label>
        <em>
        <input type="checkbox" name="statement" value="true" class="g_vm fl mr10" />
        <b style=" float:left; display:inline-block;height:30px;">已经阅读并同意 <a href="" target="_blank">多汇供应链管理注册协议</a></b> </em> </li>
      <li>
        <label class="fl"></label>
        <em>
        <input type="submit" value="注册" class="btn" />
        </em> </li>
      <li>
        <label class="fl"></label>
        <em>已有账号？ <a href="/api/duohui/login/toLogin">立即登录</a></em> </li>
    </div>
  </form>
</div>
<div th:replace="../templates/duohui/denglu/include/header :: header"></div>


<div class="xuanfu">
      <div class="xf_top">
        <div class="xf_top_k rel" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=1102425626&site=qq&menu=yes','_blank')"> <img th:src="@{/duohui/denglu/images/xftb3.png}" height="54" width="54" class="xftb db auto abs trans_fast">
          <div class="xf_top_k_nr abs">
            <div class="xf_top_k1 ">
              <div class="xf_topknrr abs xf_nr3">经理 <br />
                40063501907<br />
                <a href="http://wpa.qq.com/msgrd?v=3&uin=280767764&site=qq&menu=yes">在线咨询</a></div>
            </div>
          </div>
        </div>
        <div class="xf_top_k rel" > <img th:src="@{/duohui/denglu/images/xftb2.png}" height="54" width="54" class="xftb db auto abs trans_fast">
          <div class="xf_top_k_nr abs">
            <div class="xf_top_k1">
              <div class="xf_topknrr abs xf_nr3"> <img th:src="@{/duohui/denglu/images/weixin1.jpg}" /> <br />
              </div>
            </div>
          </div>
        </div>
        <div class="xf_top_k rel" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=1102425626&site=qq&menu=yes','_blank')" > <img th:src="@{/duohui/denglu/images/xftb5.png}" height="54" width="54" class="xftb db auto abs trans_fast">

        </div>
        <div class="xf_top_k rel"> <a href="#page1" class="fhtop"> <img th:src="@{/duohui/denglu/images/xftb4.png}" height="54" width="54" class="xftb db auto abs trans_fast">
          <!--<div class="xf_top_k_nr abs">
        <div class="xf_top_k1">
          <div class="xf_topknrr abs xf_nr1"> <span>返回顶部</span> </div>
        </div>
      </div>-->
          </a> </div>
      </div>
      <div class="xf_bot abs">
        <div>
          <div class="abs trans_fast"></div>
        </div>
      </div>
    </div>

    <!--在线QQ的js -->

  <link rel="stylesheet" th:href="@{/duohui/denglu/css/index.css}" type="text/css">
  <script th:src="@{/duohui/denglu/js/js2.js}"></script>
</body>
</html>
