<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/denglu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/denglu/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/denglu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/public.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/entreg.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div th:replace="/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div  class="box w1150"  style="margin:30px auto; height:auto;">
  <h2 style="font-size:30px; line-height:100px; text-align:center; width:100%; margin:0 auto 30px;">会员类型选择</h2>
  <div class="fl w360 hylist">
    <h3>月度会员</h3>
    <ul>
      <li>专属会员网站</li>
      <li>平台所有资源信息</li>
      <li>含600次刷新</li>
      <li>发布供求信息</li>
      <li>发布产品信息</li>
      <li>发布店铺信息</li>
    </ul>
    <a href="#">选择版本</a>
  </div>
  <div class="fl w360 hylist ml34">
    <h3>季度会员</h3>
    <ul>
      <li>专属会员网站</li>
      <li class="cheng">平台所有资源信息</li>
      <li>含600次刷新</li>
      <li>发布供求信息</li>
      <li>发布产品信息</li>
      <li>发布店铺信息</li>
    </ul>
     <a href="#">选择版本</a>
  </div>
  <div class="fr w360 hylist">
    <h3>年度会员</h3>
    <ul>
      <li>专属会员网站</li>
      <li>平台所有资源信息</li>
      <li>含600次刷新</li>
      <li>发布供求信息</li>
      <li>发布产品信息</li>
      <li>发布店铺信息</li>
    </ul>
     <a href="#">选择版本</a>
  </div>
</div>
<div th:replace="/duohui/denglu/include/header :: header"></div>
<div class="xuanfu">
  <div class="xf_top">
    <div class="xf_top_k rel" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=1102425626&site=qq&menu=yes','_blank')"> <img th:src="@{/duohui/denglu/images/xftb3.png}" height="54" width="54" class="xftb db auto abs trans_fast">
      <div class="xf_top_k_nr abs">
        <div class="xf_top_k1 ">
          <div class="xf_topknrr abs xf_nr3">经理 <br />
            40063501907<br />
            <a href="http://wpa.qq.com/msgrd?v=3&uin=280767764&site=qq&menu=yes">在线咨询</a></div>
        </div>
      </div>
    </div>
    <div class="xf_top_k rel" > <img th:src="@{/duohui/denglu/images/xftb2.png}" height="54" width="54" class="xftb db auto abs trans_fast">
      <div class="xf_top_k_nr abs">
        <div class="xf_top_k1">
          <div class="xf_topknrr abs xf_nr3"> <img th:src="@{/duohui/denglu/images/weixin1.jpg}" /> <br />
          </div>
        </div>
      </div>
    </div>
    <div class="xf_top_k rel" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=1102425626&site=qq&menu=yes','_blank')" > <img th:src="@{/duohui/denglu/images/xftb5.png}" height="54" width="54" class="xftb db auto abs trans_fast"> </div>
    <div class="xf_top_k rel"> <a href="#page1" class="fhtop"> <img th:src="@{/duohui/denglu/images/xftb4.png}" height="54" width="54" class="xftb db auto abs trans_fast">
      <!--<div class="xf_top_k_nr abs">
        <div class="xf_top_k1">
          <div class="xf_topknrr abs xf_nr1"> <span>返回顶部</span> </div>
        </div>
      </div>-->
      </a> </div>
  </div>
  <div class="xf_bot abs">
    <div>
      <div class="abs trans_fast"></div>
    </div>
  </div>
</div>

<!--在线QQ的js -->

<link rel="stylesheet" th:href="@{/duohui/denglu/css/index.css}" type="text/css">
<script th:src="@{/duohui/denglu/js/js2.js}"></script>
</body>
</html>
