<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/denglu/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/denglu/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/denglu/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/public.js}" type="text/javascript"></script>
<script th:src="@{/duohui/denglu/js/entreg.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div th:replace="/duohui/denglu/include/menu :: menu"></div>
</div>

<!--注册内容-->

<div class="box"  style="margin:30px auto; width:880px; border:1px solid #e5e5e5; padding-top:50px;">

         <p class="zhmm"> <a href="#"  class="act1">确认帐号</a> <a href="zhmm1.html" >安全验证</a> <a href="#" >重置密码</a></p>
         <form id="fMain" method="post" onSubmit="return false;">
    <div class="gtform" style="padding-top:60px;">

  <li  class="clear clearfix">
        <label class="fl" >手机号码<i class=" line36  ml5 mr10 red">*</i></label>
        <em>
            <input type="text" name="uname" maxlength="64" class="it" value="" />
            </em> </li>
                 <li >
        <label class="fl">验证码<i class=" line36  ml5 mr10 red">*</i></label>
        <em><input type="text" name="vc" size="5" maxlength="5" class="it" style="width:100px;" verifycode="" placeholder="验证码">
              <img th:src="@{/duohui/denglu/images/captcha.png.png}" verifycode=""></em>
      </li>




      <li>
        <label class="fl"></label>
        <em>
        <input type="submit" value="下一步" class="btn" />
        </em> </li>








        </div>
  </form>




      </div>


<div th:replace="/duohui/denglu/include/header :: header"></div>
</body>
</html>
