@charset "utf-8";
/* CSS Document */
.chanpinlist ul li{  width:220px; margin:0 9px 15px 0; float:left; border:1px solid #e0e0e0;}
.chanpinlist ul li:hover{ -webkit-box-shadow: 0 0 9px #ccc; -moz-box-shadow: 0 0 9px #ccc; box-shadow: 0 0 9px #ccc; }
.chanpinlist ul li:nth-child(5n){ margin-right:0;}
.chanpinlist ul li a.pic img{ width:218px; height:205px; background:url(../images/moren.jpg) no-repeat; border:0;}
.chanpinlist ul li .miaoshu {  width:100%; padding: 0 10px; height:138px;}
.chanpinlist ul li .miaoshu a {  height: 38px; line-height:38px; width:200px;display: block; text-overflow: ellipsis;white-space: nowrap;overflow: hidden; font-size:14px; }
.chanpinlist ul li .miaoshu em{ font-size:16px; font-weight:400;}
.chanpinlist ul li .miaoshu em i{ color:#0C6; margin-right:8px; font-size:14px;}
.chanpinlist ul li .miaoshu span{ color:#666666;}
.chanpinlist ul li .miaoshu span b{ font-size:18px; font-weight:400; color:#282828;}
.chanpinlist ul li .miaoshu span i{ margin:0 2px; }
#box{margin:0; padding:0; list-style:none; height:auto;}
#box .hid{display:none;}
#box .show{display:block;}
#box li{float:left; height:45px; line-height:45px;}
#tog{font:14px/45px; color:#666;}
.gsmc{ height:40px; margin:10px 0;}
.gsmc b{overflow:hidden; background:url(../images/v1.png) bottom  no-repeat; width:16px; display:inline-block; }
.gsmc h2{ font-size:30px; color:#004b92; font-weight:600;}
.gsmc b.v1{ background-position:0 0px;height:15px;width:16px;}
.gsmc b.v2{ background-position:0 -15px;height:15px;width:16px;}
.gsmc b.v3{ background-position:0 -30px;height:15px;width:16px;}
.gsmc b.v4{ background-position:0 -45px;height:15px;width:16px;}
.gsmc b.v5{ background-position:0 -60px;height:15px;width:16px;}
.hui2 {color: #999; line-height:40px; display:block; width:100%;
}


