<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/chanpin/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/chanpin/css/gwc.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/chanpin/css/main_001.css}" rel="stylesheet" type="text/css">
<script th:src="@{/duohui/chanpin/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/chanpin/js/public.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div class="header_top">
    <div class="w1200 clear clearfix"> <span class="huan left"><a class="mr10">您好！欢迎来到多汇供应链管理有限公司</a>|<a class="ml10 mr10" href="login.html">请登录</a>|<a class="ml10 mr10" href="register.html">免费注册</a></span>
      <div class=" right  top" >
        <ul class="duohui_menu fr font-f">
          <li class="no_sub"><span class="huan fl"><a >服务热线:</a><a class="red" ><b>400-635-1907</b></a><a ><img th:src="@{/duohui/chanpin/images/shoucang.jpg}" /></a></span></li>
          <li> <a class="bgt" href="gouwuche.html">购物车</a>
            <ul>
              <li><a  href="#">已加入购物车</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="#">我的业务体系</a>
            <ul>
              <li><a  href="#">信息平台</a></li>
              <li><a href="#">产品平台</a></li>
              <li><a  href="#">服务平台</a></li>
              <li><a href="#">招投标平台</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="project.html">客服中心</a>
            <ul>
              <li><a  href="#">新手入门</a></li>
              <li><a href="#">找回密码</a></li>
              <li><a  href="#">注销店铺</a></li>
              <li><a href="#">联系客服</a></li>
            </ul>
          </li>
          <li> <a class="bgt" href="#">会员中心</a>
            <ul>
              <li><a  href="#">会员中心</a></li>
              <li><a href="#">我的资料</a></li>
              <li><a href="#">退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w1200 clearBoth clearfix" style="margin-top:2px;">
    <h1 class="logo fl"><a href="index.html" target="_blank"><img th:src="@{/duohui/chanpin/images/logo.jpg}" title="多汇供应"  /></a> </h1>
    <div class="fr fabu"><a class="" href="mffbxx.html">发布产品信息</a></div>
    <div class="fl area ml10"> <img th:src="@{/duohui/chanpin/images/dhcp_area.jpg}"><em>石家庄</em><a href="#">[切换城市]</a> </div>
    <div class="sousuo fr mr30  ml10" >
      <form>
        <input type="search" class="soukuang fl" placeholder="请输入产品名称" />
        <input type="button" class="sousuo fl" value="搜  索" style="margin-top:1px;" />
      </form>
    </div>
  </div>
  <div class=" navbg clear clearfix">
    <nav  id="menu" class="menu"> <em class="fl"><img th:src="@{/duohui/chanpin/images/lanmu.jpg}" class="mr10">行业分类</em>
      <ul>
        <li><a  href="index.html"> 首页 </a></li>
        <li><a href="engineering.html"> 最新供应</a> </li>
        <li><a href="team.html"> 最新需求</a></li>
        <li><a href="special.html"> 最新入驻企业</a></li>
        <li><a href="service.html"> 帮助中心 </a></li>
        <li><a href="equipment.html">联系我们</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="clear clearfix mt10"></div>
<div class="clear clearfix w1150"> <a href="#0"><img src="images/1_39.jpg}" width="1150"></a> </div>
<div class="clear clearfix mt20"></div>
<div class="weizhi w1150">
  <p><em class="fl"></em><span class="ml10">您当前的位置 : : <a href="index.html">首页</a>><a href="newslist.html">品质保障</a></span></p>
</div>
<div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
  <table class="gouwuche" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px; margin-bottom:15px;">
    <tr style="height:42px; background-color:#f2f2f2; color:#666; font:14px/42px '微软雅黑'; ">
      <td width="40%" align="center" style="border:1px solid #dcdcdc; border-right:none;">商品</td>
      <td width="15%" align="center" style="border:1px solid #dcdcdc; border-right:none;">单价</td>
      <td width="20%" align="center" style="border:1px solid #dcdcdc; border-right:none;">数量</td>
      <td width="20%" align="center" style="border:1px solid #dcdcdc; border-right:none;">合计</td>
      <td width="5%" align="center" style="border:1px solid #dcdcdc;">删除</td>
    </tr>
<tr  style="height:10px; background-color:#fff; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" ></td>
    </tr>
    <tr class="mt20" style="height:42px; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" ><input class="ml10 mr10"  type="checkbox" name="items[]" value="6">企业名称</td>
    </tr>

    <tr class="mt20" style="height:42px; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" >
      <div class="biankuang">
    <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>
            <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>

    <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>

     <table width="100%"  style="border-bottom:1px solid #ccc;"" border="0" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>

      </div>



      </td>
    </tr>

    <tr  style="height:10px; background-color:#fff; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" ></td>
    </tr>
    <tr class="mt20" style="height:42px; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" ><input class="ml10 mr10"  type="checkbox" name="items[]" value="6">企业名称</td>
    </tr>

    <tr class="mt20" style="height:42px; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" >
      <div class="biankuang">
    <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>
            <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>

    <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>

     <table width="100%"  style="border-bottom:1px solid #ccc;"" border="0" align="center" cellpadding="0" cellspacing="0">

    <tr class="yangshi" >


      <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20" align="left" valign="top"><input  type="checkbox" name="items[]" value="6"></td>
            <td width="120" align="left" valign="top"><a href="#"><img src="images/pro7.jpg}" width="110" height="75" class="pic"/></a></td>
            <td align="left" valign="top" class=" ft14 jms" ><a href="#">39枚冬奥会纪念金币大全套</a></td>
          </tr>
        </table></td>
      <td width="15%" align="center">188 元</td>
      <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
          <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
          <span class="ui-number fl mr10">
          <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
          <input type="number" class="num" id="number" onBlur="changePrice();" name="number" value="1" min="1" max="99" style=" text-align:center"/>
          <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
          </span>件<em class="ml10">库存27件</em> </div></td>
      <td width="20%" align="center"><span id="total_2263" name="total_2263" >188 元</span></td>
      <td width="5%" align="center"><a
    href="#"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
    </tr>

        </table>

      </div>



      </td>
    </tr>




    <tr>
      <td colspan="5" align="center" style="background-color:#a1938b; color:#432818; line-height:1px;"></td>
    </tr>
    <tr>
      <td colspan="5" class="ft14" align="center"><div align="right" style=" font-size:18px; font-weight:900; line-height:55px; color:#d50000;">总计金额（不含运费）： ￥<span id="total" name="total" >188</span>元</div></td>
    </tr>
    <tr>
      <td colspan="5" align="center"  style="line-height:120px;"><div align="right">
          <input type="button"  style="background-color:#ff4500; font:14px/35px '微软雅黑'; color:#ffffff; border:0; width:132px; height:35px;cursor:pointer;" name="button2" id="button2" value="继续购物" />
          <input type="submit"  style=" margin-left:10px; background-color:#cb0100; font:14px/35px '微软雅黑'; color:#ffffff; border:0; width:132px;height:35px;cursor:pointer; "  name="button" id="button" value="确认订单" />
        </div></td>
    </tr>




  </table>
</div>
<div class="footer clear clearfix">
  <div class="w1200">
    <div class=" W950 clear clearfix" style="margin:0 auto;">
      <div class="fl list w210">
        <dl>
          <dt>新手上路</dt>
          <div class="clear clearfix"></div>
          <dd><a href="">会员注册</a></dd>
          <dd><a href="">会员登录</a></dd>
          <dd><a href="">找回密码</a></dd>
          <dd><a href="">发布信息</a></dd>
          <dd><a href="">查找信息</a></dd>
        </dl>
      </div>
      <div class="fl list w210 ml23">
        <dl>
          <dt>会员服务</dt>
          <div class="clear clearfix"></div>
          <dd><a href="">工程年费会员</a></dd>
          <dd><a href="">认证队伍</a></dd>
          <dd><a href="">认证机械商</a></dd>
          <dd><a href="">主材商家</a></dd>
          <dd><a href="">广告服务</a></dd>
        </dl>
      </div>
      <div class="fl list w210  ml23">
        <dl>
          <dt>认证服务</dt>
          <div class="clear clearfix"></div>
          <dd><a href="">手机认证服务</a></dd>
          <dd><a href="">实名认证服务</a></dd>
          <dd><a href="">公司认证服务</a></dd>
          <dd><a href="">现场认证服务</a></dd>
        </dl>
      </div>
      <div class="fl list w210  ml23">
        <dl>
          <dt>支付方式</dt>
          <div class="clear clearfix"></div>
          <dd><a href="">积分</a></dd>
          <dd><a href="">积分充值</a></dd>
          <dd><a href="">银行汇款积分</a></dd>
          <dd><a href="">提现须知</a></dd>
        </dl>
      </div>
    </div>
    <div class="w1200 clear clearfix" style="height:1px; background:#e2e2e2; margin:30px;"></div>
    <div class="clear clearfix footerdibu" style="padding-bottom:30px;">
      <div class="mt20 clear clearfix"><a href="about.html">关于我们</a>|<a href="contact.html">联系方式</a>|<a href="contact.html">免责条款</a>|<a href="contact.html">网站地图</a>|<a href="contact.html">网站留言</a>|<a href="contact.html">广告服务</a></div>
      <p>备案号   全国服务热线:0311-888888888    商务邮箱:123@qq.com</p>
      <p>&copy;2017-2019 SYSTEM All Rights Reserved 免责声明：本站信息均为网友自行发布，交易所带来的风险本站概不负责！</p>
      <p class="mt30" ><img th:src="@{/duohui/chanpin/images/1_121.jpg}"></p>
    </div>
  </div>
</div>
</body>
</html>
