<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/chanpin/include/head :: head"></div>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/chanpin/include/header :: header"></div>
  <div th:replace="../templates/duohui/common/navbg :: navbg"></div>
</div>
<div class="clear clearfix mt10"></div>
<div class="clear clearfix w1150"> <a href="#0"><img src="/duohui/chanpin/images/1_39.jpg}" width="1150"></a> </div>
<div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
  <table class="gouwuche" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px; margin-bottom:15px;">
    <tr style="height:42px; background-color:#f2f2f2; color:#666; font:14px/42px '微软雅黑'; ">
      <td width="40%" align="center" style="border:1px solid #dcdcdc; border-right:none;">商品</td>
      <td width="15%" align="center" style="border:1px solid #dcdcdc; border-right:none;">单价</td>
      <td width="20%" align="center" style="border:1px solid #dcdcdc; border-right:none;">数量</td>
      <td width="20%" align="center" style="border:1px solid #dcdcdc; border-right:none;">合计</td>
      <td width="5%" align="center" style="border:1px solid #dcdcdc;">删除</td>
    </tr>
    <tr  style="height:10px; background-color:#fff; color:#666; font:14px/42px '微软雅黑'; ">
      <td colspan="5" align="left" ></td>
    </tr>

    <tr class="mt20" style="height:42px; color:#666; font:14px/42px '微软雅黑'; " th:each="cartList:${recordList}">
      <td colspan="5" align="left" >
        <div class="biankuang">
            <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0">
                <tr class="mt20" style="height:42px; color:#666; font:14px/42px '微软雅黑'; ">
                    <td colspan="5" align="left" >
                        <input class="ml10 mr10 shopCheck"  type="checkbox" name="items[]" value="6">
                        [[${cartList[0].cpModel.shopName}]]
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" style=" border-bottom:1px solid #ccc;" align="center" cellpadding="0" cellspacing="0" th:each="cart:${cartList}">
                <tr class="yangshi" >
                  <td width="40%" align="center" valign="middle" ><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="20" align="left" valign="top"><input class="modelCheck" type="checkbox" name="items[]" th:value="${cart.cpModel.id}"></td>
                        <td width="120" align="left" valign="top"><a href="#"><img th:src="${cart.cpModel['map']['fileUrl']}" width="110" height="75" class="pic"/></a></td>
                        <td align="left" valign="top" class=" ft14 jms" ><a href="#" class="goodsModelName">[[${cart.cpModel.goodsName+'('+cart.cpModel.name+')'}]]</a></td>
                      </tr>
                    </table></td>
                  <td width="15%" align="center">[[${cart.cpModel.sellingPrice}]] 元</td>
                  <td width="20%" align="center" style="position:relative; bottom:0;"><div class="item1">
                      <span class="ui-number fl mr10">
                          <input type="hidden" class="sellingPrice" th:value="${cart.cpModel.sellingPrice}">
                          <button type="button" class="decrease" onclick="goodsCut(this)"></button>
                          <input type="number" class="num" onblur="calculateModelTotal(this)" name="number" th:value="${cart.amount}" min="1" max="99" style=" text-align:center"/>
                          <button type="button" class="increase" onclick="goodsAdd(this)"></button>
                      </span>件<em class="ml10">库存27件</em> </div></td>
                  <td width="20%" align="center"><span class="modelTotal" name="total_2263"></span>元</td>
                  <td width="5%" align="center"><a href="javascript:void(0)" th:onclick="removeModel([[${cart.id}]],this)"><strong style="color:#CCC;  font:16px/32px '微软雅黑';">X</strong></a></td>
                </tr>
            </table>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="5" align="center" style="background-color:#a1938b; color:#432818; line-height:1px;"></td>
    </tr>
    <tr>
      <td colspan="5" class="ft14" align="center">
          <div align="right" style=" font-size:18px; font-weight:900; line-height:55px; color:#d50000;">
          总计金额（不含运费）： ￥<span id="total" name="total" ></span>元</div></td>
    </tr>
    <tr>
      <td colspan="5" align="center"  style="line-height:120px;"><div align="right">
          <input type="button" onclick="javascript:window.open('/api/duohui/chanpin/index')"  style="background-color:#ff4500; font:14px/35px '微软雅黑'; color:#ffffff; border:0; width:132px; height:35px;cursor:pointer;" name="button2" id="button2" value="继续购物" />
          <input type="button"  style=" margin-left:10px; background-color:#cb0100; font:14px/35px '微软雅黑'; color:#ffffff; border:0; width:132px;height:35px;cursor:pointer; " name="button" id="button" onclick="zhifu()" value="结算" />
        </div></td>
    </tr>

  </table>
</div>
<div th:replace="../templates/duohui/common/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
<script>
    $(function(){
        $("input[type='number'].num").each(function(){
            calculateModelTotal($(this))
        })
    })

    //减数量
    function goodsCut(e){
        var numNode = $(e).closest("td").find(".num:first");
        var num = parseInt(numNode.val());
        if(num>1){
            numNode.val(num-1);
        }
        calculateModelTotal(e)
    }

    //加数量
    function goodsAdd(e){
        var numNode = $(e).closest("td").find(".num:first");
        var num = parseInt(numNode.val());
        numNode.val(num+1);
        calculateModelTotal(e)
    }

    //计算商品型号总价
    function calculateModelTotal(e){
        var numNode = $(e).closest("td").find(".num:first");
        var sellingPriceNode = $(e).closest("td").find(".sellingPrice:first");

        var num = parseInt(numNode.val());
        var price = parseInt(sellingPriceNode.val());
        var total = num*price;

        $(e).closest("tr.yangshi").find("span.modelTotal:first").text(total);
        calculateOrderTotal();
    }

    //计算订单总价
    function calculateOrderTotal(){
        var orderTotal = 0;
        $(".modelCheck:checked").each(function(){
            var modelTotal = $(this).closest("tr.yangshi").find("span.modelTotal:first").text();
            orderTotal = orderTotal + parseInt(modelTotal);
        })

        $("span#total").text(orderTotal);
    }

    //移除商品
    function removeModel(cartId,e){
        layer.confirm('您确定将购物车移除该商品吗？', {
            btn: ['确认','取消'] //按钮
        }, function(){

            $(e).closest("table").remove();
            calculateOrderTotal();
            console.log(cartId)
            // $.ajax({
            //     type: 'DELETE',
            //     dataType: 'json',
            //     url: "/api/cp/cart/"+cartId,
            //     success:function(result){
            //         layer.msg(result.message)
            //     },
            //     error: function(XMLHttpRequest) {
            //         console.log("访问出错了，错误代号："+XMLHttpRequest.status);
            //     }
            // })
        })
    }

    //店铺全选
    $(".shopCheck").change(function(){
        if($(this).is(':checked')){
            $(this).closest("div.biankuang").find(".modelCheck").prop("checked",true);
        }else{
            $(this).closest("div.biankuang").find(".modelCheck").prop("checked",false);
        }
        calculateOrderTotal();
    })

    $(".modelCheck").change(function(){
        calculateOrderTotal();
    })

    //结算
    function zhifu(){
        var mapArray = [];
        $(".modelCheck:checked").each(function(){
            var modelId = $(this).val();
            var num = $(this).closest("tr.yangshi").find(".num:first").val();
            var map = {"modelId":modelId,"num":num};
            mapArray.push(map);
        })
        console.log(mapArray)
        if(mapArray.length == 0){
            layer.msg("请选择至少一件商品",function (){});
        }else{
            window.location.href="/api/cp/order/zhifu?jsonStr="+encodeURI(JSON.stringify(mapArray))
        }
    }
</script>
</body>
</html>
