<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<div th:replace="../templates/duohui/guanwang/include/head :: head"></div>-->
<div th:replace="../templates/duohui/chanpin/include/head :: head"></div>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/chanpin/include/header :: header"></div>
  <div th:replace="../templates/duohui/chanpin/include/navbg :: navbg"></div>
</div>

<div class="w1200">
  <div th:replace="../templates/duohui/chanpin/include/selectBrand :: selectBrand"></div>
  <div th:replace="../templates/duohui/chanpin/include/denglu :: denglu"></div>
</div>

<!-- Slideshow -->
<div th:replace="../templates/duohui/chanpin/include/slideshow :: slideshow"></div><!--轮播图，热门商铺-->
<div class=" clear clearfix mt20"></div>
<div th:replace="../templates/duohui/chanpin/include/huibg :: huibg"></div>

<!--盖楼-->
<div class="clear">
  <div class="clear w1200 product mt20" th:each="goodsStatusDic,status : ${goodsStatusDlist}">
    <h2>
      <span class="fr">
        <a href="/api/duohui/chanpin/list" th:if="${status.index<8}" th:each="industry,status:${industryDlist}">[[${industry.name}]]  &nbsp;&nbsp;|</a>
      </span>
      <em class="mr10">[[${status.index+1}]]F</em>
      <a href="#">[[${goodsStatusDic.name}]]</a>
    </h2>
    <div class="clear product-nr clearfix">
      <div class="fl w230 ">
        <div class=" product-l">
          <a href="#">
            <img th:src="${recommendShopList.size()>status.index?recommendShopList[status.index].map['titleFileUrl']:'/api/duohui/chanpin/images/tu3.png'}">
          <h3 th:if="${recommendShopList.size()>status.index}">[[${recommendShopList[status.index].name}]]</h3>
          <p>主营产品：[[${recommendShopList.size()>status.index?#strings.abbreviate(recommendShopList[status.index].introduction,30):''}]]</p>
<!--          <p>主营产品：[[${recommendShopList.size()>status.index?#strings.abbreviate(recommendShopList[status.index].introduction,20):''}]]</p>-->
          </a> </div>
      </div>
      <div class="fr product-r">
        <ul>
          <li th:each="goods:${goodsListMap[goodsStatusDic.code]}">
            <div th:replace="../templates/duohui/chanpin/include/goodsUnit :: goodsUnit"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--盖楼-->

<div class=" clear clearfix mt20"></div>
<div th:replace="../templates/duohui/chanpin/include/bottomAd :: bottomAd"></div>
<div class=" clear clearfix mt20"></div>
<div th:replace="../templates/duohui/chanpin/include/cooperator :: cooperator"></div>
<div class=" clear clearfix mt20"></div>

<div th:replace="../templates/duohui/chanpin/include/outlink :: outlink"></div>
<div th:replace="../templates/duohui/chanpin/include/footer :: footer"></div>
<div th:replace="../templates/duohui/chanpin/include/script :: script"></div>
<script type="text/javascript"><!--分类-->
$(document).ready(function () {
  $(".topbar .menu").hover(function () {
            $(".topbar li").removeClass("hover");
            $(this).addClass("hover");
          },
          function () {
            $(this).removeClass("hover");
          }
  );
  $(".brand_cat #bc1,.brand_cat #bc2,.brand_cat #bc3,.brand_cat #bc4").mouseover(function () {
    $(".brand_cat li").removeClass("on");
    $(this).addClass("on");
    $(".ulcut").hide();
    $("#show" + $(this).attr('id')).show();
  });
  $(".cat_show dl").hover(function () {
            $(this).addClass("show_on");
            $(this).find(".show_more").show();
          },
          function () {
            $(this).removeClass("show_on");
            $(this).find(".show_more").hide();
          });
  $(function () {
    var _wrap = $(".bom_top ul");
    var _interval = 2000;
    var _moving;
    _wrap.hover(function () {
      clearInterval(_moving);
    }, function () {
      _moving = setInterval(function () {
        var _field = _wrap.find('li:first');
        var _h = _field.height();
        _field.animate({ marginTop: -_h + 'px' }, 600, function () {
          _field.css('marginTop', 0).appendTo(_wrap);
        })
      }, _interval)
    }).trigger('mouseleave');
  });
  $(function () {
    var sWidth = $(".imgplayer").width();
    var len = $(".imgplayer ul li").length;
    var index = 0;
    var picTimer;

    var btn = "<div class='btnBg'></div><div class='btn'>";
    for (var i = 0; i < len; i++) {
      btn += "<span>" + (i + 1) + "</span>";
    }
    btn += "</div>"
    $(".imgplayer").append(btn);
    $(".imgplayer .btnBg").css("opacity", 0.5);

    $(".imgplayer .btn span").mouseenter(function () {
      index = $(".imgplayer .btn span").index(this);
      showPics(index);
    }).eq(0).trigger("mouseenter");

    $(".imgplayer ul").css("width", sWidth * (len + 1));

    $(".imgplayer ul li div").hover(function () {
      $(this).siblings().css("opacity", 0.7);
    }, function () {
      $(".imgplayer ul li div").css("opacity", 1);
    });

    $(".imgplayer").hover(function () {
      clearInterval(picTimer);
    }, function () {
      picTimer = setInterval(function () {
        if (index == len) {
          showFirPic();
          index = 0;
        } else {
          showPics(index);
        }
        index++;
      }, 3000);
    }).trigger("mouseleave");

    function showPics(index) {
      var nowLeft = -index * sWidth;
      $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500);
      $(".imgplayer .btn span").removeClass("on").eq(index).addClass("on");
    }

    function showFirPic() {
      $(".imgplayer ul").append($(".imgplayer ul li:first").clone());
      var nowLeft = -len * sWidth;
      $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500, function () {

        $(".imgplayer ul").css("left", "0");
        $(".imgplayer ul li:last").remove();
      });
      $(".imgplayer .btn span").removeClass("on").eq(0).addClass("on");
    }
  });
});

var LanMu = $(".lanmu-list");
var lanMuSun = LanMu.children('dl');
if((lanMuSun.size()) > 10){
  LanMu.children("dl:gt(8)").hide();
  $(".listmore").show();
}
$(".listmore").bind("click", function(){
  if(!$(".listmore").hasClass('ListMoreOn')){
    $(".listmore").addClass('ListMoreOn');
    LanMu.children("dl:gt(8)").slideDown();
    $(".listmore").html("折叠栏目 ↑")
  }else{
    $(".listmore").removeClass('ListMoreOn');
    LanMu.children("dl:gt(8)").slideUp();
    $(".listmore").html("查看更多 ↓");

  }
})

//切换到相关页
function gopage1(n)
{
  var tag1 = document.getElementById("title1").getElementsByTagName("li");
  var taglength = tag1.length;

  for (i=1;i<=taglength;i++)
  {
    document.getElementById("m"+i).className="";
    document.getElementById("c"+i).style.display='none';
  }
  document.getElementById("m"+n).className="title1_cur";
  document.getElementById("c"+n).style.display='';
}
//打开店铺
function openShop(id,isOpenShop){
  if(isOpenShop==true){
    window.location.href="/api/duohui/dianpu/index/"+id;
  }else{
    layer.msg("未开通店铺",function(){})
  }
}
</script>
</body>
</html>
