<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<div th:replace="/duohui/guanwang/include/head :: head"></div>-->
<head>
<meta charset="utf-8"/>
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
  <link rel="stylesheet" th:href="@{/duohui/chanpin/css/base1.css}">
  <link rel="stylesheet" th:href="@{/duohui/chanpin/css/main_001.css}">
  <link rel="stylesheet" th:href="@{/duohui/chanpin/css/demo.css}">
  <link rel="stylesheet" th:href="@{/duohui/chanpin/css/iconfont.css}">
  <style>
    .listmore{display:block;text-align:center;height:40px;width:160px;border-top:0; margin-top:20px; font-weight:600;}
  </style>

  <script th:src="@{/duohui/chanpin/js/jquery-1.js}" charset="utf-8"></script>
  <script th:src="@{/duohui/chanpin/js/public.js}" charset="utf-8"></script>
  <script type="text/javascript">        var _curWeb = "news";</script>
  <script type="text/javascript" src="script/global.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/chanpin/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/chanpin/js/jquery-1.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/chanpin/js/responsiveslides.js}"></script>
  <script th:src="@{/duohui/chanpin/js/flickerplate.min.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/chanpin/js/jcarousellite_1.0.1.js}"></script>
  <script type="text/javascript" th:src="@{/duohui/chanpin/js/js.js}"></script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div th:replace="/duohui/chanpin/include/navbg :: navbg"></div>
</div>

<div class="w1200">
  <div th:replace="/duohui/chanpin/include/selectBrand :: selectBrand"></div>
  <div th:replace="/duohui/chanpin/include/denglu :: denglu"></div>
</div>

<!-- Slideshow -->
<div th:replace="/duohui/chanpin/include/slideshow :: slideshow"></div>
<div class=" clear clearfix mt20"></div>
<div th:replace="/duohui/chanpin/include/huibg :: huibg"></div>

<!--盖楼-->
<div class="clear">
  <div class="clear w1200 product mt20" th:each="goodsStatusDic : ${goodsStatusDlist}">
    <h2>
      <span class="fr">
        <a href="#">小分类</a><a>|</a>
        <a href="#">小分类</a><a>|</a>
        <a href="#">小分类</a><a>|</a>
        <a href="#">小分类</a><a>|</a>
        <a href="#">小分类</a>
      </span>
      <em class="mr10">1F</em>
      <a href="#">[[${goodsStatusDic.name}]]</a>
    </h2>
    <div class="clear product-nr clearfix">
      <div class="fl w230 ">
        <div class=" product-l"> <a href="#"> <img th:src="@{/duohui/chanpin/images/tu3.png}">
          <h3>推荐商家</h3>
          <p>主营产品：主营产品：在售产品主营产品：主营产品：在售产品</p>
          </a> </div>
      </div>
      <div class="fr product-r">
        <ul>
          <li th:each="goods:${goodsListMap[goodsStatusDic.code]}">
            <a class="pic" href="#"><img th:src="@{/duohui/chanpin/images/chanpin.jpg}"></a>
            <a class="biaoti" href="">[[${goods.name}]]</a>
            <em class="diqu">行业 | 地区</em>
            <i class="jiage"><a class="fr mr10" href="#">议价</a>￥<b>5.00</b> 万</i>
            <a class="company" href="#">多汇供应链管理有限公司</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--盖楼-->

<div class=" clear clearfix mt20"></div>
<div th:replace="/duohui/chanpin/include/bottomAd :: bottomAd"></div>
<div class=" clear clearfix mt20"></div>
<div th:replace="/duohui/chanpin/include/cooperator :: cooperator"></div>
<div class=" clear clearfix mt20"></div>

<div th:replace="/duohui/chanpin/include/outlink :: outlink"></div>
<div th:replace="/duohui/chanpin/include/footer :: footer"></div>

<script type="text/javascript"><!--分类-->
$(document).ready(function () {
  $(".topbar .menu").hover(function () {
            $(".topbar li").removeClass("hover");
            $(this).addClass("hover");
          },
          function () {
            $(this).removeClass("hover");
          }
  );
  $(".brand_cat #bc1,.brand_cat #bc2,.brand_cat #bc3,.brand_cat #bc4").mouseover(function () {
    $(".brand_cat li").removeClass("on");
    $(this).addClass("on");
    $(".ulcut").hide();
    $("#show" + $(this).attr('id')).show();
  });
  $(".cat_show dl").hover(function () {
            $(this).addClass("show_on");
            $(this).find(".show_more").show();
          },
          function () {
            $(this).removeClass("show_on");
            $(this).find(".show_more").hide();
          });
  $(function () {
    var _wrap = $(".bom_top ul");
    var _interval = 2000;
    var _moving;
    _wrap.hover(function () {
      clearInterval(_moving);
    }, function () {
      _moving = setInterval(function () {
        var _field = _wrap.find('li:first');
        var _h = _field.height();
        _field.animate({ marginTop: -_h + 'px' }, 600, function () {
          _field.css('marginTop', 0).appendTo(_wrap);
        })
      }, _interval)
    }).trigger('mouseleave');
  });
  $(function () {
    var sWidth = $(".imgplayer").width();
    var len = $(".imgplayer ul li").length;
    var index = 0;
    var picTimer;

    var btn = "<div class='btnBg'></div><div class='btn'>";
    for (var i = 0; i < len; i++) {
      btn += "<span>" + (i + 1) + "</span>";
    }
    btn += "</div>"
    $(".imgplayer").append(btn);
    $(".imgplayer .btnBg").css("opacity", 0.5);

    $(".imgplayer .btn span").mouseenter(function () {
      index = $(".imgplayer .btn span").index(this);
      showPics(index);
    }).eq(0).trigger("mouseenter");

    $(".imgplayer ul").css("width", sWidth * (len + 1));

    $(".imgplayer ul li div").hover(function () {
      $(this).siblings().css("opacity", 0.7);
    }, function () {
      $(".imgplayer ul li div").css("opacity", 1);
    });

    $(".imgplayer").hover(function () {
      clearInterval(picTimer);
    }, function () {
      picTimer = setInterval(function () {
        if (index == len) {
          showFirPic();
          index = 0;
        } else {
          showPics(index);
        }
        index++;
      }, 3000);
    }).trigger("mouseleave");

    function showPics(index) {
      var nowLeft = -index * sWidth;
      $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500);
      $(".imgplayer .btn span").removeClass("on").eq(index).addClass("on");
    }

    function showFirPic() {
      $(".imgplayer ul").append($(".imgplayer ul li:first").clone());
      var nowLeft = -len * sWidth;
      $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500, function () {

        $(".imgplayer ul").css("left", "0");
        $(".imgplayer ul li:last").remove();
      });
      $(".imgplayer .btn span").removeClass("on").eq(0).addClass("on");
    }
  });
});

var LanMu = $(".lanmu-list");
var lanMuSun = LanMu.children('dl');
if((lanMuSun.size()) > 10){
  LanMu.children("dl:gt(8)").hide();
  $(".listmore").show();
}
$(".listmore").bind("click", function(){
  if(!$(".listmore").hasClass('ListMoreOn')){
    $(".listmore").addClass('ListMoreOn');
    LanMu.children("dl:gt(8)").slideDown();
    $(".listmore").html("折叠栏目 ↑")
  }else{
    $(".listmore").removeClass('ListMoreOn');
    LanMu.children("dl:gt(8)").slideUp();
    $(".listmore").html("查看更多 ↓");

  }
})

//切换到相关页
function gopage1(n)
{
  var tag1 = document.getElementById("title1").getElementsByTagName("li");
  var taglength = tag1.length;

  for (i=1;i<=taglength;i++)
  {
    document.getElementById("m"+i).className="";
    document.getElementById("c"+i).style.display='none';
  }
  document.getElementById("m"+n).className="title1_cur";
  document.getElementById("c"+n).style.display='';
}

$(function () {
  // Slideshow
  $("#slider").responsiveSlides({
    auto: true,
    pager: false,
    nav: true,
    speed: 500,
    timeout:4000,
    pager: true,
    pauseControls: true,
    namespace: "callbacks"
  });
});
</script>
</body>
</html>
