<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="../templates/duohui/chanpin/include/head :: head"></div>
<body>
<div class="header ">
  <div th:replace="../templates/duohui/common/headerTop :: header_top"></div>
  <div th:replace="../templates/duohui/chanpin/include/header :: header"></div>
  <div th:replace="../templates/duohui/chanpin/include/navbg :: navbg"></div>
</div>
<div class="clear clearfix mt20"></div>
<div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
  <div class=" w210 fr ">

    <!--<div class="baibg clear clearfix newslei bor">
        <dl>
          <dt>按分类浏览</dt>
          <dd><a class="no" href="#">公司动态</a></dd>
          <dd><a href="#">行业新闻</a></dd>
          <dd><a href="#">平台信息</a></dd>
          <dd><a href="#">政策法规</a></dd>
        </dl>
      </div>
       <div class="clear clearfix mt20"></div>-->
      <div th:replace="../templates/duohui/chanpin/include/remaituijian :: remai"></div>
        <div th:replace="../templates/duohui/chanpin/include/searchPhb :: search"></div>
       <div class="clear clearfix mt20"></div>
  </div>
  <div class=" W920 fl bor">
     <h2 style=" text-align:center; color:#000; font-size:24px; line-height:50px;"><span>[[${record.name}]]</span><img class="ml10" th:src="@{/duohui/chanpin/images/v.gif}"></h2>
 <div style="text-align:center; margin:0 auto;  display:block; line-height:60px;">
来源：[[${record.issuer}]]：时间：[[${record.startTime}]]
    </div>
    <div class="clear line-height  border-top ">
    <div class="page una-editor-show" th:value="${record.content}">

      </div>
         <div class="clear clearfix mt20"></div>
      <div class="prenext"  style="margin:0 0 0 15px; line-height:40px;"> 上一篇：<a href="#">如何发布信息</a>

      <br />
      下一篇：<a href="#">如何发布信息</a>

      <div style="clear:both;"></div>
    </div>


      </div>
  </div>
</div>
<div th:replace="../templates/duohui/common/footer :: footer"></div>
<div th:replace="../templates/duohui/common/script :: script"></div>
</body>
</html>
