<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="/duohui/chanpin/include/head :: head"></div>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div class=" navbg clear clearfix">

  </div>
</div>
<div class="clearBoth"></div>
<script type="text/javascript"><!--分类-->
        $(document).ready(function () {
            $(".topbar .menu").hover(function () {
                $(".topbar li").removeClass("hover");
                $(this).addClass("hover");
            },
		function () {
		    $(this).removeClass("hover");
		}
	);
            $(".brand_cat #bc1,.brand_cat #bc2,.brand_cat #bc3,.brand_cat #bc4").mouseover(function () {
                $(".brand_cat li").removeClass("on");
                $(this).addClass("on");
                $(".ulcut").hide();
                $("#show" + $(this).attr('id')).show();
            });
            $(".cat_show dl").hover(function () {
                $(this).addClass("show_on");
                $(this).find(".show_more").show();
            },
	function () {
	    $(this).removeClass("show_on");
	    $(this).find(".show_more").hide();
	});
            $(function () {
                var _wrap = $(".bom_top ul");
                var _interval = 2000;
                var _moving;
                _wrap.hover(function () {
                    clearInterval(_moving);
                }, function () {
                    _moving = setInterval(function () {
                        var _field = _wrap.find('li:first');
                        var _h = _field.height();
                        _field.animate({ marginTop: -_h + 'px' }, 600, function () {
                            _field.css('marginTop', 0).appendTo(_wrap);
                        })
                    }, _interval)
                }).trigger('mouseleave');
            });
            $(function () {
                var sWidth = $(".imgplayer").width();
                var len = $(".imgplayer ul li").length;
                var index = 0;
                var picTimer;

                var btn = "<div class='btnBg'></div><div class='btn'>";
                for (var i = 0; i < len; i++) {
                    btn += "<span>" + (i + 1) + "</span>";
                }
                btn += "</div>"
                $(".imgplayer").append(btn);
                $(".imgplayer .btnBg").css("opacity", 0.5);

                $(".imgplayer .btn span").mouseenter(function () {
                    index = $(".imgplayer .btn span").index(this);
                    showPics(index);
                }).eq(0).trigger("mouseenter");

                $(".imgplayer ul").css("width", sWidth * (len + 1));

                $(".imgplayer ul li div").hover(function () {
                    $(this).siblings().css("opacity", 0.7);
                }, function () {
                    $(".imgplayer ul li div").css("opacity", 1);
                });

                $(".imgplayer").hover(function () {
                    clearInterval(picTimer);
                }, function () {
                    picTimer = setInterval(function () {
                        if (index == len) {
                            showFirPic();
                            index = 0;
                        } else {
                            showPics(index);
                        }
                        index++;
                    }, 3000);
                }).trigger("mouseleave");

                function showPics(index) {
                    var nowLeft = -index * sWidth;
                    $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500);
                    $(".imgplayer .btn span").removeClass("on").eq(index).addClass("on");
                }

                function showFirPic() {
                    $(".imgplayer ul").append($(".imgplayer ul li:first").clone());
                    var nowLeft = -len * sWidth;
                    $(".imgplayer ul").stop(true, false).animate({ "left": nowLeft }, 500, function () {

                        $(".imgplayer ul").css("left", "0");
                        $(".imgplayer ul li:last").remove();
                    });
                    $(".imgplayer .btn span").removeClass("on").eq(0).addClass("on");
                }
            });
        });
    </script>
<div class=" clear clearfix ">
  <!--<div class="prodcateStyle_3  mt30">
    <ul class="oneBgSet w1200">
      <li class="oneSet"> <a href="" target="_self">一级分类<i class="fa fa-angle-down"></i></a>
        <div class="subCateUl">
          <ul class="twoBgSet">
            <li> <a class="twoSet" href="" target="_self">二级分类</a><i class="fa fa-angle-right"></i>
              <ul class="subCateUl2 threeBgSet">
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
              </ul>
            </li>
            <li> <a class="twoSet" href="" target="_self">二级分类</a><i class="fa fa-angle-right"></i>
              <ul class="subCateUl2 threeBgSet">
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
              </ul>
            </li>
            <li> <a class="twoSet" href="" target="_self">二级分类</a><i class="fa fa-angle-right"></i>
              <ul class="subCateUl2 threeBgSet">
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="oneSet"><a href="" target="_self">一级分类</a></li>
      <li class="oneSet"> <a href="" target="_self">一级分类<i class="fa fa-angle-down"></i></a>
        <div class="subCateUl">
          <ul class="twoBgSet">
            <li> <a class="twoSet" href="" target="_self">二级分类</a><i class="fa fa-angle-right"></i>
              <ul class="subCateUl2 threeBgSet">
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="oneSet"> <a href="" target="_self">一级分类<i class="fa fa-angle-down"></i></a>
        <div class="subCateUl">
          <ul class="twoBgSet">
            <li> <a class="twoSet" href="" target="_self">二级分类</a><i class="fa fa-angle-right"></i>
              <ul class="subCateUl2 threeBgSet">
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
                <li class="threeSet"><a href="" target="_self">三级分类</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>-->
  <script>
		window.resizeTimeoutprodKind_style_03_1484741726227=setTimeout(function(){
			diyAutoHeight($('#prodKind_style_03_1484741726227'));
			window.resizeTimeoutprodKind_style_03_1484741726227=null;
		},350);
		$(window).resize(function() {
			if(window.resizeTimeoutprodKind_style_03_1484741726227)window.clearTimeout(window.resizeTimeoutprodKind_style_03_1484741726227);
			window.resizeTimeoutprodKind_style_03_1484741726227=setTimeout(function(){
				diyAutoHeight($('#prodKind_style_03_1484741726227'));
				window.resizeTimeoutprodKind_style_03_1484741726227=null;
			},350);
		});
		</script>
  <div class="w1200" style=" margin-top:50px;">
    <div class="fl">

      <!--放大镜代码开始-->
      <div id=preview>
        <div class=jqzoom id=spec-n1 onClick="window.open('http:///')">
          <IMG height=500 th:src="${#strings.arraySplit(record.map.fileUrl, ',')[0]}" jqimg="images/img04.jpg}" width=500> </div>
        <div id=spec-n5>
          <div class=control id=spec-left> <img th:src="@{/duohui/chanpin/images/disabled-prev.png}" /> </div>
          <div id=spec-list>
            <ul class=list-h style=" left:30px;">
              <li th:each="imageUrl : ${#strings.arraySplit(record.map.fileUrl, ',')}"><img th:src="${imageUrl}"> </li>
            </ul>
          </div>
          <div class=control id=spec-right> <img th:src="@{/duohui/chanpin/images/disabled-next.png}" /> </div>
        </div>
      </div>
      <!--放大镜图片功能，css跟js代码的顺序不能调整-->
      <SCRIPT th:src="@{/duohui/chanpin/js/jquery-1.2.6.pack.js}" type=text/javascript></SCRIPT>
      <SCRIPT th:src="@{/duohui/chanpin/js/base.js}" type=text/javascript></SCRIPT>
      <SCRIPT type=text/javascript>
	$(function(){
	   $(".jqzoom").jqueryzoom({
			xzoom:400,
			yzoom:400,
			offset:10,
			position:"right",
			preload:1,
			lens:1
		});
		$("#spec-list").jdMarquee({
			deriction:"left",
			width:500,
			height:76,
			step:2,
			speed:4,
			delay:10,
			control:true,
			_front:"#spec-right",
			_back:"#spec-left"
		});
		$("#spec-list img").bind("mouseover",function(){
			var src=$(this).attr("src");
			$("#spec-n1 img").eq(0).attr({
				src:src.replace("\/n5\/","\/n1\/"),
				jqimg:src.replace("\/n5\/","\/n0\/")
			});
			$(this).css({
				"border":"2px solid #ff6600",
				"padding":"1px"
			});
		}).bind("mouseout",function(){
			$(this).css({
				"border":"1px solid #ccc",
				"padding":"2px"
			});
		});
	})
	</SCRIPT>
      <SCRIPT th:src="@{/duohui/chanpin/js/lib.js}" type=text/javascript></SCRIPT>
      <SCRIPT th:src="@{/duohui/chanpin/js/zzsc.js}" type=text/javascript></SCRIPT>
      <!--放大镜图片功能，css跟js代码的顺序不能调整-->

      <!--放大镜代码结束-->

    </div>
    <div class="fr w550 itemInfo-wrap">
      <div class="title"> [[${record.fullName}]] </div>

      <div class="wr-fcs-panel clear clearfix">
        <dl class="wr-price-panel mt20">
          <dt class="wr-metatit">价格</dt>
          <dd><em class="wr-yen">￥</em> <span class="wr-price">480</span></dd>
        </dl>
        <dl class="wr-price-panel clear clearfix">
          <dt class="wr-metatit" style="line-height:50px;">促销价</dt>
          <dd><em class="wr-yen1">￥</em> <span class="wr-price1">[[${record.sellingPrice}]]</span> <em class="wr-promo-type "><s></s>限时秒杀</em> &nbsp;&nbsp;</dd>
        </dl>
      </div>
      <dl class="wr-price-panel clear clearfix mt10">
        <dt class="wr-metatit">运费</dt>
        <dd><em class="wr-yen">￥10 （订单满288免运费）</em> </dd>
      </dl>
      <div class="clear clearfix" style="height:10px;"></div>
      <ul class="xiaoliang">
        <li>
          <div class="wr-indcon"><span class="wr-label">总销量</span><span class="wr-count">16</span></div>
        </li>
        <li>
          <div class="wr-indcon"><span class="wr-label">月销量</span><span class="wr-count">16</span></div>
        </li>
        <li>
          <div class="wr-indcon"><span class="wr-label">累计评论</span><span class="wr-count">16</span></div>
        </li>
      </ul>
      <div class="clear clearfix" style="height:10px;"></div>
      <section id="search_ka">
        <div class="ui-sx bian1">
          <div class="subNavBox">
            <ul class="navContent" style="display: block;">
              <li>
                <div class="title">颜色</div>
                <div class="item"> <a class="hover" href="javascript:;"  onClick="changeAtt(this);" >
                  <input style="display:none" id="spec_value_15787" type="radio" checked />
                  黄色 <i>已选中</i> </a><a href="javascript:;"  onClick="changeAtt(this);" >
                  <input style="display:none" id="spec_value_15787" type="radio" checked />
                  红色 <i>已选中</i></a> </div>
              </li>
              <li>
                <div class="title">图片</div>
                <div class="item"> <a class="hover" href="javascript:;"  onClick="changeAtt(this);" >
                  <input style="display:none" id="spec_value_15787" type="radio" checked />
                  <img src="images/cxmeng_39.jpg}" width="40" height="40"> <i>已选中</i> </a><a href="javascript:;"  onClick="changeAtt(this);" >
                  <input style="display:none" id="spec_value_15787" type="radio" checked />
                  <img th:src="@{/duohui/chanpin/images/cxmeng_19.jpg}" width="40" height="40"><i>已选中</i></a> </div>
              </li>
              <li>
                <div class="title1">购买数量</div>
                <div class="item1">
                  <script language="javascript" type="text/javascript">  function goods_cut(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  if(Num>1)Num=Num-1;  num_val.value=Num;}  function goods_add(){var num_val=document.getElementById('number');  var new_num=num_val.value;  var Num = parseInt(new_num);  Num=Num+1;  num_val.value=Num;} </script>
                  <span class="ui-number fl mr10">
                  <button type="button" class="decrease" onClick="goods_cut();changePrice();"></button>
                  <input type="number" class="num" id="buyNumber" onBlur="changePrice();" value="1" min="1" max="99" style=" text-align:center"/>
                  <button type="button" class="increase" onClick="goods_add();changePrice();"></button>
                  </span>件<em class="ml10">库存27件</em> </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!--下面的js就是单选框的效果-->
      <script type="text/javascript">

			  function click_search (){
				  var search_ka = document.getElementById("search_ka");
				  if (search_ka.className == "s-buy open ui-section-box"){
					  search_ka.className = "s-buy ui-section-box";
					  }else {
						  search_ka.className = "s-buy open ui-section-box";
						  }
				  }
function changeAtt(t) {
t.lastChild.checked='checked';
for (var i = 0; i<t.parentNode.childNodes.length;i++) {
        if (t.parentNode.childNodes[i].className == 'hover') {
            t.parentNode.childNodes[i].className = '';
			t.childNodes[0].checked="checked";
		}
    }
t.className = "hover";
changePrice();
}
function changeAtt1(t) {
t.lastChild.checked='checked';
for (var i = 0; i<t.parentNode.childNodes.length;i++) {
        if (t.className == 'hover') {
            t.className = '';
			t.childNodes[0].checked = false;
		}
		else{
			t.className="hover";
			t.childNodes[0].checked = true;
		}


}
changePrice();
}
</script>
      <div class="probuy">
        <input type="button" value="立即购买" class="" th:onclick="'javascript:bugNow('+${record.id}+');'">
        <input type="button" value="加入购物车" class="addcartBtn" th:onclick="'javascript:addCart('+${record.id}+');'">
      </div>
    </div>
    <div class="clear clearfix" style="height:20px;"></div>
    <div class=" w210 fr ">

    <div th:replace="/duohui/chanpin/include/remaituijian :: remai"></div>
    <div th:replace="/duohui/chanpin/include/searchPhb :: search"></div>


    <div class="clear clearfix mt20"></div>
    <div th:replace="/duohui/chanpin/include/diquliulan :: diqu"></div>
  </div>

    <div class="chanpinshuoming W950 fl">
      <DIV id=con2>
        <UL id=tags>
          <LI class="selectTag"><A onClick="selectTag('tagContent0',this)" href="javascript:void(0)">商品详细</A></LI>
          <LI><A onClick="selectTag('tagContent1',this)" href="javascript:void(0)">购物流程</A></LI>
          <LI><A onClick="selectTag('tagContent2',this)" href="javascript:void(0)">全部评论（55+）</A></LI>
          <LI><A onClick="selectTag('tagContent3',this)" href="javascript:void(0)">关于我们及售后</A></LI>
        </UL>
        <DIV id=tagContent>
          <DIV class="tagContent selectTag" id=tagContent0>
            <div class="wr-tit-new "><i class="wr-tit-new-icon"></i>
              <p class="wr-title">商品参数<i class="wr-title-en">DETAIL</i></p>
            </div>
            <div class=" pro-nr-list clear clearfix">
              <ul>
                <li title="瓦伦丁啤酒">商品名称：瓦伦丁啤酒</li>
                <li title="1080069">商品编号：1080069</li>
                <li title="12.56kg">商品毛重：12.56kg</li>
                <li title="德国">商品产地：德国</li>
                <li title="黑啤">分类：黑啤</li>
              </ul>
            </div>
            <div class="wr-tit-new "><i class="wr-tit-new-icon"></i>
              <p class="wr-title">产品展示<i class="wr-title-en">DETAIL</i></p>
            </div>
            <div class=" pro-nr-list clear clearfix"> <img th:src="@{/duohui/chanpin/images/img01.jpg}"> </div>
          </DIV>
          <DIV class="tagContent " id=tagContent1>
            <div class=" pro-nr-list clear clearfix">
              <ul>
                <li title="瓦伦丁啤酒">商品名称：瓦伦丁啤酒</li>
                <li title="1080069">商品编号：1080069</li>
                <li title="12.56kg">商品毛重：12.56kg</li>
                <li title="德国">商品产地：德国</li>
                <li title="黑啤">分类：黑啤</li>
              </ul>
            </div>
          </DIV>
          <DIV class="tagContent " id=tagContent2>
            <div class=" pro-pinglun-list clear clearfix">
              <ul>
                <li >
                  <div class="user-column">
                    <div class="user-info"> <img th:src="@{/duohui/chanpin/images/logo.jpg}" width="25" height="25" alt="s***n" class="avatar"> s***n </div>
                    <div class="user-level"> <span style="color:#666666">银牌会员</span> </div>
                  </div>
                  <div class="comment-column wr-comment-column">
                    <div class="comment-star star1"></div>
                    <p class="comment-con">非常好喝，杠杠滴！物流挺快，感谢京东给的**券，**了不少。黑啤酒名不虚传，生产日期20170208，挺好，还会再来买的。</p>
                    <div class="wr-pic-list"> <a class="wr-thumb-img"><img  src="images/cxmeng_39.jpg}" width="48" height="48" ></a> <a class="wr-thumb-img"><img  src="images/cxmeng_39.jpg}" width="48" height="48" ></a></div>
                    <div class="wr-pic-view-wrap clearfix"> </div>
                    <div class="comment-message">
                      <div class="order-info"><span class="mr30">【焦香醇厚】黑啤整箱</span> <span>2017-07-10 07:33</span> </div>
                    </div>
                  </div>
                </li>
                <li >
                  <div class="user-column">
                    <div class="user-info"> <img th:src="@{/duohui/chanpin/images/logo.jpg}" width="25" height="25" alt="s***n" class="avatar"> s***n </div>
                    <div class="user-level"> <span style="color:#666666">银牌会员</span> </div>
                  </div>
                  <div class="comment-column wr-comment-column">
                    <div class="comment-star star2"></div>
                    <p class="comment-con">非常好喝，杠杠滴！物流挺快，感谢京东给的**券，**了不少。黑啤酒名不虚传，生产日期20170208，挺好，还会再来买的。</p>
                    <div class="wr-pic-list"> <a class="wr-thumb-img"><img  src="images/cxmeng_39.jpg}" width="48" height="48" ></a> <a class="wr-thumb-img"><img  src="images/cxmeng_39.jpg}" width="48" height="48" ></a></div>
                    <div class="wr-pic-view-wrap clearfix"> </div>
                    <div class="comment-message">
                      <div class="order-info"><span class="mr30">【焦香醇厚】黑啤整箱</span> <span>2017-07-10 07:33</span> </div>
                    </div>
                  </div>
                </li>
                <li >
                  <div class="user-column">
                    <div class="user-info"> <img th:src="@{/duohui/chanpin/images/logo.jpg}" width="25" height="25" alt="s***n" class="avatar"> s***n </div>
                    <div class="user-level"> <span style="color:#666666">银牌会员</span> </div>
                  </div>
                  <div class="comment-column wr-comment-column">
                    <div class="comment-star star3"></div>
                    <p class="comment-con">非常好喝，杠杠滴！物流挺快，感谢京东给的**券，**了不少。黑啤酒名不虚传，生产日期20170208，挺好，还会再来买的。</p>
                    <div class="wr-pic-list"> <a class="wr-thumb-img"><img  src="images/cxmeng_39.jpg}" width="48" height="48" ></a> <a class="wr-thumb-img"><img  src="images/cxmeng_39.jpg}" width="48" height="48" ></a></div>
                    <div class="wr-pic-view-wrap clearfix"> </div>
                    <div class="comment-message">
                      <div class="order-info"><span class="mr30">【焦香醇厚】黑啤整箱</span> <span>2017-07-10 07:33</span> </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </DIV>
          <DIV class="tagContent " id=tagContent3>
            <div class=" pro-nr-list clear clearfix"> 关于我们及售后服务 </div>
          </DIV>
        </DIV>
      </DIV>
    </div>
  </div>
</div>
<div th:replace="/duohui/chanpin/include/footer :: footer"></div>
<SCRIPT type=text/javascript>
  function selectTag(showContent,selfObj){
    // 操作标签
    var tag = document.getElementById("tags").getElementsByTagName("li");
    var taglength = tag.length;
    for(i=0; i<taglength; i++){
      tag[i].className = "";
    }
    selfObj.parentNode.className = "selectTag";
    // 操作内容
    for(i=0; j=document.getElementById("tagContent"+i); i++){
      j.style.display = "none";
    }
    document.getElementById(showContent).style.display = "block";


  }

  //立即购买
  function bugNow(goodsId){
      var buyNumber = $("#buyNumber").val();
      layer.msg("立即购买")

  }

  //加入购物车
  function addCart(goodsId){
    console.log(goodsId);
    var buyNumber = $("#buyNumber").val();
      $.ajax({
          type: 'post',
          contentType: "application/json",
          url: "/api/cp/cart",
          dataType: 'json',
          data: {"goodsAttributeId":goodsId},
          success: function (result) {
              if(result.isSuccess){
                  //操作成功时，弹层提示添加成功，并且刷新父页面
                  layer.msg(result.message)
              }else{
                  layer.msg(result.message,function () {})
              }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              layer.closeAll('loading');
              console.log(XMLHttpRequest.status);
              console.log(XMLHttpRequest.readyState);
              console.log(textStatus);
          }
      })

  }
</SCRIPT>
</body>
</html>
