<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="../templates/duohui/chanpin/include/head :: head"></div>
<body>
<div class="header ">
    <div th:replace="../templates/duohui/chanpin/include/headerTop :: header_top"></div>
    <div th:replace="../templates/duohui/chanpin/include/header :: header"></div>
    <div class=" navbg clear clearfix"></div>
</div>
<div class="huibg">
    <div class="clear clearfix mt10"></div>

    <div class=" clear clearfix w1150  bor " style=" margin:10px auto;">
        <div class="fenleisousuo clear clearfix">
            <ul id="searchUl">
                <li class="industryLi">
                    <div class="fenlist clear clearfix">
                        <dl>
                            <dt> 一级行业：</dt>
                            <dd th:class="${param['primaryIndustryDcode']!=null?'':'on'}" name="primaryIndustryDcode" value="all"><a href="#" onclick="searchGoods(this)">全部</a></dd>
                            <dd th:class="${#strings.trim(param['primaryIndustryDcode']) == #strings.trim(industry['code'])?'on':''}" th:each="industry:${primaryIndustryDlist}" name="primaryIndustryDcode" th:value="${industry['code']}">
                                <a href="#" onclick="searchGoods(this)">[[${industry.name}]]</a></dd>
                        </dl>
                    </div>
                </li>
                <li th:if="${secondryIndustryDlist!=null}" class="industryLi">
                  <div class="fenlist clear clearfix">
                    <dl>
                      <dt> 二级行业：</dt>
                      <dd th:class="${param['secondryIndustryDcode']!=null?'':'on'}" name="secondryIndustryDcode" value="all"><a href="#" onclick="searchGoods(this)">全部</a></dd>
                      <dd th:class="${#strings.trim(param['secondryIndustryDcode']) == #strings.trim(industry['code'])?'on':''}" th:each="industry:${secondryIndustryDlist}" name="secondryIndustryDcode" th:value="${industry.code}">
                          <a href="#" onclick="searchGoods(this)">[[${industry.name}]]</a></dd>
                    </dl>
                  </div>
                </li>
              <li th:if="${thirdryIndustryDlist!=null}" class="industryLi">
                <div class="fenlist clear clearfix">
                  <dl>
                    <dt> 三级行业：</dt>
                    <dd th:class="${param['thirdryIndustryDcode']!=null?'':'on'}" name="thirdryIndustryDcode" value="all"><a href="#" onclick="searchGoods(this)">全部</a></dd>
                    <dd th:class="${#strings.trim(param['thirdryIndustryDcode']) == #strings.trim(industry['code'])?'on':''}" th:each="industry:${thirdryIndustryDlist}" name="thirdryIndustryDcode" th:value="${industry.code}">
                        <a href="#" onclick="searchGoods(this)">[[${industry.name}]]</a></dd>
                  </dl>
                </div>
              </li>
                <li>
                    <div class="fenlist clear clearfix">
                        <dl>
                            <dt> 产品状态：</dt>
                            <dd th:class="${param['statusDcode']!=null?'':'on'}" name="statusDcode" value="all"><a href="#" onclick="searchGoods(this)">全部</a></dd>
                            <dd th:class="${#strings.trim(param['statusDcode']) == #strings.trim(goodsStatus['code'])?'on':''}" class="" th:each="goodsStatus:${goodsStatusDlist}" name="statusDcode" th:value="${goodsStatus.code}">
                                <a href="#" onclick="searchGoods(this)">[[${goodsStatus.name}]]</a></dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <div class="fenlist clear clearfix">
                        <dl id="box">
                            <dt> 地区：</dt>
                            <div style="width:970px; float:left;">
                                <dd th:class="${param['provinceRegionId']!=null?'':'on'}" name="provinceRegionId" value="all"><a href="#" onclick="searchGoods(this)">全部</a></dd>
                                <dd th:class="${#strings.trim(param['provinceRegionId']) == #strings.trim(region['id'])?'on':''}" class="" th:each="region:${sysRegionList}" name="provinceRegionId" th:value="${region.id}">
                                    <a href="#" onclick="searchGoods(this)">[[${region.name}]]</a></dd>
                            </div>
                        </dl>
                        <p id="tog"
                           style="cursor:pointer; line-height:45px; height:45px; font-size:14px; color:#ff5400; font-weight:600;">
                            展开</p>
                        <script>
                            var len = $("#box dd").length;

                            function int() {
                                for (i = 8; i < len; i++) {
                                    $("#box dd").eq(i).addClass("hid");
                                }
                            }

                            $("#tog").click(function () {
                                var t = $(this).text();
                                if (t == "展开") {
                                    $("#box .hid").addClass("show");
                                    $(this).text("收缩");
                                } else {
                                    $("#box .hid").removeClass("show");
                                    $(this).text("展开");
                                }
                            });
                            int();//初始化隐藏多余标签
                        </script>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
        <div class=" w210 fr ">
            <div th:replace="../templates/duohui/chanpin/include/remaituijian :: remai"></div>
            <div th:replace="../templates/duohui/chanpin/include/searchPhb :: search"></div>
            <div class="clear clearfix mt20"></div>
            <div th:replace="../templates/duohui/chanpin/include/diquliulan :: diqu"></div>
        </div>
        <div class=" W920 fl product-nr" style="padding:0;">
            <div class="list_left">
                <script type="text/javascript">
                    $(function () {
                        $(".biaoti_li li").hover(function () {
                            $(this).find("div").show();
                        }, function () {
                            $(this).find("div").hide();
                        });
                    });
                </script>


                <div class=" product-r gsmc">
                    <ul>
                        <li th:each="goods:${goodsList}">
                            <div th:replace="../templates/duohui/chanpin/include/goodsUnit :: goodsUnit"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page clear clearfix">
                <a>首页</a><a>上一页</a><a th:class="${param['primaryIndustryDcode']!=null?'':'on'}">1</a><a href="">2</a><a href="">下一页</a><a href="">尾页</a>
            </div>
        </div>
    </div>

</div>


<div th:replace="../templates/duohui/chanpin/include/footer :: footer"></div>
<script>
  //点击筛选
function searchGoods(e){
    $(e).parent().parent().find("dd.on").removeClass("on");
    $(e).parent().addClass("on");
    if($(e).parent().attr("value")=="all"&&$(e).closest("li").hasClass("industryLi")){
        $(e).closest("li").nextAll("li.industryLi").remove();
    }

    var param = "";
    $("#searchUl").find("dd.on").each(function(){
        dd = $(this);
        var name = dd.attr("name");
        var value = dd.attr("value");
        if(value!="all")param = param + name +"="+value+"&"
    })
    if(param.length>0){
        param = "?"+param;
    }
    window.location.href="/api/duohui/chanpin/list"+param;
}

</script>
</body>
</html>
