<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<title>多汇供应链管理有限公司</title>
<meta name="keywords" content="多汇供应链管理有限公司">
<meta name="description" content="多汇供应链管理有限公司">
<link th:href="@{/duohui/chanpin/css/base1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/duohui/chanpin/css/main_001.css}" rel="stylesheet" type="text/css">

<script th:src="@{/duohui/chanpin/js/jquery-1.js}" type="text/javascript"></script>
<script th:src="@{/duohui/chanpin/js/public.js}" type="text/javascript"></script>
<script type="text/javascript">        var _curWeb = "news";</script>
<!--<script src="js/jquery-1.8.3.min.js}" type="text/javascript"></script>-->
<script th:src="@{/duohui/chanpin/js/jquery-1.7.1.min.js}" type="text/javascript"></script>
<!--下面是大图，上面是导航-->
</head>
<body>
<div class="header ">
  <div th:replace="/duohui/chanpin/include/headerTop :: header_top"></div>
  <div th:replace="/duohui/chanpin/include/header :: header"></div>
  <div class=" navbg clear clearfix"></div>
</div>
<div class="huibg">
<div class="clear clearfix mt10"></div>

<div class=" clear clearfix w1150  bor " style=" margin:10px auto;">
  <div class="fenleisousuo clear clearfix">
    <ul>
      <li>
        <div class="fenlist clear clearfix">
          <dl>
            <dt> 选择分类： </dt>
            <dd class="on"><a href="#">工程造价</a></dd>
            <dd class=""><a href="#">售楼代理</a></dd>
            <dd class=""><a href="#">金融平台</a></dd>
            <dd class=""><a href="#">项目合作</a></dd>
            <dd class=""><a href="#">项目管理</a></dd>
            <dd class=""><a href="#">招投标代理</a></dd>
            <dd class=""><a href="#">材料设备供应商</a></dd>
            <dd class=""><a href="#">总包单项选择</a></dd>
          </dl>
        </div>
      </li>
      <li>
        <div class="fenlist clear clearfix">
          <dl>
            <dt> 认证情况： </dt>
            <dd class="on"><a href="#">全部</a></dd>
            <dd class=""><a href="#">电话核实</a></dd>
            <dd class=""><a href="#">手机认证</a></dd>
            <dd class=""><a href="#">实名认证</a></dd>
            <dd class=""><a href="#">企业认证</a></dd>
            <dd class=""><a href="#">现场认证</a></dd>
          </dl>
        </div>
      </li>
      <li>
        <div class="fenlist clear clearfix">
          <dl>
            <dt> 类型： </dt>
            <dd class="on"><a href="#">全部</a></dd>
            <dd class=""><a href="#">项目负责人</a></dd>
            <dd class=""><a href="#">工程中介</a></dd>
          </dl>
        </div>
      </li>
      <li>
        <div class="fenlist clear clearfix">
          <dl id="box">
            <dt> 地区： </dt>
            <div  style="width:970px; float:left;">
              <dd class="on"><a href="#">全部</a></dd>
              <dd class=""><a href="#">北京</a></dd>
              <dd class=""><a href="#">上海</a></dd>
              <dd class=""><a href="#">天津</a></dd>
              <dd class=""><a href="#">广州</a></dd>
              <dd class=""><a href="#">河北</a></dd>
              <dd class=""><a href="#">河南</a></dd>
              <dd class=""><a href="#">江苏</a></dd>
              <dd class=""><a href="#">北京</a></dd>
              <dd class=""><a href="#">上海</a></dd>
              <dd class=""><a href="#">天津</a></dd>
              <dd class=""><a href="#">广州</a></dd>
              <dd class=""><a href="#">河北</a></dd>
              <dd class=""><a href="#">河南</a></dd>
              <dd class=""><a href="#">江苏</a></dd>
              <dd class=""><a href="#">北京</a></dd>
              <dd class=""><a href="#">上海</a></dd>
              <dd class=""><a href="#">天津</a></dd>
              <dd class=""><a href="#">广州</a></dd>
              <dd class=""><a href="#">河北</a></dd>
              <dd class=""><a href="#">河南</a></dd>
              <dd class=""><a href="#">江苏</a></dd>
            </div>
          </dl>
          <p id="tog" style="cursor:pointer; line-height:45px; height:45px; font-size:14px; color:#ff5400; font-weight:600;">展开</p>
          <script>
var len=$("#box dd").length;
function int(){
for(i=8;i<len;i++){
$("#box dd").eq(i).addClass("hid");
}
}
$("#tog").click(function(){
var t=$(this).text();
if(t=="展开"){
$("#box .hid").addClass("show");
$(this).text("收缩");
}else{
$("#box .hid").removeClass("show");
$(this).text("展开");
}
});
int();//初始化隐藏多余标签
</script>
        </div>
      </li>

    </ul>
  </div>
</div>
<div class=" clear clearfix w1150 " style="padding:20px 0;  margin:0 auto;">
  <div class=" w210 fr ">
    <div th:replace="/duohui/chanpin/include/remaituijian :: remai"></div>

    <div th:replace="/duohui/chanpin/include/searchPhb :: search"></div>


    <div class="clear clearfix mt20"></div>
    <div th:replace="/duohui/chanpin/include/diquliulan :: diqu"></div>
  </div>
  <div class=" W920 fl product-nr" style="padding:0;">
    <div class="list_left">
      <script type="text/javascript">
      $(function(){
      $(".biaoti_li li").hover(function(){
      $(this).find("div").show();
      },function(){
      $(this).find("div").hide();
      });
      });
      </script>


      <div class=" product-r gsmc">
        <ul>
          <li th:each="goods:${goodsList}">
            <div th:replace="/duohui/chanpin/include/goodsUnit :: goodsUnit"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="page clear clearfix">
      <a>首页</a><a>上一页</a><a class="on">1</a><a href="">2</a><a href="">下一页</a><a href="">尾页</a>
    </div>
  </div>
</div>

</div>


<div th:replace="/duohui/chanpin/include/footer :: footer"></div>
</body>
</html>
