@charset "utf-8";
/* CSS Document */
*{outline:none;}


.xf_top_k:hover>img{opacity:1;filter:alpha(opacity=100);}


.xuanfu{width:55px;height:295px;position: fixed;top:50%;right:0;margin-top: -127px;z-index:11111;}
.xf_top{width:55px;height:295px; background:url(../images/xfbg.png) no-repeat;padding:6px 0px;}
.xf_bot{width:39px;height:21px;background:url(../images/xfbg2.png) no-repeat;bottom:0px;left:50%;margin-left: -20px;cursor:pointer;}
.xf_bot div div{width:11px;height:11px;border-radius:100%;background:url(../images/xfanniu1.png) no-repeat center center;top:50%;margin-top: -5px;left:22px;}
.xf_bot div div.gb{height:3px;margin-top: -1px;left:7px;border-radius:0px;background:#f19f1c;}

.xf_top_k{height:70px;cursor:pointer;}
.xftb{top:50%;left:30%;margin-top:-13px;margin-left:-15px;opacity:.5;filter:alpha(opacity=50);}
.xf_top_k_nr{width:154px;top:4px;right:-154px;}
.xf_top_k1{width:154px;height:110px;background:url(../images/xfbg3.png) no-repeat;}
.xf_topknrl{top:50%;margin-top: -13px;left:10px;}
.xf_topknrr{width:100px;height:110px; line-height:30px;left:10px;top:30%;margin-top: -23px;color: #fff;}
.xf_topknrr a{ color:#fff;}
.xf_ewm{top:50%;margin-top: -48px;}
.xf_nr1{line-height:46px;padding-left: 10px;color: #fff;font-size: 16px;}
.xf_nr1 a{color: #fff;}
.xf_nr2{color:#fff;padding-top:6px;height:40px;line-height:16px;}
.xf_nr3{background:none!important;}



.rel {
position: relative;
}
.abs {
position: absolute;
}