@font-face {
	font-family: NoveDemiBold;
	src:url(../fonts/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/novecentowide-demibold-webfont.woff2') format('woff2'),url('../fonts/novecentowide-demibold-webfont.woff') format('woff'),url('../fonts/novecentowide-demibold-webfont.ttf') format('truetype'),url('../fonts/novecentowide-demibold-webfont.svg#dincond-boldalternateregular') format('svg);
}
@font-face {
	font-family: DincondMedium;
	src:url(../fonts/dincond-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/dincond-medium-webfont.woff2') format('woff2'),url('../fonts/dincond-medium-webfont.woff') format('woff'),url('../fonts/dincond-medium-webfont.ttf') format('truetype'),url('../fonts/dincond-medium-webfont.svg#dincond-boldalternateregular') format('svg);
}
@font-face {
	font-family: DincondBold;
	src:url(../fonts/dincond-boldalternate-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/dincond-boldalternate-webfont.woff2') format('woff2'),url('../fonts/dincond-boldalternate-webfont.woff') format('woff'),url('../fonts/dincond-boldalternate-webfont.ttf') format('truetype'),url('../fonts/dincond-boldalternate-webfont.svg#dincond-boldalternateregular') format('svg);
}
@font-face {
	font-family: Myriadsetpro;
	src:url(../fonts/myriadsetpro-thin-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/myriadsetpro-thin-webfont.woff2') format('woff2'),url('../fonts/myriadsetpro-thin-webfont.woff') format('woff'),url('../fonts/myriadsetpro-thin-webfont.ttf') format('truetype'),url('../fonts/myriadsetpro-thin-webfont.svg#dincond-boldalternateregular') format('svg);
}
@font-face {
	font-family: Premierleague;
	src:url(../fonts/barclayspremierleague-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/barclayspremierleague-webfont.woff2') format('woff2'),url('../fonts/barclayspremierleague-webfont.woff') format('woff'),url('../fonts/barclayspremierleague-webfont.ttf') format('truetype'),url('../fonts/barclayspremierleague-webfont.svg#dincond-boldalternateregular') format('svg);
}
@font-face {
	font-family: NovecentowideMedium;
	src:url(../fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/novecentowide-medium-webfont.woff2') format('woff2'),url('../fonts/novecentowide-medium-webfont.woff') format('woff'),url('../fonts/novecentowide-medium-webfont.ttf') format('truetype'),url('../fonts/novecentowide-medium-webfont.svg#dincond-boldalternateregular') format('svg);
}
@font-face {
	font-family: geometric_blackregular;
	src:url(../fonts/geometric706bt-blackb-webfont.eot?#iefix') format('embedded-opentype'),     url('../fonts/geometric706bt-blackb-webfont.woff2') format('woff2'),url('../fonts/geometric706bt-blackb-webfont.woff') format('woff'),        url('../fonts/geometric706bt-blackb-webfont.ttf') format('truetype'),url('../fonts/geometric706bt-blackb-webfont.svg#geometric_706_blackregular') format('svg);
}
HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
figure {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
MENU {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
header {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
section {
	DISPLAY: block
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
ADDRESS {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
figcaption {
	DISPLAY: block
}
MENU {
	DISPLAY: block
}
details {
	DISPLAY: block
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
HTML {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
BODY {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IFRAME {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
I {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
ADDRESS {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
[hidefocus] {
	OUTLINE-WIDTH: 0px
}
summary {
	OUTLINE-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
SMALL {
	FONT-SIZE: 100%
}
SUP {
	FONT-SIZE: 83%
}
SUB {
	FONT-SIZE: 83%
}
PRE {
	FONT-FAMILY: inherit
}
CODE {
	FONT-FAMILY: inherit
}
KBD {
	FONT-FAMILY: inherit
}
SAMP {
	FONT-FAMILY: inherit
}
Q:before {
	CONTENT: none
}
Q:after {
	CONTENT: none
}
TEXTAREA {
	OVERFLOW: auto; resize: none
}
LABEL {
	CURSOR: default
}
summary {
	CURSOR: default
}
A {
	CURSOR: pointer
}
BUTTON {
	CURSOR: pointer
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
EM {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
DEL {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
U {
	TEXT-DECORATION: none
}
S {
	TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
BODY {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
TEXTAREA {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
INPUT {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
BUTTON {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
SELECT {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
keygen {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
LEGEND {
	OUTLINE-WIDTH: 0px; FONT: 13px/24px "Î¢ÈíÑÅºÚ",arial,ËÎÌå; COLOR: #333
}
BODY {
	MIN-WIDTH: 1200px; OVERFLOW-X: hidden; BACKGROUND: none transparent scroll repeat 0% 0%
}
A {
	COLOR: #333; -webkit-transition: all 400ms; transition: all 400ms
}
A:hover {
	COLOR: #333; -webkit-transition: all 400ms; transition: all 400ms
}
A:hover {
	COLOR: #ea0000
}
BODY.s1024 {
	MIN-WIDTH: auto
}
.s1024 .w1230 {
	MARGIN: 0px auto; WIDTH: 1000px
}
.s1024 .indexfoot {
	WIDTH: 1000px
}
.s1024 #footer .indexfoot {
	WIDTH: 1000px
}
.s1024 .servicetel .tel {
	LEFT: 0px
}
.s1024 .logoleft {
	WIDTH: 880px
}
.s1024 .nav LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 0px
}
.s1024 .partdiv {
	LEFT: 10px
}
.s1024 .part3 {
	WIDTH: 170px
}
.s1024 .part4 {
	WIDTH: 170px; BACKGROUND-POSITION: 60px 18px
}
.w1230 {
	MARGIN: 0px auto; WIDTH: 1230px
}
.clearfix {
	ZOOM: 1; CLEAR: both; CONTENT: ''
}
.clearfix:after {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.clearfix:before {
	LINE-HEIGHT: 0; DISPLAY: table; CONTENT: ""
}
.clearfix:after {
	CLEAR: both
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.oh {
	OVERFLOW: hidden
}
.dn {
	DISPLAY: none
}
.pr {
	POSITION: relative
}
.pr25 {
	PADDING-RIGHT: 25px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mb10 {
	MARGIN-BOTTOM: 9px
}
.mt60 {
	MARGIN-TOP: 60px
}
#bg-mask {
	Z-INDEX: 110; POSITION: fixed; FILTER: alpha(opacity=80); BACKGROUND-COLOR: #182736; WIDTH: 100%; DISPLAY: none; HEIGHT: 100%; TOP: 0px; -moz-opacity: 0.8; opacity: 0.8; _height: 1110px
}
#warper-mask {
	Z-INDEX: 1100; POSITION: fixed; FILTER: alpha(opacity=10); BACKGROUND-COLOR: #182736; WIDTH: 100%; DISPLAY: none; HEIGHT: 100%; TOP: 0px; -moz-opacity: 0.1; opacity: 0.1; _height: 1110px
}
#warper {
	POSITION: relative; WIDTH: 100%; BACKGROUND: #fff; HEIGHT: 100%; OVERFLOW: hidden; -webkit-transition: all 0.3s; -o-transition: all 0.3s; -moz-transition: all .3s
}
.fixer {
	Z-INDEX: 100; POSITION: fixed; TOP: 0px; LEFT: 0px
}
.fixer.pronav {
	Z-INDEX: 100; POSITION: fixed; TOP: 0px; LEFT: 0px
}
.greyline {
	BORDER-BOTTOM: #f3f3f3 7px solid; WIDTH: 100%; HEIGHT: 1px
}
.sidebar-open .pageside {
	Z-INDEX: 120; DISPLAY: block
}
.sidebar-open #warper {
	LEFT: -495px; -webkit-transform: translateX(-495px); -moz-transform: translateX(-495px); -o-transform: translateX(-495px)
}
.sidebar-open #warper-mask {
	DISPLAY: block
}
#header {
	Z-INDEX: 110; POSITION: fixed; WIDTH: 100%; BACKGROUND: url(../img/header-bg.jpg) no-repeat center bottom; HEIGHT: 109px; TOP: 0px; LEFT: 0px; -webkit-transition: all .3s; transition: all .3s; background-size: 100% auto
}
.rmfixer#header {
	TOP: -200px
}
.logoleftbg {
	Z-INDEX: 0; POSITION: relative; WIDTH: 50%; BACKGROUND: #fff; FLOAT: left; HEIGHT: 106px
}
.logoleft {
	Z-INDEX: 20; POSITION: absolute; WIDTH: 1105px; BACKGROUND: #fff; HEIGHT: 106px; TOP: -106px; LEFT: 0px
}
.logorightbg {
	Z-INDEX: 0; POSITION: relative; WIDTH: 49%; BACKGROUND: #f2f2f2; FLOAT: right; HEIGHT: 106px
}
.logoright {
	Z-INDEX: 20; POSITION: absolute; WIDTH: 120px; HEIGHT: 106px; TOP: -106px; RIGHT: 0px
}
.logo {
	MARGIN-TOP: 32px; WIDTH: 189px; DISPLAY: block; FLOAT: left; HEIGHT: 46px
}
.searchmenu {
	MARGIN-TOP: 60px; WIDTH: 106px; BACKGROUND: url(../img/icon-search-menu.jpg) no-repeat; FLOAT: right; HEIGHT: 19px
}
.btn-search {
	WIDTH: 19px; DISPLAY: block; FLOAT: left; HEIGHT: 19px
}
.btn-menu {
	WIDTH: 19px; DISPLAY: block; FLOAT: left; HEIGHT: 19px; MARGIN-LEFT: 25px
}
.btn-lang {
	WIDTH: 19px; DISPLAY: block; FLOAT: right; HEIGHT: 19px
}
.nav {
	FLOAT: right; HEIGHT: 106px; OVERFLOW: hidden
}
.nav LI {
	POSITION: relative; FLOAT: left; HEIGHT: 52px; PADDING-TOP: 54px
}
.nav LI A {
	Z-INDEX: 2; POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; COLOR: #5d5d5d; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.hbg {
	Z-INDEX: 1; POSITION: absolute; BACKGROUND-COLOR: #ea0000; WIDTH: 100%; BOTTOM: -136px; DISPLAY: none; HEIGHT: 106px; LEFT: 0px; -webkit-transition: all 400ms; transition: all 400ms; -moz-transition: all 400ms
}
.nav LI:hover A {
	COLOR: #fff
}
.nav LI.current A {
	COLOR: #fff
}
.nav LI.current .hbg {
	BOTTOM: 0px; DISPLAY: block
}
.innav {
	PADDING-LEFT: 10px; BACKGROUND: url(../img/nav-icon.png) no-repeat left 50%; HEIGHT: 35px
}
.innav DD {
	LINE-HEIGHT: 35px; MARGIN: 0px 15px; FLOAT: left
}
.innav DD A {
	DISPLAY: block; COLOR: #a0a88a; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.innav DD A:hover {
	COLOR: #ea0000
}
.innav .on A {
	COLOR: #ea0000
}
.innavbg .sNav {
	BACKGROUND: url(../img/nav-bg2.png) no-repeat right bottom; HEIGHT: 146px
}
.innavbg .sNav H3 {
	LINE-HEIGHT: 50px; PADDING-LEFT: 25px; FONT-FAMILY: "NovecentowideMedium"; LETTER-SPACING: -1px; COLOR: #b0ba9c; FONT-SIZE: 34px
}
.suNav .sNav > DIV {
	POSITION: absolute; DISPLAY: none; TOP: 35px; LEFT: 360px
}
.innavbg {
	Z-INDEX: 3; POSITION: absolute; WIDTH: 100%; DISPLAY: none; BACKGROUND: url(../img/nav-bg.png) repeat-x; HEIGHT: 146px; TOP: -146px; LEFT: 0px; -webkit-transition: all .4s; transition: all .4s
}
.openSubNav .innavbg {
	DISPLAY: block; TOP: 109px
}
.innavposit {
	Z-INDEX: 50; WIDTH: 100%; HEIGHT: 115px
}
.nav-stock {
	POSITION: absolute; LINE-HEIGHT: 24px; WIDTH: 210px; HEIGHT: 55px; COLOR: #a7aca0; TOP: 45px; LEFT: 55px
}
.nav-stock STRONG {
	POSITION: absolute; LINE-HEIGHT: 46px; FONT-FAMILY: "NovecentowideMedium"; HEIGHT: 46px; FONT-SIZE: 44px; TOP: 12px; RIGHT: 0px
}
STRONG.red {
	COLOR: #f00
}
STRONG.green {
	COLOR: #2f8457
}
.indexfoot {
	LINE-HEIGHT: 72px; WIDTH: 1137px; HEIGHT: 72px; COLOR: #373737
}
P.cp {
	FLOAT: left; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.stock {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; WIDTH: 100px; PADDING-RIGHT: 26px; BACKGROUND: #dd1010; FLOAT: right; HEIGHT: 72px; COLOR: #fff; PADDING-TOP: 0px
}
.stock P {
	TEXT-ALIGN: right; LINE-HEIGHT: 16px
}
.stock .num {
	LINE-HEIGHT: 32px; PADDING-LEFT: 28px; FONT-FAMILY: "DincondMedium"; COLOR: #fff; FONT-SIZE: 32px
}
.icon-up {
	BACKGROUND: url(../img/icon-up.png) no-repeat left center
}
.flinks {
	POSITION: relative; FLOAT: right; MARGIN-RIGHT: 10px
}
.flinks A {
	MARGIN: 0px 5px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.sharediv {
	MARGIN-TOP: 25px; FLOAT: right; MARGIN-RIGHT: 8px
}
.servicetel {
	POSITION: relative; WIDTH: 215px; HEIGHT: 70px
}
.servicetel P {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.servicetel .tel {
	POSITION: absolute; LINE-HEIGHT: 30px; PADDING-LEFT: 35px; FONT-FAMILY: "NoveDemiBold"; BACKGROUND: url(../img/icon-tel.jpg) no-repeat left center; LETTER-SPACING: -2px; COLOR: #333333; FONT-SIZE: 28px; TOP: 30px; FONT-WEIGHT: normal; LEFT: -35px
}
.lawbox {
	Z-INDEX: 120; POSITION: fixed; PADDING-BOTTOM: 45px; LINE-HEIGHT: 24px; MARGIN-TOP: -275px; PADDING-LEFT: 45px; WIDTH: 1110px; PADDING-RIGHT: 45px; BACKGROUND: #fff; HEIGHT: 450px; COLOR: #818181; MARGIN-LEFT: -600px; FONT-SIZE: 13px; TOP: 50%; PADDING-TOP: 55px; LEFT: 50%
}
H2.lawtitle B {
	PADDING-BOTTOM: 5px; DISPLAY: block; COLOR: #ea0000; FONT-SIZE: 20px
}
H2.lawtitle I {
	FONT-STYLE: normal; DISPLAY: block; LETTER-SPACING: -2px; COLOR: #ff9e00; FONT-SIZE: 28px; FONT-WEIGHT: normal
}
.lawbody {
	MARGIN-TOP: 25px; HEIGHT: 390px; OVERFLOW: auto
}
.lawbody P {
	MARGIN-BOTTOM: 10px
}
.lawbody B {
	DISPLAY: block; COLOR: #ea0000; FONT-SIZE: 14px
}
.btn-mask-close {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 34px; DISPLAY: block; BACKGROUND: url(../img/icon-close.png) no-repeat; HEIGHT: 34px; TOP: -45px; RIGHT: 0px
}
.sitemap-bd {
	PADDING-TOP: 30px
}
.sitemap-bd LI {
	LINE-HEIGHT: 32px; OVERFLOW: hidden
}
.sitemap-bd A {
	LINE-HEIGHT: 32px; MARGIN: 0px 10px; DISPLAY: block; FLOAT: left; COLOR: #818181; FONT-SIZE: 13px
}
.sitemap-bd LI:hover A {
	COLOR: #587cce; FONT-WEIGHT: bold
}
.sitemap-bd H3 {
	FLOAT: left
}
.sitemap-bd H3 A {
	LINE-HEIGHT: 32px; COLOR: #818181; MARGIN-LEFT: 0px; FONT-SIZE: 13px; FONT-WEIGHT: normal; MARGIN-RIGHT: 10px
}
.pageside {
	Z-INDEX: 100; POSITION: fixed; WIDTH: 495px; DISPLAY: none; BACKGROUND: #2c2a25; HEIGHT: 100%; TOP: 0px; RIGHT: 0px
}
.pageside H3 {
	PADDING-LEFT: 48px; COLOR: #fff; PADDING-TOP: 32px
}
.pageside H3 I {
	LINE-HEIGHT: 52px; FONT-STYLE: normal; DISPLAY: block; FONT-FAMILY: "DincondMedium"; FONT-SIZE: 48px; FONT-WEIGHT: normal
}
.pageside H3 B {
	LINE-HEIGHT: 28px; DISPLAY: block; FONT-SIZE: 20px
}
.pageside-link A {
	COLOR: #fff9ee
}
.pageside-link A:hover {
	COLOR: #ea0000
}
.pageside-link {
	MARGIN-TOP: 20px; PADDING-LEFT: 30px; WIDTH: 385px
}
.pageside-link DT {
	PADDING-LEFT: 20px; DISPLAY: block
}
.pageside-link .sec {
	BACKGROUND: url(../img/icon-side-dir.jpg) no-repeat left 50%
}
.pageside-link DT A {
	DISPLAY: block; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.pageside-link DD {
	FLOAT: left; MARGIN-LEFT: 20px
}
.pageside-link DL {
	PADDING-BOTTOM: 10px; OVERFLOW: hidden
}
.pageside-link DD A {
	DISPLAY: block; COLOR: #ccc; FONT-SIZE: 12px
}
.hot-tel {
	MARGIN-TOP: 10px; PADDING-LEFT: 15px; COLOR: #fff
}
.hot-tel P {
	PADDING-LEFT: 30px; BACKGROUND: url(../img/icon-side-tel.jpg) no-repeat left 50%
}
.hot-tel H4 {
	LINE-HEIGHT: 52px; PADDING-LEFT: 30px; FONT-FAMILY: "DincondMedium"; FONT-SIZE: 48px; FONT-WEIGHT: normal
}
.smallscreen .pageside H3 I {
	LINE-HEIGHT: 24px; FONT-SIZE: 24px
}
.smallscreen .pageside H3 B {
	LINE-HEIGHT: 20px; FONT-SIZE: 16px
}
.smallscreen .pageside H3 {
	PADDING-TOP: 10px
}
.smallscreen .pageside-link {
	MARGIN-TOP: 10px; WIDTH: 420px
}
.smallscreen .pageside-link DL {
	PADDING-BOTTOM: 0px
}
.smallscreen .hot-tel {
	MARGIN-TOP: 0px
}
.smallscreen .hot-tel P {
	PADDING-LEFT: 35px
}
.smallscreen .hot-tel H4 {
	LINE-HEIGHT: 30px; FONT-SIZE: 28px
}
.gfwx {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 150px; BOTTOM: 60px; HEIGHT: 150px; VISIBILITY: hidden; LEFT: -45px; -webkit-transition: all .3s; transition: all .3s; opacity: 0
}
.gfwx IMG {
	WIDTH: 150px
}
.showgfwx .gfwx {
	VISIBILITY: visible; opacity: 1
}
.searchitem {
	BORDER-BOTTOM: #4c4a4f 8px solid; POSITION: absolute; BORDER-LEFT: #4c4a4f 8px solid; BACKGROUND-COLOR: #4c4a4f; WIDTH: 240px; DISPLAY: none; HEIGHT: 44px; OVERFLOW: hidden; BORDER-TOP: #4c4a4f 8px solid; TOP: -100%; RIGHT: 0px; BORDER-RIGHT: #4c4a4f 8px solid; -webkit-transition: top 300ms; transition: top 300ms
}
.searchitem INPUT {
	PADDING-BOTTOM: 11px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 20px; WIDTH: 200px; PADDING-RIGHT: 20px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 20px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 11px
}
.hovers.searchitem {
	DISPLAY: block; TOP: 0px
}
.langdiv {
	Z-INDEX: 120; POSITION: fixed; WIDTH: 100%; DISPLAY: none; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.langdiv .w1230 {
	HEIGHT: 100%
}
.langbox {
	Z-INDEX: 130; POSITION: absolute; MARGIN-TOP: -55px; WIDTH: 701px; HEIGHT: 111px; MARGIN-LEFT: -350px; TOP: 50%; LEFT: 50%
}
.langbox A {
	WIDTH: 300px; DISPLAY: block; FLOAT: left; HEIGHT: 111px
}
.lang-cn {
	BORDER-LEFT: #8a8d94 1px solid; BACKGROUND: url(../img/lang-cn.png) no-repeat right center
}
.lang-cn:hover {
	BACKGROUND: url(../img/lang-cn-hover.png) no-repeat right center
}
.lang-en {
	BACKGROUND: url(../img/lang-en.png) no-repeat left center
}
.lang-en:hover {
	BACKGROUND: url(../img/lang-en-hover.png) no-repeat 0px center
}
