<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="breadcrumbs" class="breadcrumbs">
  <p class="w1200"><em class=" left"></em>
    <span class="ml10">您当前的位置  :
        <a th:href="${gwMenuList[0].path}">首页</a>>
        <a th:href="${currentPrimaryMenu.path}">[[${currentPrimaryMenu.name}]]</a>>
        <a th:href="${currentMenu.path}">[[${currentMenu.name}]]</a>
      </span></p>
</div>
</html>
