<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="header" class="header">
  <div class="w1200 clearBoth clearfix"> <a class="logo left" href="/api/duohui/guanwang/index"><img th:src="@{/duohui/guanwang/images/logo.jpg}" border="0"></a>
    <!--menu start-->
    <ul class="menu right" id="menu">
      <li class="on" th:each="primaryMenu : ${gwMenuList}">
        <a class=" " th:href="${primaryMenu.type=='链接'?primaryMenu.path:'javascript:void(0)'}" th:target="${primaryMenu.type=='链接'?'_blank':''}">[[${primaryMenu.name}]]</a>
        <ul class="submenu">
          <li th:each="secondaryMenu : ${primaryMenu.children}"><a th:href="${secondaryMenu.path + '?menuId=' + secondaryMenu.id}" target="_blank">[[${secondaryMenu.name}]]</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</html>
