<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
  <meta charset="utf-8"/>
  <title>[[${configMap['GwIndex_systemName']}]]</title>
  <meta name="keywords" th:content="${configMap['GwIndex_systemName']}" />
  <meta name="description" th:content="${configMap['GwIndex_systemName']}" />
  <link th:href="@{/duohui/guanwang/css/base1.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/duohui/guanwang/css/main_001.css}" rel="stylesheet" type="text/css">
  <link rel="stylesheet"  th:href="@{/duohui/guanwang/css/animate.min.css}">
  <script type="text/javascript" th:src="@{/duohui/guanwang/js/jquery-1.11.3.min.js}"></script>
  <script th:src="@{/duohui/guanwang/js/wow.min.js}"></script>
</head>
</html>
