<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.CommonMapper">
    <update id="increaseOrder">
        update ${tableName} as table1
        join ${tableName} as table2
        on table1.sequence = table2.sequence+1
        <if test="fieldCode != null and fieldCode !=''">
            and table1.${fieldCode} = table2.${fieldCode}
        </if>
        set table1.sequence = table2.sequence,
        table2.sequence = table1.sequence
        where table1.id = #{id}
    </update>
    <update id="increaseOrderBehindById">
        UPDATE ${tableName} as table1
        JOIN ${tableName} as table2 on table2.sequence &lt; table1.sequence
        <if test="fieldCode != null and fieldCode !=''">
            and table1.${fieldCode} = table2.${fieldCode}
        </if>
        SET table1.sequence = table1.sequence - 1
        where table2.id = #{id}
    </update>
</mapper>
