<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysAccountMapper">

    <resultMap type="cn.kunli.una.pojo.system.SysAccount" id="BaseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--条件查询（返回封装类）-->
    <select id="selectBySelective" resultMap="BaseResultMap">
        select record.*
        ,sysDepartment.name as departmentTitle
        ,sysCompany.name as companyName
        ,(select group_concat(sysRole.name SEPARATOR ',')
        from sys_role as sysRole where sysRole.is_delete = 0 and FIND_IN_SET(sysRole.id,record.role_id)) as roleName
        from sys_account as record
        left join sys_department as sysDepartment on record.department_id = sysDepartment.id
        left join sys_company as sysCompany on record.company_id = sysCompany.id
        <where>
            <include refid="cn.kunli.una.handler.BasicMapper.baseCondition"/>
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name)) like '%${record.keyword}%'
            </if>
            <if test="record.username != null and record.username != ''">
                and record.username = #{record.username}
            </if>
            <if test="record.originDcode != null and record.originDcode != ''">
                and record.origin_dcode = #{record.originDcode}
            </if>
            <if test="record.statusDcode != null and record.statusDcode != ''">
                and record.status_dcode = #{record.statusDcode}
            </if>
            <if test="record.companyId != null and record.companyId != ''">
                and FIND_IN_SET(record.company_id,#{record.companyId})
            </if>
            <if test="record.roleIds != null and record.roleIds != ''">
                and FIND_IN_SET(#{record.roleIds},record.role_id)
            </if>
            <if test="record.departmentId != null and record.departmentId != ''">
                and record.department_id = #{record.departmentId}
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BasicMapper.baseOrder"/>
    </select>

    <select id="selectByIdsCollection" resultType="cn.kunli.una.pojo.system.SysAccount">
        select record.id
             , record.name
             , dutyDictionary.name as dutyDname
             , sysDepartment.name  as departmentTitle
        from sys_account as record
                 LEFT JOIN sys_dictionary as dutyDictionary on record.duty_dcode = dutyDic.code
                 left join sys_department as sysDepartment on record.department_id = sysDepartment.id
        where FIND_IN_SET(record.id, #{ids})
    </select>
</mapper>
