<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysConfigurationMapper">

    <resultMap type="cn.kunli.una.pojo.system.SysConfiguration" id="BaseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
    </resultMap>
    <!--实体类数据库字段-->
    <sql id="columnName" >
        id
        ,name
        ,platform_dcode
        ,code
        ,description
        ,value
        ,company_id
        ,remark
        ,creator_id
        ,create_time
        ,modifier_id
        ,modify_time
        ,is_delete
        ,type
    </sql>

    <!--实体类传值语句-->
    <sql id="columnValue" >
        #{record.id}
        ,#{record.name}
        ,#{record.platformDcode}
        ,#{record.code}
        ,#{record.description}
        ,#{record.value}
        ,#{record.companyId}
        ,#{record.remark}
        ,#{record.creatorId}
        ,#{record.createTime}
        ,#{record.modifierId}
        ,#{record.modifyTime}
        ,#{record.isDelete}

        ,#{record.type}
    </sql>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_configuration
        (<include refid="columnName" />)values
        <foreach collection="recordList" item="record" separator=",">
            (<include refid="columnValue" />)
        </foreach>
    </insert>
    <!--条件查询-->
    <select id="selectBySelective" resultMap="BaseResultMap">
        select record.*

        ,sdic.name as moduleDname
        ,sysCompany.name as companyName
        from sys_configuration as record

        left join sys_dictionary as sdic on sdic.code = record.module_dcode
        left join sys_company as sysCompany on sysCompany.id = record.company_id
        <where>
            <include refid="cn.kunli.una.handler.BasicMapper.baseCondition" />
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name,sysAccount.name)) like '%${record.keyword}%'
            </if>
            <if test="record.code != null and record.code != ''">
                and record.code = #{record.code}
            </if>
            <if test="record.companyId != null and record.companyId != ''">
                and record.company_id = #{record.companyId}
            </if>
            <if test="record.moduleDcode != null and record.moduleDcode != ''">
                and record.module_dcode = #{record.moduleDcode}
            </if>
            <if test="record.moduleDcode != null and record.moduleDcode != ''">
                and sysDictionary.code = #{record.moduleDcode}
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BasicMapper.baseOrder" />
    </select>

</mapper>
