<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysDataMapper">

    <resultMap type="cn.kunli.una.pojo.sys.SysData" id="BaseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--条件查询（返回封装类）-->
    <select id="selectBySelective" resultMap="BaseResultMap">
        select record.*
        from sys_data as record
        <where>
            <include refid="cn.kunli.una.handler.BasicMapper.baseCondition"/>
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name)) like '%${record.keyword}%'
            </if>
            <if test="record.entityId != null and record.entityId != ''">
                and record.entity_id = #{record.entityId}
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BasicMapper.baseOrder"/>
    </select>
</mapper>
