<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysDepartmentMapper">

    <resultMap type="cn.kunli.una.pojo.sys.SysDepartment" id="BaseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
    </resultMap>
    <!--实体类数据库字段-->
    <sql id="columnName" >
        id
        ,name
        ,company_id
        ,department_manager_id
        ,party_commissioner_id
        ,office_id
        ,intranet_ip_min
        ,intranet_ip_max
        ,remark
        ,creator_id
        ,create_time
        ,modifier_id
        ,modify_time
        ,is_delete
        ,
        ,dept_name_alias
        ,longitude
        ,latitude
        ,level_dcode
        ,sort_order
    </sql>

    <!--实体类传值语句-->
    <sql id="columnValue" >
        #{record.id}
        ,#{record.name}
        ,#{record.companyId}
        ,#{record.departmentManagerId}
        ,#{record.partyCommissionerId}
        ,#{record.officeId}
        ,#{record.intranetIpMin}
        ,#{record.intranetIpMax}
        ,#{record.remark}
        ,#{record.creatorId}
        ,#{record.createTime}
        ,#{record.modifierId}
        ,#{record.modifyTime}
        ,#{record.isDelete}

        ,#{record.deptNameAlias}
        ,#{record.longitude}
        ,#{record.latitude}
        ,#{record.levelDcode}
        ,#{record.sort_order}
    </sql>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_department
        (<include refid="columnName" />)values
        <foreach collection="recordList" item="record" separator=",">
            (<include refid="columnValue" />)
        </foreach>
    </insert>
    <!--条件查询-->
    <select id="selectBySelective" resultMap="BaseResultMap">
        select record.*,company.name as companyName

        ,company.name as companyName
        ,deptUser.name as departmentManagerName
        from sys_department as record

        left join sys_user as deptUser on deptUser.id = record.department_manager_id
        left join sys_company as company on company.id = record.company_id
        <where>
            <include refid="cn.kunli.una.handler.BasicMapper.baseCondition" />
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name,sysAccount.name)) like '%${record.keyword}%'
            </if>
            <if test="record.companyId != null and record.companyId !=''">
                and FIND_IN_SET(record.company_id,#{record.companyId})
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BasicMapper.baseOrder" />
    </select>

</mapper>
