<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysExceptionMapper">

    <resultMap type="cn.kunli.una.pojo.system.SysException" id="BaseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--条件查询公共语句-->
    <sql id="baseQuery">
        select record.*

        from sys_exception as record

        <where>
            <include refid="cn.kunli.una.handler.BaseMapper.baseCondition" />
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name,sysAccount.name)) like '%${record.keyword}%'
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BaseMapper.baseOrder" />
    </sql>

    <!--实体类数据库字段-->
    <sql id="columnName" >
        id
        ,name
        ,account_username
        ,account_password
        ,error_info
        ,in_param
        ,
        ,is_delete
        ,remark
        ,creator_id
        ,create_time
        ,modifier_id
        ,modify_time
    </sql>

    <!--实体类传值语句-->
    <sql id="columnValue" >
        #{record.id}
        ,#{record.name}
        ,#{record.accountUsername}
        ,#{record.accountPassword}
        ,#{record.errorInfo}
        ,#{record.inParam}

        ,#{record.isDelete}
        ,#{record.remark}
        ,#{record.creatorId}
        ,#{record.createTime}
        ,#{record.modifierId}
        ,#{record.modifyTime}
    </sql>










    <!--条件查询（返回实体类）-->
    <select id="selectBySelective" resultType="cn.kunli.una.pojo.system.SysException">
        <include refid="baseQuery" />
    </select>

    <!--条件查询（返回封装类）-->
    <select id="selectResultMapBySelective" resultMap="BaseResultMap">
        <include refid="baseQuery" />
    </select>

    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_exception
        (<include refid="columnName" />)values
        <foreach collection="recordList" item="record" separator=",">
            (<include refid="columnValue" />)
        </foreach>
    </insert>

</mapper>
