<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysFieldMapper">
    <resultMap id="BaseResultMap" type="cn.kunli.una.pojo.system.SysField">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="format_check_type_dcode" jdbcType="VARCHAR" property="formatCheckTypeDcode"></result>
        <!--<association property="formatCheckTypeDcode" column="format_check_type_dcode" javaType="java.lang.String"
                     select="cn.kunli.una.mapper.SysDictionaryMapper.selectValueByIdsAssociation"/>-->
    </resultMap>

    <select id="selectBySelective" resultMap="BaseResultMap">
        select record.*
        ,sysEntity.name as entityName
        ,optionEntity.path as optionEntityPath
        ,amtSdic.name as assignmentModeDname
        ,amtPrtDictionary.name as assignmentTypeDname
        ,dptSdic.name as displayModeDname
        ,(SELECT GROUP_CONCAT(selectParentField.id) FROM sys_field as selectParentField WHERE selectParentField.select_parent_id = record.id) as selectSubIds
        ,(select group_concat(formatDictionary.value SEPARATOR ',')
        from sys_dictionary as formatDictionary where formatDictionary.is_delete = 0 and FIND_IN_SET(formatDictionary.code,record.format_check_type_dcode)) as formatCheckTypeDcode
        ,(select group_concat(dataDetecDictionary.value SEPARATOR ',')
        from sys_dictionary as dataDetecDictionary where dataDetecDictionary.is_delete = 0 and FIND_IN_SET(dataDetecDictionary.code,record.data_check_type_dcode)) as dataCheckTypeDcode
        from sys_field as record
        left join sys_entity as sysEntity on sysEntity.id = record.entity_id
        left join sys_entity as optionEntity on optionEntity.id = record.option_entity_id
        LEFT JOIN sys_dictionary as amtSdic on amtSdic.code = record.assignment_mode_dcode
        LEFT JOIN sys_dictionary as amtPrtDictionary on amtPrtDictionary.id = amtSdic.parent_id
        LEFT JOIN sys_dictionary as dptSdic on dptSdic.code = record.display_mode_dcode
        <where>
            <include refid="cn.kunli.una.handler.BasicMapper.baseCondition" />
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name,sysEntity.name,amtSdic.name)) like '%${record.keyword}%'
            </if>
            <if test="record.entityId != null and record.entityId != ''">
                and record.entity_id = #{record.entityId}
            </if>
            <if test="record.isEffect != null">
                and record.is_effect = #{record.isEffect}
            </if>
            <if test="record.isImport != null">
                and record.is_import = #{record.isImport}
            </if>
            <if test="record.isExport != null">
                and record.is_export = #{record.isExport}
            </if>
            <if test="record.isUpdate != null">
                and record.is_update = #{record.isUpdate}
            </if>
            <if test="record.isBatchUpdate != null">
                and record.is_batch_update = #{record.isBatchUpdate}
            </if>
            <if test="record.entityName != null and record.entityName != ''">
                and sysEntity.name = #{record.entityName}
            </if>
            <if test="record.assignmentTypeDname != null and record.assignmentTypeDname != ''">
                and amtPrtDictionary.name = #{record.assignmentTypeDname}
            </if>
            <if test="record.assignmentModeDname != null and record.assignmentModeDname != ''">
                and amtSdic.name = #{record.assignmentModeDname}
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BasicMapper.baseOrder" />
    </select>
    <select id="selectByEntityIdCollection" resultMap="BaseResultMap">
        select record.*
        ,sysEntity.name as entityName
        ,optionEntity.path as optionEntityPath
        ,amtSdic.name as assignmentModeDname
        from sys_field as record
        left join sys_entity as sysEntity on sysEntity.id = record.entity_id
        LEFT JOIN sys_dictionary as amtSdic on amtSdic.code = record.assignment_mode_dcode
        left join sys_entity as optionEntity on optionEntity.id = record.option_entity_id
        where record.entity_id = #{entityId}
        and record.is_effect = 1
        ORDER BY record.sort_order
    </select>
</mapper>
