<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kunli.una.mapper.SysRelationMapper">
    <resultMap id="BaseResultMap" type="cn.kunli.una.pojo.system.SysRelation">
        <id column="id" jdbcType="VARCHAR" property="id"/>
    </resultMap>

    <!--实体类数据库字段-->
    <sql id="columnName" >
        id
        ,name
        ,parent_entity_id
        ,sub_entity_id
        ,related_field_id
        ,parent_data_field_id
        ,parent_data_value
        ,remark
        ,creator_id
        ,create_time
        ,modifier_id
        ,modify_time
        ,is_delete
        ,
    </sql>

    <!--实体类传值语句-->
    <sql id="columnValue" >
        #{record.id}
        ,#{record.name}
        ,#{record.parentEntityId}
        ,#{record.subEntityId}
        ,#{record.relatedFieldId}
        ,#{record.parentDataFieldId}
        ,#{record.parentDataValue}
        ,#{record.remark}
        ,#{record.creatorId}
        ,#{record.createTime}
        ,#{record.modifierId}
        ,#{record.modifyTime}
        ,#{record.isDelete}

    </sql>


    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into sys_relation
        (<include refid="columnName" />)values
        <foreach collection="recordList" item="record" separator=",">
            (<include refid="columnValue" />)
        </foreach>
    </insert>

    <select id="selectBySelective" resultMap="BaseResultMap">
        select
        record.*
        ,prtSysEntity.name as parentEntityName
        ,prtSysEntity.path as parentEntityPath
        ,subSysEntity.name as subEntityName
        ,relatedField.assignment_code as relatedFieldCode
        ,relatedField.name as relatedFieldName
        ,parentDataField.assignment_code as parentDataFieldCode
        ,parentDataField.name as parentDataFieldName
        from sys_relation as record
        left join sys_entity as prtSysEntity on prtSysEntity.id = record.parent_entity_id
        left join sys_entity as subSysEntity on subSysEntity.id = record.sub_entity_id
        left join sys_field as relatedField on relatedField.id = record.related_field_id
        left join sys_field as parentDataField on parentDataField.id = record.parent_data_field_id
        left join sys_user as sysAccount on record.creator_id = sysAccount.id
        <where>
            <include refid="cn.kunli.una.handler.BasicMapper.baseCondition" />
            <if test="record.keyword != null and record.keyword !=''">
                and (CONCAT_WS('|',record.name)) like '%${record.keyword}%'
            </if>
            <if test="record.parentEntityId != null and record.parentEntityId != ''">
                and record.parent_entity_id = #{record.parentEntityId}
            </if>
            <if test="record.subEntityId != null and record.subEntityId != ''">
                and record.sub_entity_id = #{record.subEntityId}
            </if>
            <if test="record.relatedFieldName != null and record.relatedFieldName != ''">
                and relatedField.name = #{record.relatedFieldName}
            </if>
        </where>
        <include refid="cn.kunli.una.handler.BasicMapper.baseOrder" />
    </select>
    <select id="selectBySubEntityIdCollection" resultType="cn.kunli.una.pojo.system.SysRelation">
        select record.*
        ,prtSysEntity.path as parentEntityPath
        ,prtSysEntity.name as parentEntityName
        ,relatedField.assignment_code as relatedFieldCode
        ,parentDataField.assignment_code as parentDataFieldCode
        from sys_relation as record
        left join sys_entity as prtSysEntity on prtSysEntity.id = record.parent_entity_id
        left join sys_field as relatedField on relatedField.id = record.related_field_id
        left join sys_field as parentDataField on parentDataField.id = record.parent_data_field_id
        where record.sub_entity_id = #{record.id} and record.is_delete = 0
    </select>
</mapper>
